<ul class="{{type}}-list">
    <li
        class="result results-item category-{{::result.properties.category.id}}"
        id="result-category-{{::result.uid}}"
        ng-repeat="result in elements | filter: filter:true | orderBy: ['randomize', 'properties.begin_date', 'properties.stepNumber', 'properties.name'] track by result.luid"
        ng-class="{'no-theme': result.properties.themes.length === 0, 'not-in-viewport': !result.isOnMap && (type !== 'aside')}">

        <div class="result-fav-control fav-or-not" ng-click="toggleFavorites(result)" ng-class="{isFav: isInFavorites(result)}">
            <i class="result-fav-icon fa fa-{{::$root.favoriteIcon}}"></i>
        </div>
        <div class="result-visual" ng-class="::{ empty: !result.properties.picture.url }" >
            <img data-src="{{::result.properties.picture.url}}" ng-alt="{{::result.properties.picture.title}}">
        </div>
        <div class="result-actions">
            <div>
                <div class="result-action result-category-icon  category-{{::result.properties.category.id}}-bg" tooltip-placement="top" tooltip="{{::result.properties.category.label}}">
                    <img ng-if="!result.properties.stepNumber && result.properties.category.pictogram" data-src="{{::result.properties.category.pictogram}}" ng-alt="{{::category.label}}">
                    <span class="step-number" ng-if="result.properties.stepNumber">{{::result.properties.stepNumber}}</span>
                </div>
            </div>
            <a class="result-action result-map-focus category-{{::result.properties.category.id}}-bg-ld" ng-click="mapFocusOn(result)" href="#"><img data-src="/images/icons/gps-symbol.svg"></a>
            <a
              class="result-action result-book category-{{::result.properties.category.id}}-bg-ld"
              ng-if="::enabBooking && result.properties.reservation_system && result.properties.reservation_id"
              ui-sref="layout.detail({catSlug: result.properties.category.slug, slug: result.properties.slug, action: 'book'})"
            ><img data-src="/images/icons/shopping-cart.svg"></a>
            <a class="result-action result-view-details  category-{{::result.properties.category.id}}-bg-ld" ui-sref="layout.detail({catSlug: result.properties.category.slug, slug: result.properties.slug})">{{:: 'SHOW_MORE' | translate }}</a>
        </div>

        <h1 class="result-title title">
            {{::result.properties.name}}
        </h1>

        <div class="result-infos infos">
            <span class="begin-date" ng-if="::result.properties.begin_date">{{::result.properties.begin_date | date:'dd/MM/yyyy'}}</span>
            <span class="end-date"   ng-if="::result.properties.end_date && result.properties.begin_date !== result.properties.end_date">{{::result.properties.end_date | date:'dd/MM/yyyy'}}</span>
            <span class="cities"     ng-if="::result.properties.cities[0]">{{::result.properties.cities[0].name}}</span>
            <span class="duration"   ng-if="::result.properties.duration_pretty">{{::result.properties.duration_pretty}}</span>
            <span class="length"     ng-if="::result.properties.length">{{::parseLength(result.properties.length)}}</span>
            <span class="ascent"     ng-if="::result.properties.ascent">{{::'ASCENT_S' | translate}} {{result.properties.ascent}}&nbsp;m</span>
            <span class="depth"      ng-if="::result.properties.depth">{{::'DEPTH_S' | translate}} {{result.properties.depth}}&nbsp;m</span>
            <span class="difficulty" ng-if="::result.properties.difficulty">{{::result.properties.difficulty.label}}</span>
            <span class="levels"     ng-if="::result.properties.levels" ng-repeat="level in ::result.properties.levels">{{::level.label}}</span>
            <span class="type1"      ng-if="::result.properties.type1[0] && (result.properties.contentType !== 'trek' || result.properties.contentType !== 'dive')">{{::result.properties.type1[0].name}}</span>
            <span class="type2"      ng-if="::result.properties.type2[0] && (result.properties.contentType !== 'trek' || result.properties.contentType !== 'dive')">{{::result.properties.type2[0].name}}</span>
            <span class="target"     ng-if="::result.properties.target_audience">{{::result.properties.target_audience}}</span>
        </div>

        <div class="result-themes themes" ng-if="::result.properties.themes.length" ng-class="::{'is-approved': result.properties.approved}">
            <div class="result-themes-label">{{:: 'THEMES' | translate }}</div>
            <ul class="result-themes-list">
                <li class="result-theme" ng-repeat="theme in ::result.properties.themes track by theme.label" tooltip-placement="top" tooltip="{{::theme.label}}">
                    <img ng-if="theme.pictogram" data-src="{{::theme.pictogram}}" ng-alt="{{::theme.label}}">
                </li>
            </ul>
        </div>

        <div class="approved" ng-if="::result.properties.approved">
            <img data-src="{{::approved}}" ng-alt="{{::approvedLabel}}">
        </div>

    </li>
</ul>
