{% load static i18n leaflet_tags rando_tags localeurl_tags %}
{% include "_navigation.html" with title=object.title %}

{% if pjax %}
  <title>{{ TITLE }} - {{ object.title }}</title>
{% endif %}

<div id="mobile-header-detail">
  <a class="pjax" href="{% locale_url request.LANGUAGE_CODE "trekking:home" %}"><i class="icon-chevron-left icon-white"></i><h1>{% trans "Back to list" %}</h1></a>
</div>

<div class="flatpage-content page-content">
    <div class="page-inner-content">
        {{ object.content|safe }}
    </div>
</div>