{% load static i18n leaflet_tags trekking_tags localeurl_tags %}
{% include "trekking/navigation_fragment.html" with title=object.title %}

{% if pjax %}
  <title>{{ TITLE }} - {{ object.title }}</title>
{% endif %}

<div id="mobile-header-detail">
  <a class="pjax" href="{% locale_url request.LANGUAGE_CODE "trekking:home" %}"><i class="icon-chevron-left icon-white"></i><h1>{% trans "Back to list" %}</h1></a>
</div>

<div class="flatpage-content">
    <div class="row-fluid">
        {% include "trekking/fake_searchtabs_fragment.html" %}
    </div>
    <div id="flatpage-container-content">
        {{ object.content|safe }}
    </div>
</div>