.leaflet-sidebar & {
  width: 300px;
}

.leaflet-sidebar.right.visible ~ .leaflet-right {
  right: 300px;
}

#pois-sidebar {

  padding: 8px;
  background-color: fade(@white, 80%);

  h5 {

    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.9em;
    line-height: 0.9em;

    background-image: url(../img/switcher-pois.svg);
    background-repeat: no-repeat;
    background-size: 1em;
    padding-left: 1.2em;
    background-position: 0% 50%;
  }

  .pois-list {


    .poi {

      margin-top: 10px;
      padding-bottom: 10px;

      &.active {
        color: @mainColor;
      }

      .title {
        .name {
          font-size: 1.2em;
          font-weight: bold;
          white-space: nowrap;
          display: inline-block;
          text-overflow: ellipsis;
          overflow: hidden;
          position: absolute;
          left: 40px;
          right: 5px;
        }
      }

      .picture {
        margin-bottom: 0px;
        position: relative;

        img {
          margin: 0 auto;
          width: 100%;
        }

        .carousel-caption {
          padding: 7px;
          font-size: 0.8em;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;

          p {
            line-height: 1em;
          }
        }
      }
    }

  }
}
