<!-- <ul class="parternships-left">
    <li><a href="http://makina-corpus.com/" title="makina-corpus.com"><img src="images/logo_makina-corpus.png" alt="Geotrek est réalisé par Makina Corpus"></a></li>
</ul>
<ul class="legals">
    <li><span>Copyright &copy; 2015 - Makina Corpus</span></li>
</ul>
<ul class="parternships-right">
    <li><a href="http://geotrek.fr/" title="geotrek.fr"><img src="images/logo-geotrek.svg" alt="Retrouver toute les infos sur geotrek.fr"></a></li>
</ul> -->

<div class="links">
    <div class="www"><a href="http://makina-corpus.com/">http://makina-corpus.com/</a></div>
    <div class="follow-us">
        <span class="label">Suivez-nous !</span>
        <a class="square fb" href="https://www.facebook.com/Parc.national.des.Cevennes"><span>FB</span></a>
        <a class="square tw" href="https://twitter.com/PnCevennes"><span>TW</span></a>
    </div>
</div>

<ul class="footer-menu">
    <li><span>Copyright &copy; 2015 - Makina Corpus</span></li>
</ul>
