<div class="links">
    <div class="www"><a href="http://makina-corpus.com/" target="_blank">http://makina-corpus.com/</a></div>
    <div class="follow-us">
        <span class="label">Suivez-nous !</span>
        <a class="square fb" href="https://www.facebook.com/Makina-Corpus-140495979317895"><span>FB</span></a>
        <a class="square tw" href="https://twitter.com/makina_corpus"><span>TW</span></a>
    </div>
</div>

<ul class="footer-menu">
    <li><span>Copyright &copy; 2015 - Makina Corpus</span></li>
</ul>
