.DS_Store
.sass-cache
.log
Desktop.ini
node_modules
npm-debug.log

# Prevent js bundle and compiled sass to be pushed
src/rando.js
src/rando-vendors.js
src/rando.css
src/rando-vendors.css


# Prevent custom files to be pushed
#
# Config files
src/app/config/configs.js
src/app/config/styles/_config.scss
#
# Custom Module Files
src/app/custom/directives.js
src/app/custom/controllers.js
src/app/custom/services.js
#
# Custom po files
src/app/translation/po/*-custom.po
