*.sublime*
/.Python
*~
*.pyc
bin/
src/
dist/
include/
lib/
local/
build/
var/
rando/settings/prod.py
rando.egg-info/
rando/var/
.buildout/
.installed.cfg
.mr.developer.cfg
aaa/
/develop-eggs/
kgs.cfg
makina-states.geotrek_rando-deploy.log
salt.cfg
/var
