.DS_Store
.sass-cache
.log
Desktop.ini
node_modules
npm-debug.log

# Prevent js bundle and compiled sass to be pushed
src/rando.js
src/rando-vendors.js
src/rando.css


# Prevent custom config to be pushed
src/app/_custo.scss
src/app/config/configs.js
src/app/config/styles/_config.scss

# Prevent custom unempty po files to be commited
src/app/translation/po/fr-custom.po
src/app/translation/po/en-custom.po