#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    font-size: 0.8rem;
    line-height: 0.8rem;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 0 .8rem;
    z-index: 1;
    @media (max-width: 767px) {
        display: none;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        height: 10vh;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        display: inline-flex;
        flex-direction: column;
        align-content: center;
        @media (max-width: 500px) {
            width: 100%;
        }
        &:first-child {
            @media (min-width: 500px) {
                justify-content: flex-start;
                text-align: left;
            }
        }
        &:last-child {
            @media (min-width: 500px) {
                justify-content: flex-end;
                text-align: right;
            }
        }
    }
    li {
        line-height: 10vh;
        padding: 0 0.4rem;
    }
    img {
        height: 2.5rem;
        width: auto;
    }
    .parternships-left {

    }
    .legals {
        width: 50%;
        margin: auto;
        @media (max-width: 500px) {
            width: 25%;
            order: -1;
        }
    }
}
