<div class="detailsview-pane warning-panel" ng-class="{opened: showWarningPanel}">
    <h4>{{'WARNING' | translate}}</h4>
    <div class="close" ng-click="close()">
        <span>x</span>
    </div>
    <form name="warningForm" ng-show="!warningStatus">

        <div class="form-group" ng-if="warningEnableSuricate && warningActivities.length !== 0">
            <label for="warning-activity">{{'FORM_ACTIVITY' | translate}}</label>
            <select id="warning-activity" class="form-control" ng-model="warning.activity">
                <option ng-repeat="activity in warningActivities" value="{{activity.id}}">{{activity.label}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="warning-category">{{'FORM_CATEGORY' | translate}}</label>
            <select id="warning-category" class="form-control" ng-model="warning.category" required="">
                <option ng-repeat="category in warningCategories" value="{{category.id}}">{{category.label}}</option>
            </select>
        </div>
        <div class="form-group" ng-if="warningEnableSuricate && warningMagnitudeProblems.length !== 0">
            <label for="warning-magnitudeProblem">{{'FORM_MAGNITUDE_PROBLEM' | translate}}</label><br>
            <label ng-repeat="magnitudeProblem in warningMagnitudeProblems" class="radio-inline">
                <input type="radio" name="magnitudeProblem" value="{{magnitudeProblem.id}}"
                    id="{{magnitudeProblem.id}}">
                    {{magnitudeProblem.label}}
            </label>
            </select>
        </div>
        <div class="form-group">
            <label for="warning-comment">{{'FORM_COMMENT' | translate}}</label>
            <textarea id="warning-comment" class="form-control" ng-model="warning.comment" required=""></textarea>
        </div>
        <div class="form-group">
            <label for="warning-email">{{'FORM_EMAIL' | translate}}</label>
            <input id="warning-email" class="form-control" type="email" ng-model="warning.email" required="">
        </div>
        <div class="form-group">
            <label>{{'FORM_MAP' | translate}}</label>
            <div id="warning-map"></div>
            <input id="warning-location" type="hidden" ng-model="warning.location" required="">
        </div>
        <input type="submit" class="btn btn-default" value="{{'FORM_SEND' | translate}}" ng-click="sendWarning()">

        <p class="help-block rgpd-disclaimer">
            {{'REPORT_GPDR_DISCLAIMER' | translate}}
        </p>
    </form>
    <div class="alert alert-success" role="alert" ng-show="warningStatus === 'success'">
        <div class="icon">
            <i class="fa fa-check-circle-o"></i>
        </div>
        <p>{{'SUCCESS_WARNING' | translate}}</p>
    </div>
    <div class="alert alert-danger" role="alert" ng-show="warningStatus === 'error'">
        <div class="icon">
            <i class="fa fa-times-circle-o"></i>
        </div>
        <p>{{'ERROR_WARNING' | translate}}</p>
    </div>
</div>
