/**
 * Detail map pane
 */

.detail-map {
    z-index: 3;

    padding: 0;

    transition: width .3s ease, left .3s ease;

    background: $light-grey;

    &.leaflet-container + .interests {
        z-index: 2147483647;
    }
}
