.detail-page {
    height: 100%;
    width: 100%;
    .top-part {
        margin: 1% 0 0;
        width: 100%;
        height: 39%;
        position: relative;
        .cat-icon {
            height: 4em;
            width: 4em;
            position: absolute;
            z-index: 8;
            top: 0;
            left: 0;
            background: $primary-color;
            svg {
                fill: white;
            }
        }
        .pictures {
            height: 100%;
            overflow: hidden;
            padding: 0;
            border-right: 15px solid $primary-color;
            ul {
               list-style: none;
               padding: 0;
                li {
                    display: block;
                    img {
                        width: 100%;
                        height: auto;
                    }
               } 
            }
        }
        .main-infos {
            height: 100%;
            padding: 0;
            .header {
                padding: 1em 2em;
                border-bottom: 1px solid $dark-grey;
                background: $light-grey;
                h1 {
                    font-size: 1.3em;
                    font-weight: 900;
                    margin-top: 0;
                }
            }
            .content {
                padding: 1em 2em;
                .pictos {
                    ul {
                        list-style: none;
                        padding: 0;
                        li {
                            display: inline-block;
                            height: 2em;
                            width: 2em;
                            overflow: hidden;
                        }
                    }
                }

            }
        }
    }
    .bottom-part {
        margin: 1% 0 0;
        width: 100%;
        height: 59%;
        .more-infos {
            background: $light-grey;
            padding: 0;
            height: 100%;
            .nav-tabs {
                li {
                    a {
                        border-radius: 0;
                        border: 1px solid $dark-grey;
                        color: $dark-grey;
                    }
                    &.active {
                        a {
                            background: $light-grey;
                            border-bottom: 8px solid #4d4d4d;
                            padding-bottom: 3px;
                        }
                    }
                }

            }
            .tab-content {
                padding: 1em;
            }
        }
        .pois {
            background: $light-grey;
            padding: 0;
        }
        .detail-map {
            background: $light-grey;
            padding: 0;
            height: 100%;
        }

    }

    &.category-treks {
        @include detail-page-coloring($treks-color);
    }

    &.category-musee {
        @include detail-page-coloring($museums-color);
    }

    &.category-restaurants {
        @include detail-page-coloring($restaurants-color);
    }

    &.category-sorties {
        @include detail-page-coloring($outing-color);
    }

    &.category-events {
        @include detail-page-coloring($events-color);
    }
}