.detail-page {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: $neutral-grey;
    @include detail-page-coloring();
    @media (max-width: 768px) {
        &.showMap {
            .informations {
                left: -100%;
            }
            .detail-map {
                left: 0%;
            }
            .interests {
                left: 100%;
            }
        }
    }
    .informations {
        //position: relative;
        height: 100%;
        width: 100%;
        float: left;
        display: flex;
        flex-direction: column;
        border-right: 1px solid $neutral-grey;
        background: $light-grey;
        transition: width 0.3s ease, left 0.3s ease;
        @media (min-width: 769px) {
            width: 35%;
            height: 100%;
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: -200%;
                left: 0;
                height: 100%;
                width: 100%;
                background: $dark-grey;
                opacity: 0;
                transition: opacity 0.3s ease 0s, top 0s ease 0.3s ;
            }
            &.collapsed {
                width: 4%;
                overflow: hidden;
                & > div {
                    min-width: 600px;
                }
                &:after {
                    top: 0;
                    opacity: 0.8;
                    transition: opacity 0.3s ease 0.1s, top 0s ease 0s;
                }
            }
            
        }
        h3 {
            display: block;
            font-weight: 300;
            font-size: 1.3em;
            padding: 0.5em 0.8em;
            margin: 0;
            border-bottom: 1px solid $neutral-grey;
            transition: border 0.3s ease;
            i {
                margin-right: 0.8rem;
            }
        }
        .element-title {
            display: flex;
            background: $primary-color;
            border-bottom: 1px solid $neutral-grey;
            align-items: center;
            .cat-icon {
                max-width: 5em;
                padding: 0.6em 1.5em;
                text-align: center;
                svg {
                    fill: white;
                    vertical-align: middle;
                    width: 100%;
                    max-height: 100%;
                }
            }
            h1 {
                flex: 1;
                font-size: 1.5em;
                margin: 0;
                font-weight: lighter;
                color: white;
            }
        }
        .from-to {
            padding: 0.6em 2em;
            background: $primary-color;
            color: white;
            & > span {
                margin-right: 1em;
            }
        }
        .main-infos {
            flex: 1;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .intro {
            .ambiance-and-teaser {
                padding: 1em;
                background: white;
            }
            .pictures {
                position: relative;
                .main-visual {
                    overflow: hidden;
                    max-height: 18em;
                    position: relative;
                    img {
                        width: 100%;
                    }
                }
                ul {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    padding: 0.6em;
                    margin: 0;
                    width: 6em;
                    height: 100%;
                    background: light-grey;
                    overflow-x: auto;
                    white-space: nowrap;
                    background: transparentize(black, 0.4);
                    li {
                        width: 100%;
                        position: relative;
                        display: block;
                        margin: 0.6em 0;
                        cursor: pointer;
                        img {
                            width: 100%;
                        }
                    }
                }
                .picture-credit {
                    text-align: left;
                    color: white;
                    font-size: 0.8em;
                    position: absolute;
                    width: 100%;
                    padding: 0 1em;
                    bottom: 0;
                    left: 0;
                }
            }
            .text {
                .pictos {
                    ul {
                        list-style: none;
                        padding: 0.6em;
                        margin: 0;
                        display: flex;
                        flex-wrap: wrap;
                        li {
                            padding: 0.6em 1em;
                            text-align: center;
                            height: 3em;
                            line-height: 3em;
                            & > div {
                                vertical-align: top;
                                line-height: normal;
                                display: inline-block;
                                width: 100%;
                            }
                            img, svg {
                                width: 2em;
                                height: 2em;
                                vertical-align: middle;
                            }
                            svg, svg .base {
                                fill: $dark-grey;
                            }
                            span {
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
        .element-description {
            background: white;
            //box-shadow: inset 0 2px 5px -3px #4d4d4d;
            border-top: 1px solid $neutral-grey;
            margin-bottom: 1em;
            padding: 2em;
            & > div {
                margin: 1rem 0;
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .description_teaser {
            font-size: 1.5em;
            font-weight: lighter;
            color: $primary-color;
            margin-bottom: 1em;
            i {
                float: left;
                margin-right: 1em;
            }
        }
        .more-infos {
            display: flex;
            flex-wrap: wrap;
            @media (max-width: 768px) {
                & > div {
                    width: 100%;
                }
            }
            .access, .transport {
                @media (min-width: 769px) {
                    width: 50%;
                }                
                .card {
                    background: white;
                    padding: 1em;
                    margin: 0.4rem;
                }
            }
        }
        
        .is-park-centered, .advice, .disabled-infrastructure {
            padding: 1em;
            color: $dark-grey;
            p {
                margin: 0;
            }
            i {
                float: left;
                margin-right: 0.6em;
            }
        }
        .is-park-centered {
            background: transparentize($warning-color, 0);
        }
        .advice {
            background: transparentize($alert-color, 0);
        }
        .disabled-infrastructure {
            background: transparentize($info-color, 0);
        }
        .info-desks {
            padding-bottom: 1em;
            ul {
                list-style: none;
                padding: 0.4rem;
                li {
                    background: white;
                    border: none;
                    position: relative;
                    &:not(:last-child) {
                        margin-bottom: 1em;
                    }
                    .infos {
                        width: 100%;
                        min-height: 9rem;
                        padding: 0.6rem;
                        color: white;
                        overflow: hidden;
                    }
                    .image {
                        display: block;
                        top: 0.6rem;
                        left: 0.6rem;
                        position: absolute;
                        margin: 0.4em;
                        width: 7rem;
                        height: 7rem;
                        border-radius: 50%;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            border-radius: 50%;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            box-shadow: inset 0px 0px 6px 0px $dark-grey;
                        }
                    }
                    .name {
                        font-size: 1.2em;
                        font-weight: normal;
                        padding: 0.6em 0;
                    }
                    .contact {
                        padding-left: 8.2rem;
                        a {
                            color: white;
                            display: block;
                        }
                    }
                    .description {
                        padding: 1em;
                        .text {

                        }
                    }
                }
            }
        }
        .contact-card {
            padding-bottom: 1em;
            .card {
                display: inline-block;
                padding: 1em;
                background: white;
                border-left: 4px solid $primary-color;
                &:not(:last-child) {
                    margin-bottom: 1em;
                }
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }
            }
        }
        .going-further {
            padding-bottom: 1em;
            width: 100%;
            ul {
                list-style: none;
                padding: 0.4rem;
                margin: 0;
            }
        }
    }

    /*.interests {
        width: 64.5%;
        height: 100%;
        margin-left: 0.5%;
        float: left;
        flex-direction: column;
        
    }*/
    .interests {
        background: $light-grey;
        padding: 0;
        width: 100%;
        transition: width 0.3s ease, left 0.3s ease;
        @media (min-width: 769px) {
            overflow-y: auto;
            overflow-x: hidden;
            position: absolute;
            top: 0;
            right: 0;
            width: 19%;
            height: 100%;
            float: left;
            display: flex;
            flex-direction: column;
            &.expend {
                width: 35%;
                .collapsor {
                    margin-top: 0;
                    padding-bottom: 0;
                }
                .pois {
                    height: 100%;
                    .pois-liste {
                        height: 100%;
                    }
                    h3 {
                        display: none;
                    }
                }
                .near-elements {
                    display: none;
                }
            }
            & > div {
                transition: all 0.2s ease;
                height: 40px;
                position: relative;
                overflow: hidden;
                &:not(.collapsed) {
                    flex: 1 1 auto;
                    h3 {
                        border-bottom: 2px solid $primary-color;
                    }
                }
                &.collapsed {
                    h3 {
                        i {
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }
        @media (min-width: 1600px) {
            width: 17%;
        }
        .collapsor {
            width: 100%;
            @media (min-width: 769px) {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                margin-top: 40px;
                padding-bottom: 40px;
                overflow: hidden;
            }
        }
        h3 {
            cursor: pointer;
            &:hover {
                i {
                    opacity: 0.8;
                }
            }
            i {
                float: right;
                transition: transform 0.3s ease;
                opacity: 0.6;
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
    }
    .detail-map {
        background: $light-grey;
        float: left;
        z-index: 2;
        padding: 0;
        height: 100%;
        width: 45.5%;
        margin-left: 0.5%;
        transition: width 0.3s ease, left 0.3s ease;
        @media (min-width: 1600px) {
            width: 47.5%;
            &.no-interests {
                width: 66.5%;
            }
        }
        @media (min-width: 769px) {
            &.expend {
                width: 60.5%;
            }
            &.no-interests {
                width: 64.5%;
            }
        }
        @media (max-width: 768px) {
            position: absolute;
            top: 0;
            left: 100%;
            height: 100%;
            width: 100%;
        }
    }
}