.detail-content-pane {
    position: relative;

    float: left;
    overflow: auto;

    width: 100%;
    height: 100%;

    transition: width .3s ease, left .3s ease;

    border-right: 1px solid $neutral-grey;
    background: $light-grey;
    @media (min-width: 768px) {
        width: 35%;
        height: 100%;
    }
}

.detail-content-title {
    display: flex;

    border-bottom: 1px solid $neutral-grey;
    background: $primary-color;

    align-items: center;
    .cat-icon {
        max-width: 5em;
        padding: .6em 1.5em;

        text-align: center;
        img {
            max-width: 2rem;
            max-height: 2rem;
        }
        svg {
            max-width: 100%;
            height: 3em;

            vertical-align: middle;

            fill: white;
        }
    }
    h1 {
        font-size: 1.5em;
        font-weight: lighter;

        margin: 0;

        color: white;

        flex: 1 1 auto;
    }
}

.detail-content-meta {
    margin: 0;
    padding: .6em;

    list-style: none;
}

.detail-content-meta-item {
    display: flex;

    padding: .5rem;

    flex-wrap: wrap;
    &.divider {
        line-height: 1px;

        width: 100%;
        height: 1px;
        padding: 0;

        text-align: left;

        border-bottom: 1px solid $neutral-grey;
    }

    img,
    svg {
        width: 1.6em;
        height: 1.6em;

        vertical-align: middle;
    }
    svg .base {
        fill: $dark-grey;
    }
    span {
        vertical-align: middle;
    }
}

    .meta-item-title {
        font-size: 1rem;
        font-weight: 300;

        display: block;

        height: 1.5rem;
        margin: 0;
        padding: 0;

        transition: border .3s ease;
        vertical-align: middle;

        color: lighten($dark-grey, 10);

        flex: 0 0 30%;
        i {
            margin-right: .8rem;
        }
    }

    .meta-item-content {
        flex: 1 1 70%;
        & > div {
            display: inline-block;

            height: 1.5rem;
            margin: 0 .5rem;

            vertical-align: middle;
        }
    }

.detail-content-from-to {
    padding: .6em 2em;

    color: white;
    background: $primary-color;
    & > span {
        margin-right: 1em;
    }
}

.detail-content-pictures {
    position: relative;

    ul {
        position: absolute;
        right: 0;
        bottom: 0;

        overflow: hidden;

        width: 6em;
        height: 100%;
        margin: 0;
        padding: .6em;

        white-space: nowrap;

        background: light-grey;
        background: transparentize(black, .4);
        li {
            position: relative;

            display: block;

            width: 100%;
            margin: .6em 0;

            cursor: pointer;
            &:first-child {
                margin-top: 0;
            }
            img {
                width: 100%;
            }
        }
    }
}

.detail-content-main-visual {
    position: relative;

    overflow: hidden;

    cursor: pointer;
    img {
        width: 100%;
    }
}

.detail-content-main-visual-credit {
    font-size: .8em;

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 0 1em;

    text-align: left;

    color: white;
}

.detail-content-main-visual-legend {
    font-size: .8em;
}

.detail-content-teaser {
    font-size: 1.5em;
    font-weight: lighter;
    line-height: 1.2em;

    margin-bottom: 1rem;

    color: $primary-color;
    i {
        float: left;

        margin-right: 1em;
    }
}

.detail-content-description {
    ol {
        margin: 0;
        padding: 0;

        list-style: none;

        counter-reset: li;
        li {
            line-height: 1.5rem;

            position: relative;

            padding-bottom: .5rem;
            padding-left: 2rem;

            vertical-align: middle;
            &:empty {
                display: none;
            }
        }
        li:before {
            font-size: 1rem;
            font-weight: bolder;
            line-height: .6rem;

            position: absolute;
            top: 0;
            left: 0;

            width: 1.6rem;
            height: 1.6rem;
            padding: .25rem;

            content: counter(li); /* Use the counter as content */
            counter-increment: li;
            text-align: center;
            vertical-align: middle;

            border: 3px solid $ref-point-color;
            border-radius: 50%;
            background: white;
        }
    }
}

.detail-content-events-info {
    h5 {
        font-size: 1.1rem;
        font-weight: lighter;

        margin-bottom: .2rem;
    }
}

.detail-content-notice {
    padding: 1em;

    color: $dark-grey;
    p {
        margin: 0;
    }
    a {
        color: inherit;
    }
    i {
        float: left;

        margin-right: .6em;
    }

    &.is-park-centered {
        background: $warning-color;
    }
    &.advice {
        background: $alert-color;
    }
    &.disabled-infrastructure {
        background: $info-color;
    }
}

.detail-content-access,
.detail-content-transport {
    @media (min-width: 768px) {
        width: 50%;
    }
    .card {
        margin: .4rem;
        padding: 1em;

        background: white;
    }
}

.detail-content-elevation {
    width: 100%;
    .chart-container {
        margin: .4rem;
    }
    .axislabel {
        font-size: .7rem;
        line-height: .7rem;

        display: inline-block;

        margin: .4rem 0;
        & + .axislabel {
            margin-left: .5rem;
        }
    }
}

.detail-content-desks {
    padding-bottom: 1em;
    ul {
        padding: .4rem;

        list-style: none;
    }
}

.detail-content-desk {
    position: relative;

    border: none;
    background: white;
    &:not(:last-child) {
        margin-bottom: 1em;
    }


}

.detail-content-desk-infos {
    overflow: hidden;

    width: 100%;
    min-height: 9rem;
    padding: .6rem;

    color: white;
}

.detail-content-desk-image {
    position: absolute;
    top: .6rem;
    left: .6rem;

    display: block;
    overflow: hidden;

    width: 7rem;
    height: 7rem;
    margin: .4em;

    border-radius: 50%;
    img {
        width: 100%;
        height: 100%;
    }
    &:after {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';

        border-radius: 50%;
        box-shadow: inset 0 0 6px 0 $dark-grey;
    }
}

.detail-content-desk-contact {
    padding-left: 8.2rem;
    a {
        display: block;

        text-decoration: underline;

        color: white;
    }

    .name {
        font-size: 1.2em;
        font-weight: normal;

        padding: .6em 0;
    }
}

.detail-content-desk-description {
    padding: 1em;
}

.detail-content-contact {
    padding-bottom: 1em;
    ul {
        margin: 0;
        padding: .4rem;
    }
    .card {
        display: inline-block;

        padding: 1em;

        border-left: 4px solid $primary-color;
        background: white;
        &:not(:last-child) {
            margin-bottom: 1em;
        }
        ul {
            margin: 0;
            padding: 0;

            list-style: none;
        }
    }
}

.detail-content-further {
    width: 100%;
    padding-bottom: 1em;
    ul {
        margin: 0;
        padding: .4rem;

        list-style: none;
    }
}

.detail-content-related {
    > div {
        margin-left: .4rem;
    }
    h4 {
        font-size: 1rem;

        margin-bottom: .5rem;
    }
}
