/**
 * Detail aside pane
 */

.detail-aside-pane {
    padding: 0 0 0 1.5em;

    color: #fff;
    background: $dark-grey;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;

        .detail-aside-group,
        .detail-aside-group-title {
            height: 50px;
        }

        .detail-aside-categories,
        .detail-aside-category-title {
            height: 30px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    .detail-aside-pane {
        padding: 0 0 0 1em;
    }
    .detail-aside-group-content {
        padding-right: 1.5em;
    }
}


.detail-aside-group {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    transition: all .2s ease;
    &.active {
        flex: 1 1 auto;
    }

    + .detail-aside-group {
        border-top: 1px solid rgba(#fff, .5);
    }
}

.detail-aside-group-title {
    font-size: 1.3em;
    font-weight: bold;

    display: flex;

    padding: 0 1em 0 .5em;

    text-transform: uppercase;

    align-items: center;
    flex: 0 0 auto;

    @media (min-width: 768px) {
        cursor: pointer;
    }

    @media (max-width: 767px) {
        height: 50px;
    }

    .stripe-icon {
        margin-left: auto;

        transition: transform 250ms ease;
        .active & {
            transform: translate(-50%) rotate(90deg);
        }
        svg polygon {
            fill: currentColor;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }
}

.detail-aside-group-content {
    overflow: auto;

    margin: 0 0 0 .75em;
    padding-right: 2.25em;
}

.detail-aside-categories {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    transition: all .2s ease;

    .detail-aside-group-content {
        overflow: hidden;
    }

    &.active {
        flex: 1 1 auto;

        .detail-aside-group-content {
            overflow: auto;
        }
    }
}

.detail-aside-category-title {
    font-size: 1em;
    font-weight: bold;

    display: flex;

    padding: 0 1em 0 .5em;

    text-transform: uppercase;

    align-items: flex-start;
    flex: 0 0 auto;

    @media (min-width: 768px) {
        cursor: pointer;
    }

    @media (max-width: 767px) {
        height: 30px;
    }
    .stripe-icon {
        margin-left: auto;

        transition: transform 250ms ease;

        .active & {
            transform: translate(-50%) rotate(90deg);
        }

        svg polygon {
            fill: currentColor;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }

}
