.popup-home {
	width: 80%;
	height: 86%;
	margin-left: -40%;
	overflow: hidden;

	@media (max-width: @screen-sm) {
		display: none;
	}

	&.modal.fade.in {
		top: 7%;
	}
	
	@media (max-width: @screen-sm) {
		width: 100%;
		margin-left: 0;	
	}

	.modal-body {
		height: 100%;
		max-height: 100%;
		padding: 0;
	}

	.close {
		position: absolute;
		top: 10px;
		right: 15px;
		z-index: 1;
	}

	.span4 {
		position: relative;
		overflow: hidden;

		@media (min-width: 1200px) {
			margin-top: 2.564102564102564%;
		}
	}

	section {
		padding: 15px;
	}

	.header {
		overflow: hidden;
	}

	.logo {
		float: left;
		margin-right: 15px;
	}

	h1 {
		line-height: 40px;
		font-size: 30px;
	}

	.profile {
		display: block;

		img {
			display: block;
			.transition(all 400ms);
			.translateZ(0);
		}

		&:hover img {
			.scale(1.3);
		}
	}

	.caption {
		.translateZ(0);
		background: black;
		background: rgba(0, 0, 0, 0.5);
		color: white;
		text-align: center;
		position: absolute;
		bottom: -1px;
		width: 80%;
		padding: 3% 10%;
		font-size: 18px;
	}

	.links {
		margin-top: 15px;
	}
}