.popup-home {
	overflow: hidden;
	height: 576px;
	width: 726px;
	margin-left: -363px;
	margin-top: -288px;
	left: 50%;

	@media (max-width: @screen-sm) {
		display: none!important;
	}

	@media (min-width: 950px) {
		width: 900px;
		height: 500px;
		margin-left: -450px;
		margin-top: -250px;
		left: 50%;
		right: auto;
	}

	&.modal.fade.in,
	&.modal.fade {
		top: 50%;
	}

	.modal-body {
		height: 100%;
		max-height: 100%;
		padding: 0;
	}

	.close {
		position: absolute;
		top: -10px;
		right: 3px;
		line-height: normal;
		z-index: 1;
		opacity: 0.6;
		font-size: 32px;
		font-weight: normal;

		&:hover {
			opacity: 1;
		}
	}

	.span4 {
		position: relative;
		overflow: hidden;
		height: 100%;
	}

	section {
		.box-sizing(border-box);
		height: 100%;
		padding: 15px;
		max-width: 1200px;
		margin: 0 auto;

		> .row-fluid {
			margin-top: 15px;
			height: 30%;
		}
	}

	.header {
		overflow: hidden;
	}

	.logo {
		float: left;
		margin-right: 15px;
	}

	h1 {
		line-height: 40px;
		font-size: 30px;
	}

	.profile {
		display: block;
		height: 100%;
		width: 100%;

		img {
			display: block;
			width: 100%;
			.transition(all 400ms);
			.translateZ(0);
		}

		&:hover img {
			.scale(1.3);
		}
	}

	.caption {
		.translateZ(0);
		background: @black;
		background: fade(@black, 50%);
		color: white;
		text-align: center;
		position: absolute;
		bottom: -1px;
		width: 80%;
		padding: 3% 10%;
		font-size: 18px;
	}

	.links {
		margin-top: 15px;

		a:before {
			font-size: 17px;
			position: relative;
			top: 4px;
			margin-right: 2px;
		}

		.icon-arrow-right-alt1:before {
			font-size: 16px;
		}
	}
}

.modal-backdrop {
	@media (max-width: @screen-sm) {
		display: none!important;
	}
}