#global-filters {
    form {
        display: flex;
        flex-direction: column;
        .top-part {
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            .search {
                flex: 1;
                display: flex;
                padding: 10px;
                @media (max-width: 1200px) {
                    min-width: 100%;
                }
                .input-group {
                    flex: 1;
                    border: 1px solid $neutral-grey;
                    input {
                        width: 100%;
                        border: none;
                        margin: 0;
                        padding: 6px;
                        box-shadow: none;
                    }
                    .input-group-addon {
                        background: white;
                        border: none;
                    }
                }
            }
            .geo-filters {
                flex: 1;
                display: flex;
                padding: 10px 5px;
                .selector {
                    margin: 0 5px;
                    flex: 1;
                    position: relative;
                    border: 1px solid $neutral-grey;
                    background: white;
                    text-align: center;
                    &.empty {
                        opacity: 0.4;
                        * {
                            cursor: default;
                        }
                    }
                    & > span {
                        display: block;
                        padding: 5px;
                        cursor: pointer;
                        box-shadow: 0 2px 2px 0 $neutral-grey;
                    }
                    .choices {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        border: 1px solid $neutral-grey;
                        border-top: none;
                        width: 100%;
                        max-height: 0;
                        text-align: left;
                        overflow-y: auto;
                        overflow-x: hidden;
                        z-index: 11;
                        background: white;
                        .form-group {
                            margin: 0;
                            background: white;
                            position: relative;
                            input {
                                display: block;
                                position: absolute;
                                cursor: pointer;
                                opacity: 0;
                                top: 0;
                                left: 0;
                                height: 100%;
                                width: 100%;
                                margin: 0;
                                z-index: 11;
                                /*&:checked + label:before {
                                    background: $dark-grey;
                                }*/
                                &:checked + label {
                                    padding-left: 0.6em;
                                    border-width: 0.4em;
                                }
                                &:focus + label {
                                    background: $light-grey;
                                }
                            }
                            label {
                                display: block;
                                height: 100%;
                                width: 100%;
                                padding: 0.4em 0.6em;
                                font-weight: normal;
                                font-size: 0.9em;
                                padding-left: 1em;
                                //padding-left: 2em;
                                opacity: 1;
                                border-left: 0 solid $dark-grey;
                                /*&:before {
                                    content: '';
                                    position: absolute;
                                    background: transparent;
                                    border: 1px solid $dark-grey;
                                    height: 0.6em;
                                    width: 0.6em;
                                    border-radius: 50%;
                                    left: 0.5em;
                                    top: 0.6em;
                                }*/
                            }
                        }
                    }
                    &:hover, &:focus {
                        .choices {
                            max-height: 300px;
                        }
                    }
                }
            }
        }
        .themes {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            .theme {
                height: 2.5em;
                min-width: 3em;
                flex: 1;
                position: relative;
                margin: auto;
                padding: 4px;
                @media (max-width: 1200px) {
                    //min-width: 5em;
                }
                label {
                    overflow: hidden;
                    margin: 0;
                    height: 100%;
                    width: 100%;
                    text-align: center;
                    cursor: pointer;
                    opacity: 0.6;
                    &:hover {
                        opacity: 0.8;
                        img {
                            opacity: 0.8;
                        }
                    }
                    img {
                        opacity: 0.6;
                        height: 100%;
                    }
                    svg {
                        height: 100%;
                        max-width: 100%;
                    }
                    svg, svg .base {
                        fill: $dark-grey;
                    }
                }
                input {
                    position: absolute;
                    display: block;
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    &:checked + label {
                        opacity: 1;
                        img {
                            opacity: 1;
                        }
                        svg, svg .base {
                            fill: $primary-color;
                        }
                    }
                    &:focus + label {
                        box-shadow: 0 0 2px 0 $dark-grey;
                    }
                }
            }
        }
    }
    input[type="text"], select, input[type="checkbox"] {
        border-radius: 0;
        -webkit-appearance: none;
    }
    input[type="checkbox"] {
        opacity: 0;
    }
}