.filters-tags {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    transition: all 200ms ease;
    transform: translate(0, 100%);

    background-color: rgba(#3a3a3a, .5);
    &.extend {
        transform: translate(0, 0);
    }
}


.filters-tags-trigger {
    font-weight: bold;

    position: absolute;
    top: -25px;
    left: 50%;

    display: block;

    width: 235px;
    height: 25px;
    margin-left: -117px;

    cursor: pointer;
    text-align: center;

    color: #000;
    span {
        position: relative;
        top: 3px;

        color: #fff;
    }
    .stripe {
        position: relative;

        display: inline-block;

        margin-left: 5px;

        transition: transform 200ms ease;
        transform: rotate(-90deg);
        vertical-align: middle;
        svg {
            display: block;

            width: 8px;

            fill: #fff;
        }
    }
    &.down {
        .stripe {
            transform: rotate(90deg) translate(2px, 0);
        }
    }
}



.filters-tags-trigger-bg {
    position: absolute;
    top: 0;
    left: 0;

    opacity: .5;

    fill: #3a3a3a;
}

.filters-tags-list {
    margin: 0;
    padding: .75em 3em;

    list-style: none;
    @media (max-width: 767px) {
        padding: .75em .5em;
    }
}


.filters-tags-item {
    font-size: .8em;

    display: inline-block;

    margin: 0 .2em .5em;
    @media (max-width: 767px) {
        margin: 0 .1em .35em .1em;
    }

    text-transform: uppercase;
    padding-left: .3em;

    color: $dark-grey;
    border-left: 5px solid;
    background: rgba(240, 240, 240, 1);

    @each $category in $categories {
        &.category-#{nth($category, 1)} {
            border-color: nth($category, 2);
        }
    }

    svg path {
        fill: currentColor;
    }
}

.filters-tags-reset {
    cursor: pointer;

    border-width: 0;
    border-color: rgba(240, 240, 240, 1);
}

.filters-tags-icon {
    cursor: pointer;
    display: inline-block;
    padding: .1em .4em .3em .3em;
}
