.general-map .leaflet-container {
    height: 100%;
    width: 100%;
}

.leaflet-control-zoom a {
    position: relative;
}

.leaflet-control-viewportfilter {
    padding: 0.5rem 1rem;
    position: relative;
    background: transparentize(white, 0.3);
    font-size: 0.8rem;
    color: $dark-grey;
    .leaflet-control-viewportfilter-caption {
        margin-left: 1rem;
        &::before {
            content: '';
            display: block;
            height: 1rem;
            width: 1rem;
            position: absolute;
            top: 50%;
            margin-top: -0.5rem;
            left: 0.5rem;
            border-radius: 2px;
            // IMPORT FA STYLE FOR CHECK ICON
            font: normal normal normal 14px/1 FontAwesome;
            transform: translate(0, 0);
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            ////////////////
            background: white;
            border: 1px solid lighten($dark-grey, 30%);
            font-size: 0.8rem;
            line-height: 1rem;
            text-align: center;
            vertical-align: middle;
            color: $primary-color;
        }
    }
    input {
        display: block;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        cursor: pointer;
        &:checked + .leaflet-control-viewportfilter-caption::before {
            content: "\f00c";
        }
    }

}

.detail-map .leaflet-control-viewportfilter {
    display: none;
}

.leaflet-control .services {
    width: 30px;
    height: 30px;
    display: block;
    background: white;
    border: 1px solid black;
    opacity: 0.5;
    cursor: pointer;
    content: url('images/icons/services.svg');
    &:hover {
        opacity: 0.7;
    }
    &.active {
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
    }
    &.hidden {
        display: none;
    }
}

.leaflet-control .services {
    display: none;
    .detail-map & {
        display: block;
    }
}

.general-map .leaflet-top {
    top: 68px;
}

// Rules are separated because they don't work if declared with comas...
//
.detail-map.leaflet-container:-webkit-full-screen .leaflet-right {
    right: 25%;
}
.detail-map.leaflet-container:-moz-full-screen .leaflet-right {
    right: 25%;
}
.detail-map.leaflet-container:full-screen .leaflet-right {
    right: 25%;
}
.detail-map.leaflet-pseudo-fullscreen .leaflet-right {
    right: 25%;
}


.leaflet-control-layers {
}

.leaflet-control-layers-toggle {
    position: relative;

    width: 30px;
    height: 30px;

    border: 1px solid #fff;
    background-image: url(#{$root-images-path}/switcher-satellite.jpg);
    background-size: cover;

    &,
    &:before,
    &:after {
        border-radius: 1px;
    }
    &:before,
    &:after {
        position: absolute;
        z-index: -1;
        top: 3px;
        left: 3px;

        display: block;

        width: 30px;
        height: 30px;

        content: '';

        border: 1px solid rgba(#fff, .2);
        background-color: rgba(#000, .2);
    }

    &:after {
        top: 6px;
        left: 6px;
    }
}

.leaflet-control-layers-expanded {
    padding: 0;

    border: none;
    border-radius: 0;
    background: transparent;
}

.leaflet-control-layers-separator {
    border: none;
}

.leaflet-control-layers-base,
.leaflet-control-layers-overlays {
    background-color: rgba(#3a3a3a, .85);
    color: #fff;
    overflow: hidden;
    // border: 2px solid #aaa;

    label {
        padding: 0 .8em;
        margin: .3em 0;
        // outline: 1px solid red;
    }

}

.arrow-direction {
    margin: 20px;
    font-size: 50px;
    @each $category in $categories {
        &.category-#{nth($category, 1)} {
            fill: nth($category, 2);
            opacity: .8
        }
    }
}

@media (max-width: 767px) {
    .leaflet-control-minimap, .leaflet-control-zoom {
        display: none;
    }
}

@import '_markers';
