.trek-icon {
    background: #333;
    padding: 3px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.trek-cluster {
    background: white;
    border: 8px solid $primary-color;
    padding: 3px;
    border-radius: 20px;
    text-align: center;
    color: $primary-color;
    font-weight: bold;
}