@mixin transparentOverlay {
    /**
     * Transparent mask to avoid events repeating for SVG markers
     */
    &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 100%;

        content: '';

        background-color: transparent;
    }
}

@if $json-custom-style {
    .leaflet-marker-icon {
        @each $category in $categories {
            &.category-#{nth($category, 1)} {
                .marker svg .base {
                    fill: nth($category, 2);
                }
                &.popup .marker::before {
                    border-bottom-color: nth($category, 2);
                }
            }
        }
    }
}

.double-marker {
    & > div {
        transition: all 0.1s ease-out;
    }
    .marker, svg, img {
        height: 100%;
        width: 100%;
    }

    @include transparentOverlay;

    .marker {
        .background {
            transition: fill 300ms ease;

            fill: rgba(#000, .5);
        }
    }

    &:hover {
        .marker {
            .background {
                fill: rgba(#333, .8);
            }
        }
    }

    .step-number {
        display: block;
        font-family: $font-family;
        margin: auto;
        font-size: 1.2rem;
        font-weight: bolder;
        color: white;
    }

    &:not(.poi) .icon {
        position: absolute;
        top: 2px;
        left: 2px;
        display: flex;
        width: 36px;
        height: 36px;
        align-items: center;
        border-radius: 36px;
        overflow: hidden;
    }
    &.service {
        width: 30px;
        height: 30px;
        &.popup .marker::before {
            border-bottom-color: $services-color;
        }
        .icon {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 17px;
            height: 17px;
            svg, .base {
                fill: $services-color;
            }
        }
    }
    /*
    &:hover, &.hovered {
        z-index: 55555555 !important;
        &:not(.service) {
            .marker {
                transform: scale(1.2);
                transform-origin: center bottom;
            }
            .icon {
                transform: scale(1.2);
                transform-origin: center 58px;
            }
        }

        &.popup .marker {
            &::after, &::before {
                opacity: 1;
            }
            &::before {
                padding: 1rem;
                width: 8rem;
                height: auto;
            }
            &::after {
                border-left-width: 1rem;
                border-right-width: 1rem;
                border-top-width: 0.7rem;
            }
        }
    }
    */
}

.element-cluster,
.near-cluster,
.children-cluster {
    .marker {
        font-family: $font-family;
        font-size: 16px;
        font-weight: bold;
        line-height: 32px;

        height: 100%;
        padding: 0;

        transition: all .1s ease-out;
        text-align: center;

        color: rgba(50, 50, 50, 1);
        border: 4px solid currentColor;
        border-radius: 20px;
        background-color: rgba(245, 245, 245, 1);
    }


    &:hover, &.hovered {
        z-index: 55555555 !important;
        .marker {
            transform: scale(1.3);
            transform-origin: center center;
        }
    }
}

.poi-cluster {
    .icon-group {
        transition: all 0.1s ease-out;
    }
    .icon {
        width: 46%;
        margin: 2%;
        display: inline-block;
        img, svg {
            width: 100%;
            height: 100%;
        }
    }
    &:hover, &.hovered {
        z-index: 55555555 !important;
        .icon-group {
            transform: scale(1.2);
            transform-origin: center center;
        }
    }
}

.departure-marker, .arrival-marker, .departure-arrival-marker {
    @include transparentOverlay;
    cursor: default;
    svg {
        width: 100%;
        height: 100%;
        .stick .base {
            fill: $stick-color;
        }
    }
}

.warning-marker {
    svg .base {
        fill: $alert-color;
    }
    .icon {
        color: white;
        top: -5px;
        left: 12px;
        i {
            margin-left: 2px;
            font-size: 36px;
        }
    }
}

.departure-marker {
    svg .flag {
        fill: $departure-color;
    }
}

.arrival-marker {
    svg .flag {
        fill: $arrival-color;
    }
}

.departure-arrival-marker {
    svg .flag-d {
        fill: $departure-color;
    }
    svg .flag-a {
        fill: $arrival-color;
    }
}

.parking-marker {
    cursor: default;
    svg, svg .base {
        height: 100%;
        width: 100%;
    }
    svg .base {
        fill: $parking-color;
    }

    @include transparentOverlay;
}

.ref-point {
    cursor: default;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background: $ref-point-color;
    border-radius: 50%;
    color: white;
    font-size: .9rem;
    text-align: center;
    font-weight: bold;
    line-height: 26px;
    vertical-align: middle;
    span {
        vertical-align: middle;
    }
}

.leaflet-overlay-pane svg path {
    stroke-opacity: 1;
}

@if $json-custom-style {
    .leaflet-overlay-pane {
        svg {
            path {
                @include geojson-coloring();
            }
        }
    }
}

.layer-highlight {
    stroke-width: 10;
    stroke: $linear-highlight-color;
}

.elevationMarker {
    display: block;
    border-radius: 50%;
    width: 16px;
    height: 15px;
    background: $light-grey;
    border: 4px solid $dark-grey;
    opacity: 0;
    &.active {
        opacity: 1;
    }
}

.detail-map.hide-near-elements .near-marker,
.detail-map.hide-near-elements .near-cluster,
.detail-map.hide-children .children-marker,
.detail-map.hide-children .children-cluster,
.detail-map.hide-pois .poi-cluster,
.detail-map.hide-pois .double-marker.poi {
    display: none;
}

.leaflet-popup {
    .leaflet-popup-content-wrapper {
        border-radius: 0;
    }

    .leaflet-popup-close-button {
        z-index: 1;
    }
}

.geotrek-hint-popup {
    .leaflet-popup-content-wrapper,
    .leaflet-popup-tip {
        background-color: rgba(#fff, .85);
        box-shadow: 0 .2em .5em rgba(#000, .1);
    }

    .leaflet-popup-close-button {
        display: none;
    }
}


.info-point-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.info-point-photo,
.info-point-type,
.info-point-link,
.info-point-description {
    text-align: center;
    margin-top: 10px;
}
