#main-content {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    & > .content {
        flex: 1;
        display: flex;
        flex-direction: row;
        .results-drawer {
            width: 40%;
            overflow: auto;
            background: $light-grey;
        }
    }
}