.modal-dialog {
    width: 90%;
    height: 90%;
}

.modal-content {
    height: 100%;
    width: 100%;
    border-radius: 2px;
}

.modal-backdrop {
    width: 100%;
    height: 100%;
    background: black;
    &.in {
        opacity: 0.8
    }
}

.lightbox {
    .modal-dialog {
        width: auto;
        height: auto;
        margin: 0;
    }
    .modal-content {
        background: none;
        box-shadow: none;
        border: none;
    } 
}

.modal .modal-close-button {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: white;
    font-size: 2rem;
    line-height: 2rem;
    z-index: 999999;
    opacity: 0.8;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}