<div class="header">
    <h1>{{'BANNER_TEXT' | translate}}</h1>
    <div class="access-chose">
        <a href ng-click="toggleHome()"><span>{{'ACCESS_SITE' | translate}}</span></a>
        <a class="disable-home" href ng-click="disableHomePage()"><span>{{'DONT_SHOW_HOME' | translate}}</span></a>
    </div>
</div>
<div class="content">
    <div class="random-contents">
        <random-contents-list categories="all" quantity="4"></random-content>
    </div>
</div>
<geotrek-footer></geotrek-footer>