<div class="random-element category-{{randomContent.properties.category.id}}" id="random-{{randomContent.id}}">
    <a ui-sref="layout.detail({catSlug: randomContent.properties.category.slug, slug: randomContent.properties.slug})">
        <img class="content-picture" ng-src="{{randomContent.properties.pictures[0].url}}" alt="{{randomContent.properties.pictures[0].title}}">
        <div class="content-description">
            <div class="content-category category-{{randomContent.properties.category.id}}-bg" tooltip-placement="right" tooltip="{{::randomContent.properties.category.label}}">
                <ng-include ng-if="randomContent.properties.category.pictogram && (randomContent.properties.category.pictogram | isSVG)"  src="randomContent.properties.category.pictogram"></ng-include>
                <img        ng-if="randomContent.properties.category.pictogram && !(randomContent.properties.category.pictogram | isSVG)" ng-src="{{::randomContent.properties.category.pictogram}}" ng-alt="{{::category.label}}">
            </div>
            <div class="content-title category-{{randomContent.properties.category.id}}-c" ng-bind="randomContent.properties.name"></div>
        </div>
    </a>
</div>
