<li class="share">
    <a role="button" tooltip-placement="bottom" tooltip="{{'SHARE' | translate}}"
    ng-click="toggleSocialMenu()" href="#">
        <span class="fa fa-{{::shareIcon}}"></span>
    </a>
    <ul class="social-menu nav" id="social-menu" role="menu" 
        ng-class="{ 'show-social-menu': showSocialMenu }">
        <li ng-if="twitterShareLink" class="twitter">
            <a href="{{twitterShareLink}}" target="_blank" tooltip-placement="right" tooltip="Twitter">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li ng-if="shareToFacebook" class="facebook">
            <a href="{{fbShareLink}}" ng-click="shareToFacebook()" target="_blank" tooltip-placement="right" tooltip="Facebook">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li ng-if="false" class="google-plus">
            <a href target="_blank" tooltip-placement="right" tooltip="Google Plus">
                <i class="fa fa-google-plus"></i>
            </a>
        </li>
        <li ng-if="mailShareLink" class="mail">
            <a href="{{mailShareLink}}" target="_blank" tooltip-placement="right" tooltip="Email">
                <i class="fa fa-envelope"></i>
            </a>
        </li>
    </ul>
</li>
