<div id="header">
<nav class="navbar" role="navigation">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="header-mainbar navbar-header">
            <button data-target="#menuCollapse" type="button" class="header-burger navbar-toggle" ng-class="{collapsed: mobileCollapsed}" ng-click="toggleMobileMenu()">
                <span class="sr-only">{{'TOGGLE_NAV' | translate}}</span><!-- Burger --><span class="icon-bar primary-bg"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <button type="button" class="header-map-switch switch-vue primary-fill" ng-click="switchMap()">
                <img ng-if="!$root.mapIsShown" ng-src="{{switchIcons.map}}" alt="switch to map mode icon">
                <img ng-if="$root.mapIsShown" ng-src="{{switchIcons.textual}}" alt="switch to text mode icon">
            </button>
            <a class="header-title-link" ui-sref="layout.root" ng-click="displayHomePage()" title="{{'DEFAULT_META_TITLE' | translate}}">
                <img class="header-logo" ng-if="logo" ng-src="/custom/images/{{logo}}" alt="{{'LOGO_ALT' | translate}}">
                <div class="header-title">
                    <h1>{{'BANNER_TEXT' | translate}}</h1>
                </div>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="header-links-container navbar-collapse" collapse="mobileCollapsed" id="bs-example-navbar-collapse-1">

            <ul class="header-links nav navbar-nav static-pages navbar-right">
                <flat-menu        class="header-link"></flat-menu>
                <social-menu      class="header-link"></social-menu>
                <favorites-menu   class="header-link"></favorites-menu>
                <translation-menu class="header-link"></translation-menu>
            </ul>

        </div><!-- /.header-links-container -->
</nav>
</div>
