#home-page {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: white;
    z-index: 999999;
    transition: opacity 0.3s ease-out;
    #footer {
        position: relative;
    }
}

.categories-prefilter {
    color: white;
    h2 {
    }
}

.default-categories-prefilter {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.default-categories-prefilter-item {
    height: 150px;
    flex: 1 0 150px;
    margin: 0.5rem 2% 0;
    overflow: hidden;
    position: relative;
    button {
        border: none;
        background: none;
        width: 100%;
    }
    img {
        height: 100%;
        width: auto;
    }
}

.categories-prefilter {
    background: $dark-grey;
}
