.random-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.random-element {
    display: inline-block;
    height: 150px;
    width: 21%;
    margin: 0 2%;
    overflow: hidden;
    position: relative;
    .title {
        min-height: 2rem;
        width: calc(100% - 4px);
        position: absolute;
        bottom: 2px;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 0.5rem;
        background: white;
        text-align: center;
        font-size: 1rem;
        line-height: 1rem;
        vertical-align: middle;
    }
    img {
        width: 100%;
        height: auto;
    }
}