.random-list {
    list-style: none;
    padding: 0 .5rem;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.random-element {
    height: 150px;
    flex: 1 0 200px;
    margin: 0.5rem 2% 0;
    overflow: hidden;
    position: relative;
    a {
        display: block;
        width: 100%;
        height: 100%;
    }
    .content-description {
        min-height: 2rem;
        width: calc(100% - 4px);
        position: absolute;
        bottom: 2px;
        left: 50%;
        transform: translate(-50%, 0);
        background: white;
        display: flex;
        line-height: 1rem;
    }
    .content-title {
        flex: 1 1 auto;
        font-size: 1.2rem;
        line-height: 1rem;
        margin: auto;
        padding: 0 0.5rem;
    }
    .content-picture {
        width: 100%;
        height: auto;
    }
    .content-category {
        width: 40px;
        height: 40px;
        padding: 8px;
        background: $dark-grey;
        svg, img {
            height: 100%;
            width: 100%;
            fill: white;
        }
    }
    @each $category in $categories {
        &.category-#{nth($category, 1)} {
            .content-category {
                background-color: nth($category, 2);
            }
            .content-title {
                color: nth($category, 2);
            }
        }
    }
}
