{% load i18n static leaflet_tags compress trekking_tags ganalytics localeurl_tags %}
<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7" lang="{{ request.LANGUAGE_CODE }}"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" lang="{{ request.LANGUAGE_CODE }}"> <!--<![endif]-->
    <head>
        <!--
            Powered by Geotrek - http://geotrek.fr

            VERSION : {{ VERSION }}
        -->
        {% block head %}
        <meta charset="utf-8">
        <meta name="author" content="Makina Corpus">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{{ TITLE }}{% endblock title %}</title>
        <meta name="language" content="{{ request.LANGUAGE_CODE }}" >
        <meta name="description" content="{% block description %}{{ DESCRIPTION }}{% endblock description %}" >
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta http-equiv="cleartype" content="on">

        {% if PREPROD %}
        <meta name="robots" content="noindex" />
        {% endif %}

        <link rel="shortcut icon" href="{% overridable "img/favicon.png" %}">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% overridable "img/touch/icon-144.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% overridable "img/touch/icon-114.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% overridable "img/touch/icon-72.png" %}">
        <link rel="apple-touch-icon-precomposed" href="{% overridable "img/touch/icon-57.png" %}">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="{% overridable "img/touch/icon-144.png" %}">
        <meta name="msapplication-TileColor" content="#222222">

        <!--[if IE]><script src="{% static "js/ie-polyfill.js" %}"></script><![endif]-->

        <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Geotrek">

        <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
        <!--
        <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
        -->

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>

        {% compress css %}
        {% leaflet_css %}
        <link rel="stylesheet" href="{% static "css/custom-bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/vendor/bootstrap/less/responsive.css" %}">
        <link rel="stylesheet" href="{% static "css/vendor/jquery-ui.css" %}">
        <link rel="stylesheet" href="{% static "css/vendor/chosen.css" %}">
        <link rel="stylesheet" href="{% static "css/vendor/MarkerCluster.css" %}">
        <link rel="stylesheet" href="{% static "css/vendor/leaflet.label.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        {% endcompress %}

        <link rel="stylesheet" href="{{ MEDIA_URL }}style.css" />

        <script src="{% static "js/vendor/modernizr-2.6.2.min.js" %}"></script>
        {% endblock head %}

        {% block extrahead %}
        {% endblock extrahead %}

    </head>
    <body>
        <header>
            <a class="home pjax {% if POPUP_HOME_ENABLED %}popup{% endif %}" href="{% locale_url request.LANGUAGE_CODE "trekking:home" %}#">
               <h1>{{ TITLE }}</h1>
            </a>
            <a class="btn utils icon-share" id="global-share" href="#" title="{% trans "Share" %}">
                {% trans "Share" %}
            </a>
        </header>

        <div class="container-fluid" id="container-content">
            <div id="content">
                {% block content %}
                {% endblock content %}
            </div>

            <div id="mainmap"
                 data-treks-url="{% locale_url request.LANGUAGE_CODE "trekking:fileserve" treks_url %}"
                 data-treks-extent="{{ map_extent }}"></div>
        </div>
        <!-- container -->

        <!-- Load JQuery from CDN, with local fallback -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script type="text/javascript">window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.9.0.min.js" %}"><\/script>')</script>

        {# footer here to allow admin JS injection #}
        <footer id="footer" class="footer">
            <div class="wrapper">
                {% fileinclude FOOTER_FILENAME request.LANGUAGE_CODE %}
            </div>
        </footer>

        {% if FEEDBACK_FORM_ENABLED %}
        <script src="//www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
        {% endif %}

        <script src="{% locale_url request.LANGUAGE_CODE "jsi18n" %}"></script>
        {% compress js %}
        <script src="{% static "js/vendor/jquery-ui.js" %}"></script>
        <script src="{% static "js/vendor/jquery.ui.touch-punch.min.js" %}"></script>
        <script src="{% static "js/vendor/jquery.sparkline.min.js" %}"></script>
        <script src="{% static "js/vendor/jquery.pjax.js" %}"></script>
        <script src="{% static "js/vendor/jquery.smartresize.js" %}"></script>
        {% leaflet_js %}
        <script type="text/javascript">
            window.IMG_URL = "{% static "img" %}"
            L.Icon.Default.imagePath = '{% static "leaflet/images" %}';
        </script>
        <script src="{% static "js/vendor/leaflet.markercluster.js" %}"></script>
        <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
        <script src="{% static "js/vendor/leaflet.restoreview.js" %}"></script>
        <script src="{% static "js/vendor/leaflet.textpath.js" %}"></script>
        <script src="{% static "js/vendor/leaflet.label.js" %}"></script>
        <script src="{% static "js/vendor/rtree.js" %}"></script>
        <script src="{% static "js/vendor/chosen.jquery.min.js" %}"></script>
        <script src="{% static "js/vendor/socialite.js" %}"></script>
        <script src="{% static "js/vendor/Control.FullScreen.js" %}"></script>
        <script src="{% static "js/vendor/lz-string.js" %}"></script>
        <script src="{% static "js/vendor/fastclick.js" %}"></script>
        <script src="{% static "js/vendor/spin.js" %}"></script>
        <script src="{% static "js/vendor/leaflet.spin.js" %}"></script>
        <script src="{% static "js/vendor/leaflet.ajax.js" %}"></script>
        <script src="{% static "js/vendor/leaflet.layerindex.js" %}"></script>

        <script src="{% static "js/vendor/jquery.easing-custom.js" %}"></script>
        <script src="{% static "js/ui.js" %}"></script>
        <script src="{% static "js/filter.js" %}"></script>
        <script src="{% static "js/backpack.js" %}"></script>
        <script src="{% static "js/map.js" %}"></script>

        {% if FEEDBACK_FORM_ENABLED %}
        <script src="{% static "feedback/js/ajaxcsrf.js" %}"></script>
        <script src="{% static "feedback/js/form.popup.js" %}"></script>
        {% endif %}
        {% if FILTERS_HASH_ENABLED %}
        <script src="{% static "js/filter-hash.js" %}"></script>
        {% endif %}
        {% if POPUP_HOME_ENABLED %}
        <script src="{% static "js/popup.js" %}"></script>
        {% endif %}
        {% if VIEW3D_ENABLED %}
        <script src="{% static "view3d/main.js" %}"></script>
        {% endif %}
        <script src="{% static "js/main.js" %}"></script>
        {% endcompress %}

        {% if not donottrack %}
        {% ganalytics %}
        {% endif %}

        {% if POPUP_HOME_ENABLED %}
            {% include "trekking/_popup_home.html" %}
        {% endif %}

        {% if VIEW3D_ENABLED %}
            {% include "view3d/_popup_view3d.html" %}
        {% endif %}

        {% if FEEDBACK_FORM_ENABLED %}
            {% include "feedback/_popup_feedback.html" %}
        {% endif %}
    </body>
</html>
