<div class="modal-close-button" ng-click="close()">
    <i class="fa fa-times"></i>
</div>
<div id="rando-3d" ng-class="{isLoading: isLoading}">
    <h1>{{result.properties.name}}</h1>
    <section class="interface">
        <div class="controls controls--examine" >
            <h3>Mode Examine</h3>
            <span class="controls-description"></span>
            <span> Zoom : <b>Molette souris</b></span>
            <span> Inclinaison/Rotation : <b>Clic Gauche</b></span>
            <span> Se déplacer : <img src="/images/3d/icon_783__.png"/></span>
        </div>
        
        <div class="controls controls--bird" >
            <h3>Mode Oiseau</h3>
            <span class="controls-description"></span>
            <span> Zoom : <b>Molette souris</b></span>
            <span> Tourner regard : <b>Clic Gauche</b></span>
            <span> Se déplacer : <img src="/images/3d/icon_783__.png"/></span>
        </div>

        <div class="controls controls--hiker" >
            <h3>Mode Randonneur</h3>
            <span class="controls-description"></span>
            <span> Tourner regard : <b>Clic Gauche</b></span>
            <span> Play/Pause : <b>Espace</b></span>
            <span> Stop : <b>Entrée</b></span>
        </div>

        <div class="credits">
            <a class="geotrek_link" href="http://makina-corpus.com/" target="_blank" >
                <img src="/images/logo_makina-corpus.png">
            </a>
        </div>

        <div class="attribution" style="padding:3px;">
            <span>
                <a href='https://www.mapbox.com/about/maps/' target='_blank'><strong>©Mapbox</strong></a> 
            </span>
        </div>
        
        <ul class="camera_switcher">
            <li class="camera camera--examine camera--disabled">
                <span class="camera-icon">
                    <img src="/images/3d/camera-examine.svg"></img>
                </span>
                <span class="camera-title"> Exam</span>
            </li>
            <li class="camera camera--bird camera--disabled">
                <span class="camera-icon">
                    <img src="/images/3d/camera-bird.svg"></img>
                </span>
                <span class="camera-title"> Oiseau</span>
            </li>
            <li class="camera camera--hiker camera--disabled">
                <span class="camera-icon">
                    <img src="/images/3d/camera-hiker.svg"></img>
                </span>
                <span class="camera-title"> Rando</span>
            </li>
        </ul>
    </section>
    
    <canvas id="canvas_renderer"></canvas>

    <div class="poi_side">
        <div class="close_btn"><i class="fa fa-times"></i></div>
        <h2></h2>
        <div class="description"></div>
    </div>

    <div class="poi poi--clicked">
    </div>

    <div class="poi poi--hover">
    </div>

</div>
