#footer .wrapper{
   background-image: none;
}

#footer .wrapper img {
   margin-top: 5px;
   margin-left: 20px;
   max-height: 40px;
   float: left;


   filter: url(filters.svg#grayscale); /* Firefox */
   filter: gray; /* IE */
   -webkit-filter: grayscale(1); /* Webkit */
}

#footer .wrapper img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

#footer .wrapper p {
   display: inline-bloc;
   font-size: 24px;
   line-height: 40px;
   margin-top: 5px;
   margin-right: 30px;
   color: gray;
   float: right;
}
