<ul class="categories">
    <li ng-repeat="category in categories" class="category {{category.cat_class}}" ng-class="{active : category.active}" ng-id="cat-{{category.id}}">
        <a href ng-click="toggleCategory(category)">
            <ng-include src="category.pictogram"></ng-include>
            <span class="category-name">{{category.label}}</span>
        </a>
        <div class="filters">
            <form>
                <div ng-if="category.type1 && category.type1.values.length > 0" class="selector type1" ng-class="{empty: category.type1.values.length === 0, opened: type1IsCollapsed}">
                    <span ng-click="type1IsCollapsed = !type1IsCollapsed"><i class="fa fa-plus"></i> {{category.type1_label}}</span>
                    <div class="choices" collapse="!type1IsCollapsed">
                        <div ng-repeat="type1 in category.type1.values" class="type1 form-group">
                            <input type="checkbox" id="type1-{{type1.id}}" value="{{type1.id}}" ng-model="category.filters.type1[type1.id]"  ng-change="propagateFilters()"/>
                            <label for="type1-{{type1.id}}">
                                <span ng-if="type1.name">{{type1.name}}</span>
                                <span ng-if="type1.label">{{type1.label}}</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div ng-if="category.type2 && category.type2.values.length > 0" class="selector type2" ng-class="{empty: category.type2.values.length === 0, opened: type2IsCollapsed}">
                    <span ng-click="type2IsCollapsed = !type2IsCollapsed"><i class="fa fa-plus"></i> {{category.type2_label}}</span>
                    <div class="choices" collapse="!type2IsCollapsed">
                        <div ng-repeat="type2 in category.type2.values" class="type2 form-group">
                            <input type="checkbox" id="type2-{{type2.id}}" value="{{type2.id}}" ng-model="category.filters.type2[type2.id]"  ng-change="propagateFilters()"/>
                            <label for="type2-{{type2.id}}">
                                <span ng-if="type2.name">{{type2.name}}</span>
                                <span ng-if="type2.label">{{type2.label}}</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div ng-if="category.routes && category.routes.values.length > 0" class="selector routes" ng-class="{opened: routeIsCollapsed}">
                    <span ng-click="routeIsCollapsed = !routeIsCollapsed"><i class="fa fa-plus"></i> Parcours</span>
                    <div class="choices" collapse="!routeIsCollapsed">
                        <div ng-repeat="route in category.routes.values" class="route form-group">
                            <input type="checkbox" id="route-{{route.id}}" value="{{route.id}}" ng-model="category.filters.route[route.id]"  ng-change="propagateFilters()"/>
                            <label for="route-{{route.id}}">
                                <ng-include src="route.pictogram"></ng-include>
                                <span>{{route.label}}</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div ng-if="category.difficulties && category.difficulties.values.length > 1" class="slider difficulties">
                    <slider ng-model-low="category.difficulties.min" ng-model-high="category.difficulties.max" floor="0" ceiling="{{category.difficulties.values.length - 1}}" step="1"></slider>
                </div>
            </form>
        </div>
    </li>
</ul>