<div class="categories-wrapper" ng-class="{extend: extend, filtering: filtering}" click-anywhere-but-here="foldCategories()">

    <ul class="categories tabs">
        <li class="category-filters-raz">
            <a ng-click="resetFilters()" href="#">
                <i class="fa fa-remove"></i>
                {{'RESET_ALL_FILTERS' | translate}}
            </a>
        </li>
        <li
            ng-repeat="category in categories | orderBy: 'order' track by category.id"
            class="category-tab {{::category.cat_class}}"
            ng-class="{
                active : activeFilters.categories.indexOf(category.id) > -1,
                open: category.open,
            }"
            id="cat-tab-{{::category.id}}"
        >

            <!-- Category tab -->
            <div class="category-title" ng-click="toggleCategory(category)">
                <span class="category-title-text">{{category.label}}</span>
            </div>

        </li>
    </ul>

    <ul class="categories filterBars">
        <li
            ng-repeat="category in categories | orderBy: 'order' track by category.id"
            class="category {{::category.cat_class}}"
            ng-class="{
                active : activeFilters.categories.indexOf(category.id) > -1,
                open: category.open,
                '{{::category.cat_class}}-bgo': extend && !filtering || extend && filtering && category.open
            }"
            id="cat-{{::category.id}}"
            collapse="!category.open"
        >

            <!-- Category filters -->
            <div class="category-filters filters {{::category.cat_class}}-bg" ng-if="category.hasFilters">
                <form>
                    <div class="filters-group filters-sliders"
                        ng-if="category.practice || category.difficulty || category.duration || category.ascent || category.eLength">
                        <!-- Practice selector -->
                        <div ng-if="category.practice && category.practice.values.length > 0" class="category-filter selector practice">
                            <div class="choices">
                                <div ng-repeat="practice in category.practice.values" class="practice form-group" tooltip-placement="right" tooltip="{{practice.label}}">
                                    <input type="checkbox" id="practice-{{::practice.id}}" ng-click="toogleCategoryFilter(category.id, 'practice', practice.id)"
                                        ng-checked="activeFilters[category.id + '_practice'].indexOf(practice.id.toString()) > -1" />
                                    <label for="practice-{{::practice.id}}">
                                        <div class="checkbox">
                                            <i ng-if="activeFilters[category.id + '_practice'].indexOf(practice.id.toString()) > -1" class="fa fa-check"></i>
                                        </div>
                                    </label>
                                    <span class="category-filters-practice-icon">
                                        <ng-include ng-if="practice.pictogram | isSVG" src="practice.pictogram"></ng-include>
                                        <img ng-if="practice.pictogram && !(practice.pictogram | isSVG)" ng-src="{{practice.pictogram}}" ng-alt="{{practice.label}}">
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Difficulty slider -->
                        <div ng-if="category.difficulty && category.difficulty.values.length > 1" class="category-filter slider difficulties">
                            <div class="filter-title">
                                <span>{{'DIFFICULTIES' | translate}}</span>
                            </div>
                            <div class="slider-container">
                                <rzslider rz-slider-model="activeRangeValues[category.id + '_difficulty'].min" rz-slider-high="activeRangeValues[category.id + '_difficulty'].max"
                                    rz-slider-options="activeRangeValues[category.id + '_difficulty'].options">
                                </rzslider>
                            </div>
                        </div>

                        <!-- Duration slider -->
                        <div ng-if="category.duration && category.duration.values.length > 1" class="category-filter slider duration">
                            <div class="filter-title">
                                <span>{{'DURATION' | translate}}</span>
                            </div>
                            <div class="slider-container">
                                <rzslider rz-slider-model="activeRangeValues[category.id + '_duration'].min" rz-slider-high="activeRangeValues[category.id + '_duration'].max"
                                    rz-slider-options="activeRangeValues[category.id + '_duration'].options">
                                </rzslider>
                            </div>
                        </div>

                        <!-- Ascent slider -->
                        <div ng-if="category.ascent && category.ascent.values.length > 1" class="category-filter slider ascent">
                            <div class="filter-title">
                                <span>{{'ASCENT' | translate}}</span>
                            </div>
                            <div class="slider-container">
                                <rzslider rz-slider-model="activeRangeValues[category.id + '_ascent'].min" rz-slider-high="activeRangeValues[category.id + '_ascent'].max"
                                    rz-slider-options="activeRangeValues[category.id + '_ascent'].options">
                                </rzslider>
                            </div>
                        </div>

                        <!-- Length slider -->
                        <div ng-if="category.eLength && category.eLength.values.length > 1" class="category-filter slider eLength">
                            <div class="filter-title">
                                <span>{{'LENGTH' | translate}}</span>
                            </div>
                            <div class="slider-container">
                                <rzslider rz-slider-model="activeRangeValues[category.id + '_eLength'].min" rz-slider-high="activeRangeValues[category.id + '_eLength'].max"
                                    rz-slider-options="activeRangeValues[category.id + '_eLength'].options">
                                </rzslider>
                            </div>
                        </div>

                    </div>



                    <div class="filters-group filters-selectors">
                        <!-- Date selector -->
                        <div ng-if="category.begin_date !== undefined" class="category-filter selector date">
                            <span class="filter-title">
                                <span>{{ 'DATE_FILTER' | translate }}</span>
                            </span>
                            <div class="choices">
                                <div class="date-picker form-group">
                                    <input date-range-picker clearable="true" options="{autoApply: true, eventHandlers: {'apply.daterangepicker': changeDates }}" class="form-control" type="text" ng-model="activeDateFilters[category.id]" />
                                    <button class="filter-button" ng-click="clearDateFilter(category.id)" ng-class="{'{{::category.cat_class}}-c': extend && filtering && category.open}">
                                        <ng-include class="cross" src="'/images/icons/cross.svg'"></ng-include>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Route selector -->
                        <div ng-if="category.route && category.route.values.length > 0" class="category-filter selector routes">
                            <span class="filter-title">
                                <span>{{'ROUTES' | translate}}</span>
                            </span>
                            <div class="choices">
                                <div ng-repeat="route in category.route.values" class="route form-group">
                                    <input type="checkbox" id="route-{{::route.id}}" ng-click="toogleCategoryFilter(category.id, 'route', route.id)" ng-checked="activeFilters[category.id + '_route'].indexOf(route.id.toString()) > -1"/>
                                    <label for="route-{{::route.id}}">
                                        <div class="checkbox">
                                            <i ng-if="activeFilters[category.id + '_route'].indexOf(route.id.toString()) > -1" class="fa fa-check"></i>
                                        </div>
                                        <span>{{route.label}}</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- Custom filter 1 selector -->
                        <div ng-if="category.type1 && category.type1.values.length > 0" class="category-filter selector type1" ng-class="{empty: category.type1.values.length === 0}">
                            <span class="filter-title">
                                <span>{{category.type1_label}}</span>
                            </span>
                            <div class="choices">
                                <div ng-repeat="type1 in category.type1.values | orderBy: 'name'" class="type1 form-group">
                                    <input type="checkbox" id="type1-{{::type1.id}}" ng-click="toogleCategoryFilter(category.id, 'type1', type1.id)" ng-checked="activeFilters[category.id + '_type1'].indexOf(type1.id.toString()) > -1"/>
                                    <label for="type1-{{::type1.id}}">
                                        <div class="checkbox">
                                            <i ng-if="activeFilters[category.id + '_type1'].indexOf(type1.id.toString()) > -1" class="fa fa-check"></i>
                                        </div>
                                        <span ng-if="type1.name">{{type1.name}}</span>
                                        <span ng-if="type1.label">{{type1.label}}</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- Custom filter 2 selector -->
                        <div ng-if="category.type2 && category.type2.values.length > 0" class="category-filter selector type2" ng-class="{empty: category.type2.values.length === 0}">
                            <span class="filter-title">
                                <span>{{category.type2_label}}</span>
                            </span>
                            <div class="choices">
                                <div ng-repeat="type2 in category.type2.values" class="type2 form-group">
                                    <input type="checkbox" id="type2-{{::type2.id}}" ng-click="toogleCategoryFilter(category.id, 'type2', type2.id)" ng-checked="activeFilters[category.id + '_type2'].indexOf(type2.id.toString()) > -1"/>
                                    <label for="type2-{{type2.id}}">
                                        <div class="checkbox">
                                            <i ng-if="activeFilters[category.id + '_type2'].indexOf(type2.id.toString()) > -1" class="fa fa-check"></i>
                                        </div>
                                        <span ng-if="type2.name">{{type2.name}}</span>
                                        <span ng-if="type2.label">{{type2.label}}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- Theme filter selector -->
                        <div ng-if="category.themes && category.themes.values.length > 0" class="category-filter selector themes" ng-class="{empty: category.themes.values.length === 0}">
                            <div class="choices">
                                <div ng-repeat="theme in category.themes.values" class="themes form-group" tooltip-placement="right" tooltip="{{theme.label}}">
                                    <input type="checkbox" id="theme-{{::theme.id}}" ng-click="toogleCategoryFilter(category.id, 'themes', theme.id)" ng-checked="activeFilters[category.id + '_themes'].indexOf(theme.id.toString()) > -1"/>
                                    <label for="theme-{{theme.id}}">
                                        <div class="checkbox">
                                            <i ng-if="activeFilters[category.id + '_themes'].indexOf(theme.id.toString()) > -1" class="fa fa-check"></i>
                                        </div>
                                        <span class="category-filters-theme-icon">
                                            <ng-include ng-if="theme.pictogram | isSVG" src="theme.pictogram"></ng-include>
                                            <img ng-if="theme.pictogram && !(theme.pictogram | isSVG)" ng-src="{{theme.pictogram}}" ng-alt="{{theme.label}}">
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </li>
    </ul>

    <div ng-show="isACategoryFilterBarOpen()">
        <global-filters></global-filters>
    </div>
</div>
