.flat-menu {
    position: relative;
    right: 0;
    top: 0;
    background-color: $dark-grey;
    overflow: hidden;
    width: 0;
    height: 0;
    text-align: center;
    transition: all .2s ease;
    &.show-flat-menu {
        display: block;
        width: auto;
        height: auto;
    }
    @media (min-width: 760px) {
        position: absolute;
        right: 55px;
    }
}
