<div id="global-filters" class="global-filters">
    <form>
        <div class="global-filters-container">
            <div class="global-filters-search search">
                <div class="input-group">
                    <input type="text" ng-model="activeFilters.search" ng-change="changeSearchFilter()" placeholder="{{'SEARCH' | translate}}..."/>
                    <div class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="global-filters-geo-filters geo-filters" ng-class="{hidden: !enabCities && !enabDistricts && !enabStructures, fullsize: enabCities && enabDistricts && enabStructures}">
                <div ng-if="enabCities" class="selector cities" ng-class="{empty: filters.cities.length === 0, opened: selectMenus.cities.opened}" ng-mouseenter="openSelectMenu('cities')" ng-mouseleave="closeSelectMenu('cities')">
                    <span ng-if="filterLength.cities > 0">{{filterLength.cities}} {{'CITIES' | translate}} {{'SELECTED' | translate}} <span class="caret"></span></span>
                    <span ng-if="!filterLength.cities || filterLength.cities === 0">{{'CITIES' | translate}} <span class="caret"></span></span>
                    <div class="choices">
                        <div class="input-group">
                            <input type="search" ng-model="citiesAuto" placeholder="{{'SEARCH' | translate}}">
                            <div class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div class="city form-group">
                            <input type="checkbox" id="city-all" ng-click="toogleFilter('cities', 'all')" ng-checked="activeFilters.cities.length === 0"/>
                            <label for="city-all">
                                <span>{{'ALL_CITIES' | translate}}</span>
                            </label>
                        </div>
                        <div ng-repeat="city in filters.cities | filter:citiesAuto | orderBy:'name' track by city.code" class="city form-group">
                            <input type="checkbox" id="city-{{::city.code}}" ng-click="toogleFilter('cities', city.code)" ng-checked="activeFilters.cities.indexOf(city.code.toString()) > -1"/>
                            <label for="city-{{::city.code}}">
                                <span>{{::city.name}}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div ng-if="enabDistricts" class="selector districts" ng-class="{empty: filters.districts.length === 0, opened: selectMenus.districts.opened}" ng-mouseenter="openSelectMenu('districts')" ng-mouseleave="closeSelectMenu('districts')">
                    <span ng-if="filterLength.districts > 0">{{filterLength.districts}} {{'DISTRICTS' | translate}} {{'SELECTED' | translate}} <span class="caret"></span></span>
                    <span ng-if="!filterLength.districts || filterLength.districts === 0">{{'DISTRICTS' | translate}} <span class="caret"></span></span>
                    <div class="choices">
                        <div class="input-group">
                            <input type="search" ng-model="districtsAuto" placeholder="{{'SEARCH' | translate}}">
                            <div class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div class="district form-group">
                            <input type="checkbox" id="district-all" ng-click="toogleFilter('districts', 'all')" ng-checked="activeFilters.districts.length === 0"/>
                            <label for="district-all">
                                <span>{{'ALL_DISTRICTS' | translate}}</span>
                            </label>
                        </div>
                        <div ng-repeat="district in filters.districts | filter:districtsAuto | orderBy:'name' track by district.id" class="district form-group">
                            <input type="checkbox" id="district-{{::district.id}}" ng-click="toogleFilter('districts', district.id)" ng-checked="activeFilters.districts.indexOf(district.id.toString()) > -1"/>
                            <label for="district-{{::district.id}}">
                                <span>{{::district.name}}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div ng-if="enabStructures" class="selector structures" ng-class="{empty: filters.structure.length === 0, opened: selectMenus.structure.opened}" ng-mouseenter="openSelectMenu('structure')" ng-mouseleave="closeSelectMenu('structure')">
                    <span ng-if="filterLength.structure > 0">{{filterLength.structure}} {{'STRUCTURES' | translate}} {{'SELECTED' | translate}} <span class="caret"></span></span>
                    <span ng-if="!filterLength.structure || filterLength.structure === 0">{{'STRUCTURES' | translate}} <span class="caret"></span></span>
                    <div class="choices">
                        <div class="input-group">
                            <input type="search" ng-model="structuresAuto" placeholder="{{'SEARCH' | translate}}">
                            <div class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div class="structure form-group">
                            <input type="checkbox" id="structure-all" ng-click="toogleFilter('structure', 'all')" ng-checked="activeFilters.structure.length === 0"/>
                            <label for="structure-all">
                                <span>{{'ALL_STRUCTURES' | translate}}</span>
                            </label>
                        </div>
                        <div ng-repeat="aStructure in filters.structure | filter:structuresAuto | orderBy:'name' track by aStructure.id" class="structure form-group">
                            <input type="checkbox" id="structure-{{::aStructure.id}}" ng-click="toogleFilter('structure', aStructure.id)" ng-checked="activeFilters.structure.indexOf(aStructure.id.toString()) > -1"/>
                            <label for="structure-{{::aStructure.id}}">
                                <span>{{::aStructure.name}}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="raz-filters">
                <a ng-click="resetFilters()" href="#">
                    <i class="fa fa-times-circle"></i>
                    {{'RESET_ALL_FILTERS' | translate}}
                </a>
            </div>
        </div>
    </form>
</div>
