<div id="global-filters">
    <form>
        <div class="recherche">
            <input type="text" ng-model="activeFilter.search"/>
        </div>
        <div class="select-boxes">
            <select class="form-control districts" ng-model="activeFilter.districts" value="0">
                <option value="0">Toutes les Communes</option>
                <option ng-repeat="district in filters.districts" value="{{district.code}}">{{district.label}}</option>
            </select>
            <select class="form-control valleys" ng-model="activeFilter.valley" value="0">
                <option value="0">Toutes les Vallées</option>
                <option ng-repeat="valley in filters.valley" value="{{valley.id}}">{{valley.name}}</option>
            </select>
        </div>
        <div class="themes">
            <div ng-repeat="theme in filters.themes" class="form-group" tooltip-placement="top" tooltip="{{theme.label}}">
                <label for="theme-{{theme.id}}">
                    <span class="sr-only">{{theme.label}}</span>
                    <img src="{{theme.pictogram}}"/>
                </label>
                <input type="checkbox" id="theme-{{theme.id}}" value="{{theme.id}}" ng-model="activeFilter.themes[theme.id]"/>
            </div>
        </div>
    </form>
</div>