<div id="global-filters">
    <form>
        <div class="top-part">
            <div class="search">
                <div class="input-group">
                    <input type="text" ng-model="activeFilters.search" ng-change="changeSearchFilter()" placeholder="{{'SEARCH' | translate}}..."/>
                    <div class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="geo-filters" ng-class="{hidden: !enabCities && !enabDistricts && !enabStructures, fullsize: enabCities && enabDistricts && enabStructures}">
                <div ng-if="enabCities" class="selector cities" ng-class="{empty: filters.cities.length === 0}">
                    <span ng-if="filterLength.cities > 0">{{filterLength.cities}} {{'CITIES' | translate}} {{'SELECTED' | translate}} <span class="caret"></span></span>
                    <span ng-if="!filterLength.cities || filterLength.cities === 0">{{'CITIES' | translate}} <span class="caret"></span></span>
                    <div class="choices">
                        <div class="input-group">
                            <input type="search" ng-model="citiesAuto" placeholder="{{'SEARCH' | translate}}">
                            <div class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div ng-repeat="city in filters.cities | filter:citiesAuto | orderBy:'name' track by city.code" class="city form-group">
                            <input type="checkbox" id="city-{{::city.code}}" ng-click="toogleFilter('cities', city.code)" ng-checked="activeFilters.cities.indexOf(city.code.toString()) > -1"/>
                            <label for="city-{{::city.code}}">
                                <span>{{::city.name}}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div ng-if="enabDistricts" class="selector districts" ng-class="{empty: filters.districts.length === 0}">
                    <span ng-if="filterLength.districts > 0">{{filterLength.districts}} {{'DISTRICTS' | translate}} {{'SELECTED' | translate}} <span class="caret"></span></span>
                    <span ng-if="!filterLength.districts || filterLength.districts === 0">{{'DISTRICTS' | translate}} <span class="caret"></span></span>
                    <div class="choices">
                        <div class="input-group">
                            <input type="search" ng-model="districtsAuto" placeholder="{{'SEARCH' | translate}}">
                            <div class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div ng-repeat="district in filters.districts | filter:districtsAuto | orderBy:'name' track by district.id" class="district form-group">
                            <input type="checkbox" id="district-{{::district.id}}" ng-click="toogleFilter('districts', district.id)" ng-checked="activeFilters.districts.indexOf(district.id.toString()) > -1"/>
                            <label for="district-{{::district.id}}">
                                <span>{{::district.name}}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div ng-if="enabStructures" class="selector structures" ng-class="{empty: filters.structure.length === 0}">
                    <span ng-if="filterLength.structure > 0">{{filterLength.structure}} {{'STRUCTURES' | translate}} {{'SELECTED' | translate}} <span class="caret"></span></span>
                    <span ng-if="!filterLength.structure || filterLength.structure === 0">{{'STRUCTURES' | translate}} <span class="caret"></span></span>
                    <div class="choices">
                        <div class="input-group">
                            <input type="search" ng-model="structuresAuto" placeholder="{{'SEARCH' | translate}}">
                            <div class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div ng-repeat="aStructure in filters.structure | filter:structuresAuto | orderBy:'name' track by aStructure.id" class="structure form-group">
                            <input type="checkbox" id="structure-{{::aStructure.id}}" ng-click="toogleFilter('structure', aStructure.id)" ng-checked="activeFilters.structure.indexOf(aStructure.id.toString()) > -1"/>
                            <label for="structure-{{::aStructure.id}}">
                                <span>{{::aStructure.name}}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="themes" ng-if="filters.themes.length > 0">
            <h4>{{'THEMES' | translate}}</h4>
            <div class="values">
                <div ng-repeat="theme in filters.themes track by theme.id" class="theme form-group" tooltip-placement="top" tooltip="{{::theme.label}}">
                    <input type="checkbox" id="theme-{{::theme.id}}" ng-click="toogleFilter('themes', theme.id)" ng-checked="activeFilters.themes.indexOf(theme.id.toString()) > -1"/>
                    <label for="theme-{{::theme.id}}">
                        <span class="sr-only">{{::theme.label}}</span>
                        <img ng-if="!isSVG(theme.pictogram)" ng-src="{{::theme.pictogram}}" ng-alt="{{::theme.label}}">
                        <ng-include ng-if="isSVG(theme.pictogram)" src="theme.pictogram"></ng-include>
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>