<div class="filters-tags" ng-class="{extend: extend}">
    <div class="filters-tags-trigger" ng-click="toggleExtend()"  ng-class="{ down: extend, up: !extend }">
        <svg class="filters-tags-trigger-bg" x="0px" y="0px" width="235px" height="25px">
            <path d="M235,25c-5.5,0-10-4.5-10-10v-5c0-5.5-4.5-10-10-10H20c-5.5,0-10,4.5-10,10v5c0,5.5-4.5,10-10,10H235z"/>
        </svg>
        <span class="text"  ng-if="!extend">{{ 'SHOW_ACTIVE_FILTERS' | translate }}</span>
        <span class="text"  ng-if="extend" >{{ 'HIDE_ACTIVE_FILTERS'  | translate }}</span>
        <ng-include class="stripe" src="'/images/icons/stripe.svg'"></ng-include>
    </div>
    <ul class="filters-tags-list">
        <li
            class="filters-tags-item filters-tags-reset reset"
            id="tag-reset"
            ng-click="resetFilters()">
            <span class="text">{{ 'RESET' | translate}}</span><ng-include class="filters-tags-icon" src="'/images/icons/refresh.svg'"></ng-include>
        </li><!--
        --><li
            class="filters-tags-item filters-tag category-{{::filter.typeId}} category-{{::filter.typeId}}-border"
            id="tag-{{::filter.id}}"
            ng-repeat="filter in activeFiltersTags | orderBy:'typeId' track by filter.uid"
            ng-class="{'category-relative': filter.type === 'categories'}">
            <span class="text">{{::filter.label}}</span><ng-include class="filters-tags-icon" src="'/images/icons/delete.svg'" ng-click="removeFilterByTag(filter.queryLabel, filter.id)"></ng-include>
        </li>
    </ul>
</div>
