<div class="filters-tags">
    <ul>
        <li ng-repeat="filter in activeFiltersTags" id="tag-{{filter.id}}" class="category-{{filter.typeId}}" ng-class="{'category-relative': filter.type === 'categories'}">
            <div class="remove" ng-click="removeFilterByTag(filter.queryLabel, filter.id)"><span>X</span></div>
            <div class="text">
                <span>{{filter.label}}</span>
            </div>
        </li>
        <li ng-if="activeFiltersTags.length > 0" id="tag-reset" class="reset" ng-click="resetFilters()">
            <div class="text">
                <span><i class="fa fa-refresh"></i> {{ 'RESET' | translate}}</span>
            </div>
        </li>
    </ul>
</div>