<div class="filters-tags" ng-class="{extend: extend}">
    <div class="filters-tags-trigger" ng-click="toggleExtend()"  ng-class="{ down: extend, up: !extend }">
        <svg class="filters-tags-trigger-bg" x="0px" y="0px" width="235px" height="25px">
            <path d="M235,25c-5.5,0-10-4.5-10-10v-5c0-5.5-4.5-10-10-10H20c-5.5,0-10,4.5-10,10v5c0,5.5-4.5,10-10,10H235z"/>
        </svg>
        <span class="text" ng-if="!extend">{{ 'Afficher les filtres actifs' | translate }}</span>
        <span class="text"  ng-if="extend">{{ 'Masquer les filtres actifs'  | translate }}</span>
        <ng-include class="stripe" src="'/images/icons/stripe.svg'"></ng-include>
    </div>
    <ul>
        <li ng-if="activeFiltersTags.length > 0" id="tag-reset" class="reset" ng-click="resetFilters()">
            <div class="text">
                <span><i class="fa fa-refresh"></i> {{ 'RESET' | translate}}</span>
            </div>
        </li>
        <li ng-repeat="filter in activeFiltersTags | orderBy:'typeId' track by filter.uid" id="tag-{{::filter.id}}" class="category-{{::filter.typeId}}" ng-class="{'category-relative': filter.type === 'categories'}">
            <div class="remove" ng-click="removeFilterByTag(filter.queryLabel, filter.id)"><span>X</span></div>
            <div class="text">
                <span>{{::filter.label}}</span>
            </div>
        </li>
    </ul>
</div>
