/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Mixins */

// Mixins for LESS http://lesshat.com/
@import "vendor/lesshat.less";

// Bootstrap variables and mixins
@import "vendor/bootstrap/less/variables.less";
@import "vendor/bootstrap/less/mixins.less";

// Custom mixins
.remove-callout(){
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: fade(@black, 0%);;
  -webkit-user-select: none;
}

.square-centered (@size) {
    width: @size !important;
    height: @size !important;
    margin-left: -(@size / 2) !important;
    margin-top: -(@size / 2) !important;
}



/* Variables for custom themes */
@import "variables-default.less";

@import "icon-font.less";


// Variables from defaults
@linkColor : @mainColor;
@highlightBackground: lighten(@mainColor, 30%);

@textColorDarker: darken(@textColor, 20%);
@backgroundDarker: darken(@backgroundColor, 10%);
@backgroundLighter: lighten(@backgroundColor, 5%);

@footerText: @white;
@footerBackground: @backgroundColor;

@filtersBackground: @backgroundLighter;
@filtersBorder: @backgroundDarker;
@filtersText: @textColor;
@themesText: @textColor;

@slidersBackground: @backgroundDarker;
@slidersValueBackground: @backgroundColor;

@sidebarText: @textColor;
@sidebarBackground: fade(@backgroundLighter, 80%);
@resultBorder: @backgroundDarker;
@sidebarBorder: fade(@black, 20%);
@sidebarTitle: @textColorDarker;
@sidebarHighlightBackground: @backgroundColor;

@searchTextBackground: @white;
@searchTextColor: @blackLighter;
@searchTextBorder: @backgroundColor;

@sidebarTabBackground: @backgroundColor;
@sidebarTabBorder: @backgroundDarker;
@sidebarTabText: @textColor;

@captionBackground: fade(@black, 50%);
@carouselBackground: fade(@black, 70%);

@detailContentBackground: @backgroundColor;
@detailContentBorder:  @backgroundDarker;
@detailContentTitle: @blackLighter;
@detailHeaderBackground: @darkGray;

@identityText: @textColor;
@altitudeProfileColor: @blackLighter;
@accordionText: @textColor;
@accordionTextHover: @linkColor;


/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: @textColorDarker;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: @highlightBackground;
  text-shadow: none;
}

::selection {
  background: @highlightBackground;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid @backgroundDarker;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


a, input, button {
    -ms-touch-action: none !important;
}




/* Global */
body, html {
  width: 100%;
  height: 100%;
  position: relative;
  line-height: 1.4em;
  font-size: 13px;
  background-color: @backgroundLighter;
  color: @textColorDarker;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @fontFamilyTitle;
  line-height: 27px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
}

a {
  color: @linkColor;
  .transition(color 100ms);
  text-decoration: underline;

  &.btn {
    text-decoration: none;
    color: @textColorDarker;
  }

  &:hover {
    color: darken(@linkColor, 20%);
    text-decoration: none;
  }
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track-piece{
  background-color: @backgroundColor;
  -webkit-border-radius:0;
  -webkit-border-bottom-right-radius:0;
  -webkit-border-bottom-left-radius:0;
}

::-webkit-scrollbar-thumb:vertical{
  background-color: @backgroundDarker;
  -webkit-border-radius:8px
}



/*
* Bootstrap override
*/

.container-fluid {
  padding: 0;
}

.popover {
 z-index: 9999; /* Above map, above everything ! */
}

.label, .badge {
  text-shadow: none;
}

.btn {
  font-size: 13px;
  line-height: 19px;
  padding: 4px 10px;
}

.alert {
  padding-right: 14px;
}



/* Objects import */
@import "objects/helpers.less";
@import "objects/header.less";
@import "objects/footer.less";
@import "objects/popup.less";
@import "objects/share.less";
@import "objects/lang-switch.less";

@import "../../flatpages/static/flatpages/flatpages.less";
@import "../../trekking/static/trekking/trekking.less";
@import "../../feedback/static/feedback/feedback.less";
@import "../../tourism/static/tourism/tourism.less";
@import "../../view3d/static/view3d/view3d.less";

/* Layout */

#toggle-header-mobile {
  display: none;
}

#mobile-header-detail {
  display: none;
}

.container-content {
  position: absolute;
  z-index: 0;
  top: @headerHeight;
  bottom: @footerHeight;
  padding-left: 1%;
  padding-right: 1%;
  width: 98%;


  #pjax-content {
    height: 100%;

    .page-content {
        position:absolute;
        top: 0;
        bottom: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        width: 100%;
    }
  }
}





/* ==========================================================================
   Mobile version media querie
   ========================================================================== */

/* Landscape phones and down */
@media (max-width: @screen-sm) {

  #footer {
    display: none;
  }

  .container-content {
    bottom: 0;
    top: 0;
  }

  /* Miscs pages */

  header {
    width: 80% !important;
    padding: 0;
    position: absolute !important;
    top: 48px !important;
    bottom: 0 !important;
    height: auto !important;
    background: none;
    background-image: none !important;
    .background-size(auto);
    background-color: fade(@white, 90%);
    border: none;
    .box-shadow(none);
    -webkit-touch-callout: none;
    .box-shadow(0 2px 4px fade(@black, 60%));
    .transition(all 300ms);
    .translate3d(-105%, 0, 0);
    overflow: auto !important;
    -webkit-overflow-scrolling: touch;

    &.open {
      .translate3d(0, 0, 0);
    }

    h1 {
      display: none;
    }
  }

  .no-csstransforms3d header {
    display: none;

    &.open {
      display: block;
    }
  }

  header #flatpages {
    display: block;
  }

  #pjax-content  #flatpages {
    display: none;
  }

  #flatpages {
    position: static!important;

    ul {
      margin: 0;

      li {
        display: block;
        border-bottom: 1px solid @backgroundDarker;

        .btn {
          color: @grayDark !important;
          background: none !important;
          .box-shadow(none) !important;
          border: none;
          font-weight: normal !important;
          text-shadow: none !important;
          text-align: left !important;
          height: 40px !important;
          padding-top: 20px;
          padding-left: 15px;
          font-size: 1.7em;
          font-family: @fontFamilyNavigation;
          font-weight: 100;

          &:hover {
            background-color: transparent;
          }

          &:active, &.active {
            background-color: @white;
          }
        }

        &.home {
          display: none;
        }
      }
    }
  }

  #toggle-header-mobile {
    background: none;
    border: none;
    outline: none;
    display: block;
    width: 45px;
    height: 46px;
    padding: 0;
    float: left;
    color: @gray;
    .remove-callout();

    &:before {
      position: absolute;
      font-size: 28px;
      left: -17px;
      top: 10px;
      .transition(all 300ms);
      .translate3d(0, 0, 0);
    }

    &.active {
      &:before {
        .translate3d(-6px, 0, 0);
      }
    }

    &:active {
      background-color: white;
    }

    .logo {
      margin-top: 3px;
      width: 35px;
      margin-left: 2px;
    }
  }

  #pjax-content {
    overflow: visible;
  }


  /* Side bar search */
  #side-bar {
    top: 0;
    bottom: auto;
    height: auto;
    min-height: 46px;
    width: 100%;
    border-right: none;
    background-color: @sidebarBackground;
    border-bottom: 2px solid @sidebarBorder;
    .remove-callout();
  }

  #side-bar .nav-tabs > li > a:before {
    margin-left: 0;
    border: none;
    position: static;
  }

  #side-bar .nav-tabs > li > a {
    background-color: transparent;
    border: none;
    width: 45px;
    height: 45px;
    padding: 10px;

    &:hover {
      background-color: transparent;
    }

    &:active {
      background-color: white;
    }
  }

  #side-bar .nav-tabs > li.active > a {
    background-color: transparent;
    border: none;

    &:active {
      background-color: white;
    }
  }

  #tab-backpack {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 46px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }

  #text-search,
  #result-backpack-tabs {
    width: 100%;
  }

  #result-backpack-content {
    max-height: 154px;
    height: auto;
    overflow: hidden;
    right: 0;
    bottom: auto;
    top: 48px;
    display: block;
    border-right: none;
    padding-top: 0;
    -webkit-overflow-scrolling: touch;
  }

  #results, #backpack {
    display: none;
  }

  #text-search {
    position: absolute;
    left: 44px;
    right: 44px;
    width: auto;

    .navbar-search {
      padding-left: 0;

      .search-query {
        height: 38px;
      }
    }

  }

  /* Details page */
  #mobile-header-detail {
    display: block;
    width: 100%;
    background: @mobileHeaderBackground;
    position: fixed;
    z-index: 9999;
    border-bottom: 2px solid @mobileHeaderBorder;

    a {
      color: white;
      -webkit-tap-highlight-color: fade(@black, 0%);
    }

    h1 {
      font-size: 15px;
      padding-left: 30px;
      margin: 0;
      font-weight: 300;
      line-height: 46px;
      font-family: @fontFamily;

      &:before {
        font-size: 30px;
        position: absolute;
        left: 0px;
        top: 9px;
      }
    }

    &:active {
      opacity: 0.8;
    }
  }

  #toolbox a.view3d {
    display: none;
  }

  .page-content {
    position: absolute;
    overflow: auto;
    top: 48px;
    bottom: 0;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
  }

  .detail-content {
    overflow: visible;
  }

  #detail-content-top {
    margin-top: 75px;
  }

  #detail-content-title {
    h2 {
      font-size: 1.5em;
      margin-bottom: 0;
      text-transform: uppercase;
    }

    h3 {
      margin-left: 0;
    }

    .title {
      position: absolute;
      top: 12px;
      width: 99%;
    }
  }

  #toolbox a.backpack, #toolbox a.download {
    padding-right: 5px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  #toolbox {
    margin-right: 0;
    margin-left: 1%;
  }

  #toolbox.pull-right {
    text-align: left;
    float: none;
  }

  .no-touch .leaflet-top {
    top: 44px;
  }

  .no-touch .leaflet-bottom {
    bottom: 40px;
  }

  #usages {
    margin-left: 0;
  }

  .carousel.slide {
    .carousel-control {
      opacity: 0.5;
    }

    &:hover {
      .carousel-control {
        opacity: 0.5;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }


  /* Hidden elements */
  .search-tools,
  #filters-bar,
  #toggle-side-bar,
  #tab-backpack .badge,
  #tab-backpack .text,
  #tab-results,
  #side-bar .illust,
  #fake-search-tabs {
    display: none;
  }
}


@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {

}
