/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
a,
input,
button {
  -ms-touch-action: none !important;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Mixins */
/* Variables */
/* Global */
body,
html {
  width: 100%;
  height: 100%;
  position: relative;
  line-height: 1.4em;
  background-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open sans', Arial;
}
a {
  color: #625b50;
  -webkit-transition: color 100ms;
  -moz-transition: color 100ms;
  -ms-transition: color 100ms;
  -o-transition: color 100ms;
  transition: color 100ms;
}
a:visited {
  color: #625b50;
}
a:hover {
  color: #06e;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track-piece {
  background-color: #eee;
  -webkit-border-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}
::-webkit-scrollbar-thumb:vertical {
  background-color: #999;
  -webkit-border-radius: 8px;
}
/*
* Bootstrap override
*/
i.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
.container-fluid {
  padding: 0;
}
[class^="icon-gray"],
[class*=" icon-gray"] {
  background-image: url("../img/glyphicons-halflings-gray.png");
}
.popover {
  z-index: 9999;
  /* Above map, above everything ! */

}
.label,
.badge {
  text-shadow: none;
}
/* Jquery UI override */
.ui-widget-content,
.ui-widget-overlay,
.ui-widget-shadow {
  background: none;
}
/*
* Chosen override
*/
.chzn-container-active .chzn-choices {
  border: 1px solid #AAA;
}
.chzn-container .chzn-results .highlighted {
  background-color: #919191;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#919191', endColorstr='#747474', GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #919191), color-stop(90%, #747474));
  background-image: -webkit-linear-gradient(top, #919191 20%, #747474 90%);
  background-image: -moz-linear-gradient(top, #919191 20%, #747474 90%);
  background-image: -o-linear-gradient(top, #919191 20%, #747474 90%);
  background-image: linear-gradient(#919191 20%, #747474 90%);
  color: #fff;
}
/* Layout */
header {
  position: absolute;
  height: 80px;
  width: 100%;
  z-index: 1;
  padding: 20px;
  background: url(../img/headermercantour.jpg) no-repeat;
  background-size: 100% auto;
  border-bottom: 10px solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
header h1 {
  color: #c0392b;
  font-size: 27px;
  font-family: 'Open sans', Arial;
  position: absolute;
  left: 140px;
  top: 23px;
}
#container-content {
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 80px;
  bottom: 50px;
  /*margin-top: 80px; */

  /*margin-bottom: 60px;*/

}
#footer {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50px;
  bottom: 0;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #f0f2ed;
  color: #fff;
}
#footer li {
  display: inline;
  height: 100%;
}
ul.row-footer {
  padding: 0;
  text-align: center;
}
ul.row-footer a {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  font-size: 0px;
  text-decoration: none;
}
#content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: auto;
}
#mainmap {
  position: absolute;
  top: 65px;
  bottom: 0;
  width: 100%;
}
#mainmap:-webkit-full-screen {
  top: 0;
}
#mainmap:-moz-full-screen {
  top: 0;
}
#mainmap:full-screen {
  top: 0;
}
#side-bar {
  position: absolute;
  top: 65px;
  /* header + search-bar */

  bottom: 0;
  z-index: 900;
  /* above map */

}
#detail-container-content,
#flatpage-container-content {
  padding-left: 1%;
  padding-right: 1%;
  width: 98%;
}
/* Top navigation */
#flatpages {
  position: fixed;
  top: 24px;
  right: 150px;
  z-index: 1031;
}
#flatpages ul {
  list-style-type: none;
}
#flatpages ul li {
  display: inline-block;
}
#flatpages ul li a {
  -webkit-transition: background 100ms;
  -moz-transition: background 100ms;
  -ms-transition: background 100ms;
  -o-transition: background 100ms;
  transition: background 100ms;
  padding: 0px 10px 0px;
  font-size: 1.1em;
  text-decoration: none;
  display: block;
  height: 24px;
  padding-top: 6px;
  font-weight: bold;
  background: rgba(248, 148, 6, 0.7);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#flatpages ul li a:hover,
#flatpages ul li a.active {
  background-color: #f89406;
}
/* Top right elements */
#global-share {
  position: absolute;
  color: black;
  padding-left: 5px;
  top: 10px;
  right: 10px;
  line-height: 17px;
}
#global-share i {
  width: 19px;
  height: 15px;
  background: url(../img/share.png);
  background-size: 100%;
  margin-right: 3px;
}
.popover-content {
  padding: 5px;
}
.popover-content .facebook-like {
  width: 71px;
}
.popover-inner {
  width: 210px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
}
.popover-inner h3 {
  display: none;
}
ul.social-buttons {
  margin-left: 0px;
}
ul.social-buttons li {
  display: inline-block;
  vertical-align: top;
}
.popover.left .arrow {
  top: 20px;
  border-left: 5px solid rgba(255, 255, 255, 0.8);
}
#footer .wrapper {
  float: left;
  width: 92%;
  height: 100%;
}
#lang-switch {
  float: right;
  margin-top: 16px;
  width: 70px;
}
#lang-switch a.utils {
  color: black;
}
#lang-switch a.utils:hover {
  text-decoration: underline;
}
#lang-switch a.utils:after {
  content: " ";
  display: inline-block;
  width: 8px;
  height: 6px;
  background: url("../img/sprites.png") no-repeat 0px 0px;
  margin-left: 3px;
}
#lang-switch ul {
  display: none;
  margin: 0;
}
#lang-switch ul img {
  vertical-align: top;
}
#lang-switch ul li {
  list-style: none;
  float: left;
  margin-left: 3px;
}
#lang-switch ul li.active {
  opacity: 0.2;
}
/****************************************************************************
* 
* Filters
* 
*/
.slider-value {
  float: left;
  font-size: 7pt;
  text-align: center;
}
.slider-value.first {
  text-align: left;
}
.slider-value.last {
  text-align: right;
}
.stage {
  float: left;
  margin-left: 10px;
}
.time {
  float: left;
  margin-left: 25px;
}
.den {
  float: left;
  margin-left: 25px;
}
.stage .slider-value {
  width: 33%;
}
.time .slider-value {
  width: 20%;
}
.den .slider-value {
  width: 25%;
}
.slider {
  height: 23px;
  border: none;
  margin-top: 0px;
}
.ui-slider .ui-slider-range {
  height: 4px;
  background: #F77E00;
  opacity: 0.6;
  top: 9px;
}
.ui-slider .ui-slider-handle {
  background: url("../img/slider-handle.png") repeat-x scroll 0 0 transparent;
  top: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}
.filter,
.ui-slider,
.ui-slider-handle {
  cursor: pointer;
}
.slider-wrap {
  padding-left: 3px;
}
.stage .slider-wrap {
  background: url(../img/slider-stage.png) no-repeat;
  width: 157px;
}
.time .slider-wrap {
  background: url(../img/slider-time.png) no-repeat;
  width: 254px;
}
.den .slider-wrap {
  background: url(../img/slider-den.png) no-repeat;
  width: 250px;
}
.ui-slider {
  border: none;
  left: 6px;
  height: 19px;
}
.stage .ui-slider {
  max-width: 138px;
}
.time .ui-slider {
  max-width: 230px;
}
.den .ui-slider {
  max-width: 230px;
}
.theme {
  width: auto;
  float: left;
  margin-left: 25px;
}
.theme label {
  line-height: 10px;
}
.theme .filter {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  max-width: 53px;
  margin-left: 2px;
}
.theme .filter p {
  margin: 0;
  padding: 0;
  font-size: 7pt;
  line-height: 7pt;
  text-align: center;
  -ms-word-break: hyphenate;
  word-break: hyphenate;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.theme .filter.active img {
  margin-left: -25px;
}
.theme .filter img:hover {
  margin-left: -25px;
}
.theme .filter.active p {
  color: orange;
}
#filters-actions {
  float: right;
  margin-top: 12px;
  margin-right: 14px;
}
#filters-actions a {
  outline: 0;
  display: inline-block;
  line-height: 18px;
  position: relative;
  z-index: 300;
  width: 10px;
  height: 20px;
  background-color: #f89406;
}
#clear-filters {
  background: url(../img/filter-clear.png) 50% 50% no-repeat;
  background-size: 16px 16px;
  opacity: 0.4;
}
#clear-filters.active {
  opacity: 1;
  background-color: #f89406;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#toggle-filters {
  background: url(../img/filter-settings.png) 50% 50% no-repeat;
  background-size: 16px 16px;
}
#toggle-filters.active,
#toggle-filters:active {
  background-color: #e67e22;
}
#advanced-filters {
  clear: both;
  padding: 5px 5px 0px 5px;
  float: right;
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: 34px;
}
#advanced-filters .filter-bloc {
  display: inline-block;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.5);
}
/****************************************************************************
* 
* Śidebar
* 
*/
#side-bar {
  border-right: solid 2px #877e82;
  background-color: #F6F7F1;
  min-height: 45px;
}
#side-bar .nav-tabs {
  width: 100%;
  margin: 0;
  border-bottom: none;
  -webkit-touch-callout: none;
}
#tab-results,
#tab-backpack {
  width: 50%;
}
#text-search,
#result-backpack-tabs {
  width: 97%;
  float: left;
}
#toggle-side-bar {
  height: 100%;
  float: right;
  width: 3%;
  cursor: pointer;
  background-image: url(../img/sidebar-close.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#toggle-side-bar.closed {
  background-image: url(../img/sidebar-open.png);
}
/*
* Fake tabs 
*/
#side-bar .nav-tabs > li > a,
#fake-search-tabs .nav-tabs > li > a {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: center;
  font-weight: bold;
  color: #80747C;
  background-repeat: no-repeat;
  background-position: 20px 50%;
  margin: 0px;
  height: 38px;
  background-color: #e9eae5;
  border: solid 1px #dbdcd7;
  border-bottom-width: 2px;
  border-left: none;
  line-height: 19px;
  vertical-align: bottom;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
#side-bar .nav-tabs > li > a i,
#fake-search-tabs .nav-tabs > li > a i {
  position: absolute;
  background-image: url(../img/sprites.png);
  width: 25px;
  height: 26px;
  left: 50%;
  top: 5px;
  margin-left: -74px;
}
#side-bar .nav-tabs > li.active > a,
#side-bar .nav-tabs > li > a:hover {
  background-color: white;
}
#side-bar .nav-tabs > li.active > a {
  border-bottom: solid 1px white;
}
#side-bar .nav-tabs > #tab-results a i,
#fake-search-tabs .nav-tabs > #tab-results a i {
  background-position: -60px 0;
}
#side-bar .nav-tabs > #tab-results.active a i,
#fake-search-tabs .nav-tabs > #tab-results.active a i {
  background-position: -86px 0;
}
#side-bar .nav-tabs > #tab-backpack a i,
#fake-search-tabs .nav-tabs > #tab-backpack a i {
  background-position: -10px 0;
}
#side-bar .nav-tabs > #tab-backpack.active a i,
#fake-search-tabs .nav-tabs > #tab-backpack.active a i {
  background-position: -35px 0;
}
p.tab-content-empty {
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  color: #80747C;
}
#side-bar .result.outbounds {
  opacity: 0.2;
}
#side-bar .result:hover,
.side-bar .result.active {
  background-color: #e9eae5;
}
#side-bar .result {
  clear: both;
  border-bottom: solid 1px #dbdcd7;
  cursor: pointer;
  position: relative;
  padding: 5px;
  height: 110px;
}
#side-bar .result .illust {
  float: left;
}
#side-bar .result .info-result {
  margin-top: 5px;
  margin-left: 5px;
  min-height: 115px;
  display: inline-block;
}
#side-bar .result .info-result h3 {
  font-size: 14px;
  color: #625b50;
  line-height: 13px;
  margin-bottom: 4px;
}
#side-bar .result .info-result p {
  margin: 0;
  color: #968d7f;
}
.search {
  width: 30%;
  height: 100%;
  float: left;
}
.search label {
  text-align: center;
  font-weight: bold;
  color: #000;
  margin-top: 15px;
}
.search .span4 {
  margin-top: 20px;
}
#side-bar .search1 .add-on {
  border: none;
  position: relative;
  margin-left: -5px;
  background: #7f747c;
  border: 1px solid #7f747c;
}
.search input.span3 {
  width: 180px;
  padding-left: 20px;
}
#text-search {
  float: left;
  width: 97%;
}
#text-search .span4 {
  width: 100%;
  margin-left: 0;
}
#text-search .control-group {
  margin-top: 5px;
  margin-bottom: 5px;
}
#text-search .navbar-search {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#text-search .navbar-search .search-query {
  color: gray;
  height: 28px;
  width: 100%;
  background: white;
  margin-bottom: 0;
  border-color: #E9EAE5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#text-search .navbar-search .search-query.active {
  background-color: white;
}
#text-search .navbar-search .search-query:focus,
#text-search .navbar-search .search-query.focused {
  padding: 4px 9px;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 1px solid #f89406;
  outline: 0;
  -webkit-box-shadow: 0 0 3px #f89406;
  -moz-box-shadow: 0 0 3px #f89406;
  box-shadow: 0 0 3px #f89406;
}
#text-search .navbar-search .icon-search {
  position: absolute;
  right: 8px;
  top: 7px;
  pointer-events: none;
}
#result-backpack-content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 3%;
  top: 75px;
  border-right: 1px solid #dbdcd7;
  padding-top: 1px;
  background-color: white;
}
#result-backpack-tabs span.badge {
  margin-right: 2px;
}
#search-bar {
  position: absolute;
  width: 100%;
  height: 65px;
  top: 0;
  z-index: 895;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  color: #9e969a;
  padding: 5px 5px 5px 15px;
  background: #f8f8f8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#search-bar label {
  font-weight: bold;
  margin-top: 1px;
  margin-bottom: 0px;
}
#search-bar p.title {
  float: left;
  margin-top: 18px;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 5px;
  position: absolute;
  left: 10px;
}
#search-bar p.title.active {
  color: #f89406;
  text-shadow: 0px 0px 2px #ffff00;
}
.search-tools {
  position: absolute;
  right: 7px;
  bottom: 7px;
}
.search-tools .btn {
  background-image: none;
  height: 22px;
  width: 22px;
  margin-left: 5px;
  float: left;
}
.search-tools .btn.backpack,
.search-tools .btn.search {
  padding: 6px;
}
.search-tools .btn i {
  display: block;
  width: 22px;
  height: 20px;
}
.search-tools .btn i.add {
  background-image: url("../img/bag-add.png");
}
.search-tools .btn i.remove {
  background-image: url("../img/bag-remove.png");
}
.search-tools .btn i.search {
  background-image: url("../img/search.png");
}
.theme-tools {
  float: left;
}
.pictogram {
  width: 25px;
  height: 25px;
  overflow: hidden;
  display: inline-block;
}
.pictogram img {
  max-width: none;
  height: 25px;
}
.pictogram.big {
  width: 64px;
  height: 64px;
}
.pictogram.big img {
  height: 64px;
}
.pictogram.small {
  width: 16px;
  height: 16px;
}
.pictogram.small img {
  height: 16px;
}
/****************************************************************************
* 
* Maps
* 
*/
#mainmap {
  z-index: 890;
}
#mainmap .leaflet-popup-content-wrapper {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #f6f7f0;
  min-width: 250px;
}
#mainmap .leaflet-popup-content-wrapper .leaflet-popup-content {
  text-align: center;
}
#mainmap .leaflet-popup-content-wrapper .leaflet-popup-content .description {
  text-align: justify;
}
#mainmap .leaflet-popup-content-wrapper .leaflet-popup-content p {
  margin: 10px 0;
}
#mainmap .leaflet-popup-content-wrapper .leaflet-popup-content p:last-child {
  margin-bottom: 15px;
}
#mainmap .leaflet-popup-content-wrapper .leaflet-popup-content p.popupdetail a {
  font-size: 14px;
  position: absolute;
  bottom: 30px;
  right: 15px;
}
#mainmap .leaflet-popup-content-wrapper .leaflet-popup-content img {
  max-width: 100% !important;
  float: left;
  margin-right: 10px;
  opacity: 0.7;
}
#mainmap .leaflet-popup-content-wrapper .leaflet-popup-content img:hover {
  opacity: 1.0;
}
#mainmap .leaflet-popup-content-wrapper .leaflet-popup-content a {
  color: #5db9d6;
  text-decoration: underline;
}
#mainmap .leaflet-popup-tip {
  background: #f6f7f0;
}
#mainmap .popup-footer {
  background: url(../img/popup-footer.png) no-repeat center;
  width: 100%;
  height: 16px;
  margin-top: -1px;
}
.no-fullscreen .leaflet-control-zoom-fullscreen {
  display: none;
}
.leaflet-control-zoom-fullscreen {
  background-image: url(../img/icon-fullscreen.png);
}
/****************************************************************************
* 
* Detail and Flatpage
* 
*/
.detail-content,
.flatpage-content {
  padding-bottom: 15px;
  color: #4d4d4d;
}
.flatpage-content h2,
.flatpage-content h3,
.flatpage-content h4,
.detail-content h2,
.detail-content h3,
.detail-content h4 {
  color: #494146;
}
.detail-content a,
.flatpage-content a {
  color: #63c1db;
}
/****************************************************************************
* 
* Detail page
* 
*/
#detail-content-top {
  margin-bottom: 15px;
}
#detail-content-top h2 {
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#toolbox {
  margin-right: 15px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: right;
}
#toolbox a.print,
#toolbox a.backpack,
#toolbox a.download {
  position: relative;
  padding-left: 30px;
  vertical-align: top;
}
#toolbox a.print.gpx,
#toolbox a.backpack.gpx,
#toolbox a.download.gpx {
  padding-left: 25px;
}
#toolbox a.print.kml,
#toolbox a.backpack.kml,
#toolbox a.download.kml {
  padding-left: 25px;
}
#toolbox a.btn i {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  height: 25px;
  width: 30px;
}
#toolbox a.btn i.gpx {
  background-image: url("../img/gpx.png");
  width: 25px;
}
#toolbox a.btn i.kml {
  background-image: url("../img/kml.png");
  width: 25px;
}
#toolbox i.print {
  background-image: url("../img/imprimante.png");
}
#toolbox i.backpack {
  background-image: url("../img/sacplus.png");
}
#toolbox a.backpack,
#toolbox a.download,
#toolbox #btn-print {
  margin-top: 5px;
}
#detail-content-top h2:first-letter,
.flatpage-content h2:first-letter {
  font-size: 2em;
}
#detail-content-top h2,
.flatpage-content h2 {
  font-size: 2em;
  color: #4d4d4d;
  text-transform: uppercase;
}
.detail-content h3 {
  font-size: 14px;
  text-decoration: underline;
  margin-bottom: 10px;
  margin-top: 20px;
}
.detail-content h4 {
  background-color: #999095;
  text-align: center;
  color: white;
  width: 100%;
}
.detail-content p {
  text-align: justify;
}
p.teaser {
  line-height: 1.1em;
  font-size: 18px;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}
.detail-content p.image {
  text-align: center;
}
#trek-identity {
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}
#trek-identity p {
  margin-bottom: 0;
  color: #80747c;
}
#trek-identity span.value {
  color: #F77E00;
  font-style: italic;
}
#themes li,
#usages li,
#networks li {
  list-style-type: none;
  display: inline-block;
}
#detailmap {
  min-height: 400px;
}
#detailmap:-webkit-full-screen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#detailmap:-moz-full-screen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#detailmap:full-screen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#detailmap .helpclic {
  color: #ffffff;
  z-index: 5;
  bottom: 0px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 14px;
}
.meta {
  margin-top: 15px;
}
#pois-accordion {
  max-height: 400px;
  overflow: auto;
}
#pois-accordion .pictures-info {
  margin-right: 35px;
  margin-top: 7px;
}
#detailmap a,
#toolbox a {
  color: black;
}
.alert-info a {
  font-weight: bold;
  color: #3a87ad;
  text-decoration: underline;
}
.alert-info p {
  margin: 0;
}
#altitudegraph .axislabel {
  color: blue;
  font-size: 10px;
}
#altitudegraph p {
  margin: 0px;
}
#altitudegraph #mouseoverprofil {
  display: inline-block;
  color: #4d4d4d;
}
#trek-pictures:hover .carousel-control {
  opacity: 0.5;
}
#trek-pictures:hover .carousel-control:hover {
  opacity: 0.9;
}
.carousel .item {
  overflow: hidden;
}
.carousel .item > img {
  margin: 0 auto;
}
.carousel p {
  margin: 0 0 6px;
}
.carousel .carousel-caption {
  background: rgba(0, 0, 0, 0.7);
}
a.carousel-control {
  width: 30px;
  height: 32px;
  line-height: 26px;
  color: white;
  border: none;
  font-size: 40px;
  font-family: Arial;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
a.carousel-control.right {
  right: 10px;
  padding-left: 2px;
  opacity: 0;
}
a.carousel-control.left {
  left: 10px;
  padding-left: 0;
  padding-right: 2px;
  width: 30px;
  opacity: 0;
}
/*
* POIs list
*/
.accordion-heading,
.accordion-inner {
  background-color: white;
}
a.accordion-toggle.open {
  font-weight: bold;
  color: #666666;
}
.accordion-body.in .accordion-inner {
  color: #666666;
}
.accordion-heading .accordion-toggle {
  padding: 0px 2px;
}
.accordion-toggle {
  color: #999095;
  text-decoration: none;
  background: url(../img/accordion-open.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
.accordion-toggle.open {
  color: #999095;
  text-decoration: none;
  background: url(../img/accordion-close.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
a.accordion-toggle {
  cursor: pointer;
  color: #999095;
  text-decoration: none;
}
.accordion-inner {
  color: #80757D;
}
#trek-links img {
  padding-right: 5px;
}
#trek-links li {
  list-style-type: none;
}
/* POIS markers */
.poi-marker-icon.cluster,
.poi-marker-icon img {
  width: 24px;
  height: 24px;
  padding: 1px;
  color: black;
  text-align: center;
  background-color: rgba(255, 140, 0, 0.7);
  border: 1px solid #232222;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 7px 2px #ffff00;
  -moz-box-shadow: 0px 0px 7px 2px #ffff00;
  box-shadow: 0px 0px 7px 2px #ffff00;
}
.poi-marker-icon.highlight img {
  background-color: #ffff00;
}
/* ==========================================================================
   Media queries
   ========================================================================== */
/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {
  header h3 {
    font-size: 20px;
    left: 11px;
    top: 27px;
  }
  #content {
    height: auto;
    min-height: 100%;
  }
  #search-bar {
    height: 115px;
  }
  #side-bar {
    top: 115px;
    width: 330px;
  }
  #side-bar .illust img {
    width: auto;
    height: 100%;
  }
  #side-bar .result .info-result {
    min-height: 100px;
  }
  #side-bar .search-tools {
    bottom: 5px;
  }
  #global-share {
    padding-left: 6px;
    font-size: 0px;
    width: 15px;
    height: 22px;
    right: 8px;
  }
  #global-share i {
    margin-right: 0px;
    margin-top: -5px;
  }
  #flatpages {
    right: 70px;
  }
  .leaflet-control-minimap {
    display: none;
  }
  #footer .wrapper {
    width: 100%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  #container-content {
    bottom: 0;
  }
  .leaflet-control-minimap,
  #footer {
    display: none;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  #container-content {
    top: 0;
  }
  .touch .leaflet-control-container {
    display: none;
  }
  header {
    width: 45px;
    height: 45px;
    padding: 0;
    background: url(../img/ecrins-logo.png) no-repeat center center;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-touch-callout: none;
  }
  header h1 {
    display: none;
  }
  #search-bar {
    display: none;
  }
  #side-bar {
    top: 0;
    bottom: auto;
    height: auto;
    width: 100%;
    border-right: none;
    background-color: rgba(246, 247, 241, 0.9);
  }
  #side-bar .illust {
    display: none;
  }
  #side-bar #tab-results {
    display: none;
  }
  #side-bar .result {
    height: 25px;
    overflow: hidden;
  }
  #side-bar .result .info-result {
    min-height: auto;
    margin: 0;
    white-space: nowrap;
  }
  #side-bar .result .info-result a {
    vertical-align: middle;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  #side-bar .result .info-result h3 {
    display: inline-block;
  }
  #side-bar .result .info-result p {
    display: inline;
    margin-right: 5px;
    vertical-align: middle;
  }
  #side-bar .nav-tabs > li > a i {
    margin-left: 0;
    border: none;
    position: static;
  }
  #side-bar .nav-tabs > li > a {
    background-color: transparent;
    border: none;
    width: 45px;
    height: 45px;
    padding: 9px;
  }
  #side-bar .nav-tabs > li.active > a {
    background-color: transparent;
    border: none;
  }
  #tab-backpack {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    overflow: hidden;
  }
  #tab-backpack .badge,
  #tab-backpack .text {
    display: none;
  }
  #text-search,
  #result-backpack-tabs {
    width: 100%;
  }
  #result-backpack-tabs {
    margin-top: 45px;
  }
  #result-backpack-content {
    height: 157px;
    right: 0;
    top: 45px;
    display: none;
    -webkit-overflow-scrolling: touch;
  }
  .ascent {
    display: none;
  }
  .search-tools {
    display: none;
  }
  .theme-tools {
    float: none;
    display: inline-block;
    min-height: 25px;
  }
  #text-search {
    position: absolute;
    left: 45px;
    right: 45px;
    width: auto;
  }
  #text-search .navbar-search {
    padding-left: 0;
  }
  #text-search .navbar-search .search-query {
    height: 35px;
  }
  #text-search .navbar-search .icon-search {
    right: 13px;
    top: 11px;
  }
  #toggle-side-bar {
    display: none;
  }
  #mainmap {
    top: 0;
  }
  #global-share,
  #flatpages {
    display: none;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* Prevent callout */
.nocallout {
  -webkit-touch-callout: none;
}
.pressed {
  background-color: rgba(0, 0, 0, 0.7);
}
/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {
  -webkit-appearance: none;
}
/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */
.gifhidden {
  position: absolute;
  left: -100%;
}
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}
.ir br {
  display: none;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
