/*
 * Bootstrap override
 */

.container {
  margin-left: 0px;
  margin-right: 0px;
}


[class^="icon-"],
[class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings-white.png");
}

/* Jquery UI override */
.ui-widget-content , .ui-widget-overlay, .ui-widget-shadow {
  background: none;
}



/* Layout */


#content {
  width:100%;
  height:100%;
  position:relative;
  top:-17px;
}

#mainmap {
  height: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #content {
        top:0;
    }
}


.nav-tabs {
  border-bottom: none;
}


.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background:url(../img/headermercantour.jpg) no-repeat;
  background-size: 100% 100%;
  height: 80px;
}


.navbar-inner h3
{
  width:20%;
  float:left;
  color:#93117e;
  margin-top:25px;
  margin-left:200px;
}

.navbar .btn {
  padding: 8px 10px 4px;
}
.nav-tabs .active a
{
  border-bottom:none;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  right: 0;
  left: 0;
  margin-bottom: 0;
}

.navbar-inner .container {
    width: 90%;
    float:left
}

#container-content {
   margin-top: 1px;
   width:100%;
}


.logo
{
  width:140px;
  height:150px;
  position:absolute;
  background-size:100%;
  margin-left:3%;
  margin-top:0.5%;
}


.footer
{
  width:100%;
  background-color:#f0f2ed;
  z-index: 100;
  height: 66px;
  clear:both;
  padding-top:10px;
  color:#fff;
  bottom:0;
}




/* Top navigation */

#flatpages {
  position: fixed;
  top: 10px;
  right: 150px;
  z-index: 1031;
}

#flatpages ul {
  list-style-type: none;
}

#flatpages ul  li {
  display: inline-block;
}

#flatpages ul li > a {
  color: white;
  text-shadow: 0 0 white, 0 0 white, 0 0 white, 0 2px black;
  padding: 0px 10px 0px;
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
}

#flatpages ul li > a:hover {
  color: #000;
  text-shadow: 0 0 white, 0 0 white, 0 0 white, 0 2px white;
}



/* Top right elements */

#lang-switch {
  position: fixed;
  top: 8px;
  right: 8px;
  height: 13px;
  border: none;

  z-index: 1031; /* boostrap has this... */
}

#lang-switch ul {
  list-style-type: none;
}

#lang-switch li.active {
  opacity: 0.2;
}

#global-share {
  background: url("../img/share.png") no-repeat scroll 0 0 #F5F6F0;
  border: 1px solid #80747C;
  border-radius: 3px 3px 3px 3px;
  color: #63C1DB;
  padding: 3px 10px 3px 25px;
}


















.side-bar
{
  width:30%;
  
  border-right:solid 2px #877e82;
  background:#F6F7F1;
  min-width: 408px;
  max-width:500px;
  position: fixed;
  z-index:900;
}
.side-bar .nav
{
  margin-top:0;
}
.side-bar .nav li
{
  background: #e9eae5;
}
.side-bar .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f6f7f1;
    border-color: #DDDDDD #DDDDDD transparent;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}

.side-bar .nav-tabs > li > a 
{
  border-radius:0;
  margin:0;
  text-align:center;
  border:1px solid ;
}
.side-bar .nav-tabs > li > a:hover 
{
  
    border-radius:0;
    background-color: #F6F7F1;
}
.side-bar .nav-tabs
{
  width:100%;
}

#tab-results, #tab-backpack {
  width: 47.5%;
}

#tab-showhidepanel {
  width: 5.5%;
}

.side-bar .nav-tabs > #tab-results.active a
{
  background:url(../img/loupe-on.png) no-repeat 30px 5px;
  background-color: #F6F7F1;
  border-bottom:none;
  font-size: 11pt;
    font-weight: bold;
}
.side-bar .nav-tabs > #tab-results a
{
  background:url(../img/loupe-off.png) no-repeat 30px 5px;
  border-color: #80747C;
  color: #80747C;
    font-family: arial;
    font-size: 11pt;
}


.side-bar .nav-tabs > #tab-backpack.active a
{
  background:url(../img/sac-on.png) no-repeat 10% 5px;
  background-color: #F6F7F1;
  border-bottom:none;
  font-weight:bold;
  
}
.side-bar .nav-tabs > #tab-backpack a
{
  background:url(../img/sac-off.png) no-repeat 10% 5px;
  border-color:#80747c;
  color: #80747C;
    font-family: arial;
    font-size: 11pt;
}

.side-bar .nav-tabs > #tab-showhidepanel a
{
  background:url(../img/triangleresultat.png) no-repeat 50% 1px;
  padding-left:0;
  padding-right:0;
  border: 1px solid #80747C;
}

#show-side-bar {
  width:25px;
  height:36px;
  top: 40px;
  left: 0px;
  position: absolute;
  background:url(../img/triangleresultatdroite.png) no-repeat 1px 3px;
  background-color:#f2f3ed;
  border: 2px solid #80747C;
  z-index: 100;
  cursor:pointer;
}

.side-bar .slider
{
  width:7px;
}


.side-bar .result
{
  width:97%;
  height:132px;
  border-top:solid 1px #dbdcd7;
  border-bottom:solid 1px #dbdcd7;
  cursor: pointer;
}
.side-bar .result .illust
{
  width:130px;
  height:120px;
  background:#80757d;
  margin-top:1%;
  margin-left:4%;
  float:left;
}
.side-bar .result .info-result
{
  height:120px;
  float:left;
  width:220px;
  margin-top:1%;
  margin-left:4%;
}
.side-bar .result .info-result h4
{
color:#625b50;
}
.side-bar .result .info-result p
{
  margin:0;
  color:#968d7f;
}



.side-bar .search1 .add-on
{
  float:right;
  border-radius:0;
  margin-right: 10px;
  background:#7f747c;
}

.side-bar .result:hover {
  background: #e7e9a0;
}



.show-hide-filters {
  border: solid 1px #a09f94;
  outline:0;
  float:left;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  display: inline-block;
    line-height: 18px;
    margin: 20px 5px 6px;
    padding: 21px 15px 4px;
  position: relative;
    z-index: 300;
}

#show-filters { 
  background: url(../img/flechedown.png) 50% 50% no-repeat;
}

#hide-filters {
  background: url(../img/fleche-up.png) 50% 50% no-repeat;
}


#advanced-filters {
  clear:both;
}

#advanced-filters .filter-bloc {
  height: 80px;
  float: left;
}

#advanced-filters .filter-bloc .btn.bullet {
  text-align: left;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-left: 12px;
  border: none;
  box-shadow: none;
  background:url(../img/rond-vide.png) no-repeat 0 50%;
  font-size:9px;
  color:#7f737c;
}

#advanced-filters .filter-bloc .btn.bullet.active,
 #advanced-filters .filter-bloc .btn.bullet:hover {
  background:url(../img/rond-plein.png) no-repeat 0 50%;
}

.boucle .checkbox input
{
  float:none;
  margin-left:0;
}


.vallee
{
  width:350px;
  margin-left:40px;
}

#advanced-filters .vallee .btn-group button
{
  width:33% !important;
}

.usage
{
  margin-left:110px;
}
.usage label
{
  margin-left:20px
}
.usage div
{
  margin-left:5px;
}

.access
{
  width:100px;
  margin-left:20px;
}

.boucle {
    margin-left: 20px;
    width: 80px;
}


.slider-value {
  font-weight: bold;
  float:left; font-size: 7pt;
  text-align: center;
}

.slider-value.first {
  text-align: left; 
}

.slider-value.last {
  text-align: right; 
}

.stage .slider-value {
  width: 33%;
}

.time .slider-value {
  width: 20%;
}

.den .slider-value {
  width: 25%;
}


.stage
{
  width:157px;
  float:left;
  margin-left:25px;
}
.time
{
  width:251px;
  float:left;
  margin-left:50px;
}
.den
{
  width:251px;
  float:left;
  margin-left:50px;
}
.theme
{
  width:auto;
  float:left;
  margin-left:50px;
}
.theme .filter label 
{
  margin-bottom:0;
}


.stage .slider
{
  width: 161px;
  /*background:url(../img/bgdifficulteNEW.png);*/
  background-size:161px 100%;
  height:23px;
  border:none;
  margin-top:0;
}
/* Slider Dual Stage*/
.stage #stage .ui-slider-range
{
  height:4px;
  background:#F77E00;
  opacity:0.6;
  top:10px;
}
.stage #stage
{
  width: 161px;
  /*background:url(../img/bgdifficulteNEW.png);*/
  background-size:161px 100%;
  height:0;
  border:none;
  top:-25px;
  left:6px;
}
.stage #stage .ui-slider-handle
{
  background:url("../img/Curseur.png") repeat-x scroll 0 0 transparent;
  top:4px;
  border:none;
  outline:none;
}
/* Slider Dual Time */
.time #time .ui-slider-range
{
  height:4px;
  background:#F77E00;
  opacity:0.6;
  top:10px;
}
.time #time
{
  width: 254px;
  height:0;
  border:none;
  top:-25px;
  left:6px;
}
.time #time .ui-slider-handle
{
  background:url("../img/Curseur.png") repeat-x scroll 0 0 transparent;
  top:4px;
  border:none;
  outline:none;
}

.time .slider
{
  background:url(../img/bgduree.png);
  width:253px;
  background-size:253px 100%;
  height:23px;
  border:none;
  margin-top:0;
}
/* Slider Dual Den*/
.den #den .ui-slider-range
{
  height:4px;
  background:#F77E00;
  opacity:0.6;
  top:10px;
}
.den #den
{
  width: 254px;
  height:0;
  border:none;
  top:-25px;
  left:6px;
}
.den #den .ui-slider-handle
{
  background:url("../img/Curseur.png") repeat-x scroll 0 0 transparent;
  top:4px;
  border:none;
  outline:none;
}

.den .slider
{
  background:url(../img/bgdenivele.png);
  width:279px;
  height:23px;
  border:none;
  background-size: 279px 100%;
  margin-top:0;

}


.filter-theme {
  width:32px;
  height: 22px;
  margin-top:0;
  border: none;
  outline:0;
  -moz-box-shadow: none;
          box-shadow: none;
      margin-bottom:0;
}

.filter-theme.active {
  border: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
          outline:0;

  /* TODO use sprites */
}

.filter-usage {
  width:32px;
  height: 23px;
  border: none;
  outline:0;
  -moz-box-shadow: none;
          box-shadow: none;
}

.filter-usage.active {
  width:32px;
  height: 23px;
  border: none;
  outline:0;
  -moz-box-shadow: none;
          box-shadow: none;
}

.search
{
  width:30%;
  height:100%;
  float:left;
}
.search label
{
  text-align:center;
  font-weight: bold;
  color:#000;
  margin-top:15px;
}
.search .span4
{
  margin-top : 20px;
}
.search .span4 .add-on
{
  border:none;
  background:none;
  position:relative;
  z-index: 500;
  margin-right:-30px;
}
.search input.span3
{
  width:180px;
  padding-left:20px;
}
.search1
{
  float:left;
  background:#E9EAE5;
  width:100%;
}
.search1 .span4
{
  width:100%;
  margin-left:0
}

.search1 .control-group
{
  margin-top:5px;
  margin-bottom:5px;
}
.search1 #search
{
  width:88%;
}

#result-backpack-tabs ul.nav {
  margin-bottom: 5px;
}

.nb_sac
{
  position:absolute;
  width:15px;
  margin-left:10%;
  margin-top:9px;
  color: #80747C;
    font-weight: bold;
}
.nb_res
{
  position:absolute;
  width:15px;
  left:10%;
  margin-top:9px;
  color:#fe8a10;
  font-weight:bold;
}



#search-bar label
{
  font-weight:bold;
  color:#9e969a;
  /*margin-left:15px;*/
  margin-top:2px;
  margin-bottom: 2px;
}



#search-bar {
  height:75px;
  width:100%;
  background-color:#f6f7f1;
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 2px 1px #888;
}


#search-bar p.title {
  float: left;
  width:50px; 
  margin-top:24px;
  font-weight:bold;
  margin-left: 5px;
}

.info-result #icon-add-sac
{
  padding:3px 3px 3px 3px;
}
.info-result #search-rando
{
  padding:3px 3px 3px 3px;
  
  
}
.search-tools
{
  float:right;
}
.theme-tools
{
  float:left;
}
.info-result #icon-cols
{
  padding:13px 7px 12px 20px;
  background:url(../img/picto-theme/col-on.png) no-repeat -3px 3px;
  border:none;
  box-shadow:none;
}












#map .leaflet-popup-content-wrapper 
{
  background:#f6f7f0;
  width:280px;
  border-radius:0;
}

#map .leaflet-popup-content img
{
  max-width:100% !important;
}
#map .leaflet-popup-content a
{
  text-align: center;
  color: #5db9d6;
  text-decoration:underline;
}
#map .leaflet-popup-tip
{
  background:#f6f7f0;
}
#map .popupdetail
{
  background: url(../img/loupe.png) no-repeat;
  background-position: 50px 0;
}




#map-rando
{
  margin-left:30px;
  margin-bottom:30px;
}













































/****************************************************************************
 * 
 * Detail page
 * 
 */



.detail-content {
    background-color:#f6f7f0;
}

#detail-content-top h2, #detail-content-top #toolbox {
  margin-top: 15px;
  margin-bottom: 15px;
}


#detail-content-top h2 {
  color: #494146;
  font-size: 22px;
  line-height: 36px;
  font-family:Arial, Helvetica, sans-serif;
}


/*
 * Fake tabs 
 */
#fake-result-backpack-tabs ul {
  margin-bottom: 0px;
  border-bottom: solid 2px #877E82;
}


#toolbox .btn {
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #c0c06a;
  background-image: -ms-linear-gradient(top, #ffffff, #c0c06a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#c0c06a));
  background-image: -webkit-linear-gradient(top, #ffffff, #c0c06a);
  background-image: -o-linear-gradient(top, #ffffff, #c0c06a);
  background-image: linear-gradient(top, #ffffff, #c0c06a);
  background-image: -moz-linear-gradient(top, #ffffff, #c0c06a);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}


/*
 * POIs list
 */


.accordion-body {
  max-height:120px;
  overflow:auto;
}

.accordion-heading .accordion-toggle {
  padding: 4px 16px;
  min-height: 24px;
}


.accordion-toggle {
  color: #999095;
  text-decoration: none;
  background: url(../img/flech-acc-open.png);
  background-repeat: no-repeat;
  background-position: right;
}

.accordion-toggle.open {
  color: #999095;
  text-decoration:none;
  background: url(../img/flech-acc-close.png);
  background-repeat: no-repeat;
  background-position: right;
}

a.accordion-toggle:hover  {
  cursor: pointer;
  color: #999095;
  text-decoration:none;
}

.accordion-toggle img {
  float: left;
  max-height: 24px;
  padding-right: 5px;
}

.accordion-inner {
  color: #80757D;
}















.desc-fiche h3
{
  margin-top: 20px;
  color:#80757d;
  margin-left:30px;
  line-height:1.1;
}
.desc-fiche p
{
  margin-left:30px;
  color:#80757d;
  margin-top:20px;
}

.fiche-info h4
{
  margin-left:30px;
  margin-bottom:20px;
  text-decoration:underline;
  margin-top:30px;
}
.fiche-info h5
{
  margin-left:30px;
  margin-bottom:10px;
  
}
.fiche-info p
{
  margin-left:30px;
  margin-bottom:0;
  color:#80747c;
}
.fiche-info i
{
  color:#F77E00;
}




.download
{
  background:url("../img/download.png") no-repeat;
  padding-left:20px;
}
.download a
{
  color:#63c1db;
}
.topoguide a, .refuge a, .bus a
{
  color:#63c1db;
  padding-left:20px;
  
}
p.topoguide
{
  background:url(../img/typo.png) no-repeat;
  margin-bottom:5px;
}
p.refuge
{
  background:url(../img/refuge.png) no-repeat;
  margin-bottom:5px;
}
p.bus
{
  background:url(../img/bus.png) no-repeat -3px -1px;
  margin-bottom:5px;
  height:22px;
}

.popup-content
{
  background: #eeeeee;
  width: 280px;
   -moz-box-shadow: 0 0 3px 3px #888;
  -webkit-box-shadow: 0 0 3px 3px#888;
  box-shadow: 0 0 3px 3px #888;
}
.popup-content p
{
  margin : 0;
  padding:10px;
}
.popup-content h3
{
  padding:3px 10px 0px 10px;
}

.popup-footer
{
  background:url(../img/pointeur.png) no-repeat center;
  width:100%;
  height:16px;
  margin-top:-1px;
}
.theme-icon
{
  width:auto;
  float:left;
}
.theme-icon p
{
  font-size: 9px;
    margin: 0;
  font-weight:bold;
    padding: 0;
    text-align: center;
  line-height:1;
}
.usage-icon
{
  width:52px;
  float:left;
  text-align:center;
}
.usage-icon p
{
  font-size: 9px;
    margin: 0;
  font-weight:bold;
    padding: 0;
    text-align: center;
  line-height:1;
}

























































#cols
{
  background:url(../img/picto-theme/col-off.png);
  
     
}
#cols.active
{
  background: url(../img/picto-theme/col-on.png);

}
#sommet
{
  background:url(../img/picto-theme/sommet-off.png);

}
#sommet.active
{
  background: url(../img/picto-theme/sommet-on.png);
}
#refug
{
  background:url(../img/picto-theme/refuge-off.png);
}
#refug.active
{
  background: url(../img/picto-theme/refuge-on.png);
}
#flore
{
  background:url(../img/picto-theme/flore-off.png);
}
#flore.active
{
  background: url(../img/picto-theme/flore-on.png);
}
#faune
{
  background:url(../img/picto-theme/faune-off.png);
}
#faune.active
{
  background: url(../img/picto-theme/faune-on.png);
}
#patr
{
  background:url(../img/picto-theme/patrimoine-off.png);

}
#patr.active
{
  background: url(../img/picto-theme/patrimoine-on.png);

}
#lacs
{
  background:url(../img/picto-theme/lac-off.png);

}
#lacs.active
{
  background: url(../img/picto-theme/lac-on.png);

}

#velo
{
  background:url(../img/picto-usage/velo-off.png);
  
}
#vtt
{
  background:url(../img/picto-usage/vtt-off.png);
}
#cheval
{
  background:url(../img/picto-usage/Cheval-off.png);
}

#velo.active
{
  background:url(../img/picto-usage/velo-on.png);
}
#vtt.active
{
  background:url(../img/picto-usage/VTT-on.png);
}
#cheval.active
{
  background:url(../img/picto-usage/Cheval-on.png);
}












.part1
{
  width:100px;
  height:100%;
  float:left;
  
  background:url(../img/footer-partenaire.jpg) no-repeat -40px 0;
}
.part2
{
  width:100px;
  height:100%;
  float:left;
  background:url(../img/footer-partenaire.jpg) no-repeat -130px 0;
  
}
.part3
{
  width:100px;
  height:100%;
  float:left;
  background:url(../img/footer-partenaire.jpg) no-repeat -230px 0;
  
}
.part4
{
  width:100px;
  height:100%;
  float:left;
  background:url(../img/footer-partenaire.jpg) no-repeat -324px 0;
  
}
.part5
{
  width:100px;
  height:100%;
  float:left;
  background:url(../img/footer-partenaire.jpg) no-repeat -410px 0;
  
}
.part6
{
  width:100px;
  height:100%;
  float:left;
  background:url(../img/footer-partenaire.jpg) no-repeat -500px 0;
  
}
.part7
{
  width:100px;
  height:100%;
  float:left;
  background:url(../img/footer-partenaire.jpg) no-repeat -40px 0;
  
}
.part8
{
  width:100px;
  height:100%;
  float:left;
  background:url(../img/footer-partenaire.jpg) no-repeat -130px 0;
  
}
.part9
{
  width:100px;
  height:100%;
  float:left;
  background:url(../img/footer-partenaire.jpg) no-repeat -230px 0;
  
}
.part10
{
  width:100px;
  height:100%;
  float:left;
  background:url(../img/footer-partenaire.jpg) no-repeat -324px 0;
  
}
.part11
{
  width:100px;
  height:100%;
  float:left;
  background:url(../img/footer-partenaire.jpg) no-repeat -410px 0;
}
.part12
{
  width:100px;
  height:100%;
  float: left;
  background:url(../img/footer-partenaire.jpg) no-repeat -500px 0;
  
}