/* Variables */
@fontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
@fontFamilyTitle: 'Open sans', Arial;
@fontFamilyCaption: Arial;
@fontFamilyNavigation: sans-serif-light, "Helvetica Neue", Helvetica, Arial, sans-serif;

@white : #ffffff;
@black : #232222;
@blackLighter : #4d4d4d;
@orange : #F89406;
@mainColor: #f89406;
@yellow : #ffff00;
@darkGray : #999095;

@backgroundColor: #f0f2ed;
@backgroundDarker: #dbdcd7;
@linkColor : #5db9d6;
@highlightBackground: #b3d4fc;

@headerBackground: @darkGray;
@footerBackground: @backgroundColor;
@footerText: #fff;
@filtersBackground: @backgroundColor;
@filtersBorder: @backgroundDarker;

@mobileHeaderBackground: orangered;
@mobileHeaderBorder: #992c04;

@trekLabelBackground: rgba(255, 225, 75, 0.5);
@trekLabelDeparture: rgba(165, 228, 100, 0.5);
@trekLabelArrival: rgba(255, 56, 56, 0.5);
@trekLabelParking: rgba(70, 70, 255, 0.2);
@trekLabelPOI: rgba(255, 200, 0, 0.2);



/* Landscape phone to portrait tablet */
@screen-sm : 767px;

/* Portrait tablet to landscape and desktop */
@screen-md : 979px;

/* 13 inch devices */
@screen-lg : 1044px;