<IfModule mod_deflate.c>
     AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript application/json
</IfModule>

<IfModule mod_expires.c>
    <FilesMatch "\.(jpe?g|png|gif|js|css)$">
        ExpiresActive On
        ExpiresDefault "access plus 1 hour"
    </FilesMatch>
</IfModule>

Alias /static/ /PATH_TO_SOURCE/var/static/

<Directory /PATH_TO_SOURCE/var/static>
  Order deny,allow
  Allow from all
</Directory>

Alias /media/ /PATH_TO_SOURCE/var/input/media/

<Directory /PATH_TO_SOURCE/var/input/media>
  Order deny,allow
  Allow from all
</Directory>

WSGIScriptAlias / /PATH_TO_SOURCE/rando/wsgi.py
WSGIPythonPath /PATH_TO_SOURCE/:/PATH_TO_SOURCE/lib/python2.7/site-packages
<Directory /PATH_TO_SOURCE/rando/>
    <Files wsgi.py>
        Order deny,allow
        Allow from all
    </Files>
</Directory>


