#!/usr/bin/env python
# -*- coding: utf8 -*- 

#--------------------------------------
# Edit configuration 
#

GEOTREK_SERVER = 'geobi.makina-corpus.net/geotrek'

TITLE = {
    'en': "Trekking",
    'fr': "Portail rando",
}

DESCRIPTION = {
    'en': "Catalog of treks",
    'fr': "Offre rando",
}

GANALYTICS_TRACKING_CODE = 'UA-XXXXXXXX-XX'

PRINT_ENABLED = True
VIEW3D_ENABLED = True

#
# Flat pages customizations
#
# FLATPAGES_POLICY_PAGE = 3
#

#
# Layers customizations
#......................
#
# LEAFLET_CONFIG = {
#     "TILES": [
#         ('main', 'http://{s}.tiles.mapbox.com/v3/examples.map-4l7djmvo/{z}/{x}/{y}.png', '(c) MapBox'),
#         ('detail', 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', '(c) OSM')
#     ],
#     "SCALE": False,
#     "MINIMAP": True,
#     "NO_GLOBALS": False
# }


#
# In preprod
#..................
#
# PREPROD = True
#

#
# In development
#...................
# DEBUG = True
# TEMPLATE_DEBUG = DEBUG
#
# CACHES = {
#    'default': {
#        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
#        'LOCATION': 'unique-snowflake'
#    }
#}
