#CAMINAE_SERVER = 'geobi.makina-corpus.net/ecrins-sentiers'

#
# In development
#...................
# DEBUG = True
# TEMPLATE_DEBUG = DEBUG
# CACHES = {
#    'default': {
#        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
#        'LOCATION': 'unique-snowflake'
#    }
#}

