.aside-list {
    display: block;
    width: 100%;

    margin: 0;
    padding: 0 0 2em 0;

    color: #333;

    .results-item {
        width: auto;
        margin-right: 0;
        margin-left: 0;
    }
}

.result {
    .approved {
        position: absolute;
        right: 15px;
        bottom: .3em;
        width: 2.5em;
        height: 1.6em;
        img, svg {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .themes.is-approved {
        padding-right: 2.5em;
    }    
}
