.warning-panel {
    position: absolute;
    z-index: 3;
    padding: 1rem;
    left: -100vw;
    top: 0;
    background: $light-grey;
    width: 40%;
    height: 100%;
    overflow-y: auto;
    transition: left 0.3s ease-in-ease-out;
    &.opened {
        left: 0;
    }
    .close {
        position: absolute;
        right: 1em;
        top: 1.2em;
    }
    form {
        padding: 1rem;
    }
    textarea {
        resize: vertical;
    }
    #warning-map {
        width: 100%;
        height: 200px;
    }
    .alert {
            font-size: 1rem;
        p {
            margin: 1rem 0;
        }
        .icon {
            font-size: 2rem;
            text-align: center;
        }
    }
}

@media (max-width: 767px) {
    .details-pane .detailsview-pane {
        &.warning-panel {
            transition: width .3s ease, left .3s ease;
            width: 100%;
            height: 100%;

            h4 {
                padding: 0 1rem;
            }
        }
    }
}
