{% load static i18n leaflet_tags rando_tags localeurl_tags %}

{% include "_navigation.html" %}
{% include "_share.html" with title=object.title %}

{% if pjax %}
  <title>{{ object.title }}</title>
{% endif %}


<script type="application/json" id="trek-geojson">
    {# http://stackoverflow.com/questions/9320427/best-practice-for-embedding-arbitrary-json-in-the-dom #}
    {{ trek.geojson|safe }}
</script>


<div id="mobile-header-detail">
  <a class="pjax" href="{% locale_url request.LANGUAGE_CODE "trekking:home" %}"><h1 class="icon-left-open-mini">{% trans "Back to list" %}</h1></a>
</div>

<div class="detail-content page-content">
  <div class="row-fluid" id="detail-content-top">
    {% include "trekking/_fake_searchtabs.html" %}

    <div class="span7 pull-right">
      <div id="toolbox" class="btn-toolbar pull-right">

        {% if FEEDBACK_FORM_ENABLED %}
          <a class="btn feedback icon-feedback" href="#" data-slug="{{ trek.properties.slug }}" title="{% trans "Feedback" %}">
          {% trans "Feedback" %}
          </a>
        {% endif %}

        <a class="btn backpack icon-backpack-add" href="#" data-id="{{ trek.properties.pk }}" data-name="{{ trek.properties.name }}">
          {% trans "Favorites" %}
        </a>

        {% if VIEW3D_ENABLED %}
        <a class="btn download view3d icon-view3d" data-slug="{{ trek.properties.slug }}" title="{% trans "3D View" %}">
          {% trans "3D" %}
        </a>
        {% endif %}

        {% if PRINT_ENABLED %}
        <a class="btn download print icon-print" title="{% trans "Print" %}" href="{% locale_url request.LANGUAGE_CODE "core:fileserve" object.properties.printable %}" target="_blank">
          <span class="hidden-phone">{% trans "Print" %}</span><span class="visible-phone">{% trans "PDF" %}</span>
        </a>
        {% else %}
        <a class="btn download print disabled" title="{% trans "Soon!" %}" >
          {% trans "Print" %}
        </a>
        {% endif %}
        <a class="btn download gpx icon-gpx" title="{% trans "Download GPX" %}" href="{% locale_url request.LANGUAGE_CODE "core:fileserve" object.properties.gpx %}">
          {% trans "GPX" %}
        </a>
        <a class="btn download kml icon-kml" title="{% trans "Download for Google Earth" %}" href="{% locale_url request.LANGUAGE_CODE "core:fileserve" object.properties.kml %}">
          {% trans "KML" %}
        </a>

      </div>
    </div>
  </div>

  <div class="row-fluid" id="detail-content-title">
    <div class="span6 title">
      <h2>{{ object.properties.name }}</h2>
      <h3 id="departure-arrival">{% trans "Departure" %} : {{ object.properties.departure }}{% if object.properties.arrival %} &rarr; {% trans "Arrival" %} : {{ object.properties.arrival }}{% endif %}</h3>
    </div>
    <div class="span6">

        {% if object.properties.difficulty and object.properties.difficulty.pictogram %}
        {# New in Geotrek 0.24 #}

          <div id="trek-identity">
            <div class="info duration" title="{% trans "Duration" %}">
              <span>{{ object.properties.duration_pretty }}</span>
              <div class="pictogram medium">
                <img src="{% static "img/duration.svg" %}" alt="{% trans "Duration" %}"/>
              </div>
            </div>
            {% if object.properties.difficulty %}
            <div class="info difficulty" title="{% trans "Difficulty" %}">
              <span>{{ trek.properties.difficulty.label }}</span>
              {{ trek.properties.difficulty|pictogram:"medium" }}
            </div>
            {% endif %}
            {% if object.properties.route %}
            <div class="info route" title="{% trans "Route" %}">
              <span>{{ trek.properties.route.label }}</span>
              {{ trek.properties.route|pictogram:"medium" }}
            </div>
            {% endif %}
            <div class="info distance" title="{% trans "Total Length" %}">
              <span>{{ object.properties.length|kilo|floatformat }}&#x202f;km</span>
              <div class="pictogram medium">
                <img src="{% static "img/distance.svg" %}" alt="{% trans "Total Length" %}"/>
              </div>
            </div>
            <div class="info ascent" title="{% trans "Ascent" %}">
              <span>{{ object.properties.ascent }}&#x202f;m</span>
              <div class="pictogram medium">
                <img src="{% static "img/ascent.svg" %}" alt="{% trans "Ascent" %}"/>
              </div>
            </div>

            {% for usage in object.properties.usages %}
              {% if forloop.first %}<div class="info" id="usages">{% trans "Uses" %}<ul>{% endif %}
              <li>{{ usage|pictogram:"medium" }}</li>
              {% if forloop.last %}</ul></div>{% endif %}
            {% endfor %}

            {% for theme in object.properties.themes %}
              {% if forloop.first %}<div class="info" id="themes">{% trans "Thematic" %}<ul>{% endif %}
              <li>{{ theme|pictogram:"medium" }}</li>
              {% if forloop.last %}</ul></div>{% endif %}
            {% endfor %}
          </div>


        {% else %}
        {# Retrocompatibilty with Geotrek 0.23 #}

          <div class="row-fluid" id="trek-identity">
            <div class="span3">
              <p>{% trans "Duration" %} : <span class="value">{{ object.properties.duration_pretty }}</span></p>
              <p>{% trans "Difficulty" %} : <span class="value">{{ object.properties.difficulty.label }}</span></p>
              <p>{% trans "Ascent" %} : <span class="value">{{ object.properties.ascent }} m</span></p>
            </div>
            <div class="span3">
              <p>{% trans "Total Length" %} : <span class="value">{{ object.properties.length|kilo|floatformat }} km</span></p>
              {% if object.properties.route %}
              <p>{% trans "Route" %} : <span class="value">{{ object.properties.route.label }}</span></p>
              {% endif %}
              {% if object.properties.districts %}
              <p>{% trans "Valleys" %} : <span class="value">{% for district in object.properties.districts %}
                {{ district.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span></p>
              {% endif %}
            </div>

            {% for usage in object.properties.usages %}
              {% if forloop.first %}<div id="usages">{% trans "Uses" %}<ul>{% endif %}
              <li>{{ usage|pictogram:"medium" }}</li>
              {% if forloop.last %}</ul></div>{% endif %}
            {% endfor %}

            {% for theme in object.properties.themes %}
              {% if forloop.first %}<div id="themes">{% trans "Thematic" %}<ul>{% endif %}
              <li>{{ theme|pictogram:"medium" }}</li>
              {% if forloop.last %}</ul></div>{% endif %}
            {% endfor %}
        </div>

      {% endif %}
    </div>
  </div>

  <div class="row-fluid page-inner-content">
    <div class="span4">
      {% if object.properties.description_teaser %}<p class="teaser">{{ object.properties.description_teaser|safe|striptags }}</p>{% endif %}
      {% if object.properties.ambiance %}<p>{{ object.properties.ambiance|safe }}</p>{% endif %}

      <div id="trek-carousel">
        {% include "trekking/_carousel.html" with prefix="trek" pictures=all_pictures default="True" %}
      </div>

      {% if object.properties.description %}
      <p>{{ object.properties.description|safe }}</p>
      {% endif %}

      {% if object.properties.access or object.properties.public_transport or object.properties.disabled_infrastructure %}
      <div id="trek-access" class="alert alert-info">

        {% if object.properties.disabled_infrastructure %}
        <h3 class="icon-disabled-infrastructure">{% trans "Disabled-friendly infrastructures" %}</h3>
        <p>{{ object.properties.disabled_infrastructure|safe }}</p>
        {% endif %}

        {% if object.properties.public_transport %}
        <h3 class="icon-transport">{% trans "Transport" %}</h3>
        <p>{{ object.properties.public_transport|safe }}</p>
        {% endif %}

        {% if object.properties.access %}
        <h3 class="icon-access">{% trans "Access" %}</h3>
        <p>{{ object.properties.access|safe }}</p>
        {% endif %}

      </div>
      {% endif %}

      {% if object.properties.information_desks %}
      <div id="trek-information-desk" class="alert alert-blank">
          <h3 class="icon-information-desk">{% trans "Information desks" %}</h3>
          {% for desk in object.properties.information_desks %}
            {% include "trekking/_information_desk.html" %}
          {% endfor %}
      </div>
      {% endif %}
    </div><!-- left column -->

    <div class="span8">
      {% if object.properties.is_park_centered %}
        <div id="park-center-warning" class="alert alert-info">
            <p class="icon-park-center">{% trans "This trek is within park center" %}, <a class="pjax" href="{% locale_url request.LANGUAGE_CODE "flatpages:redirect" FLATPAGES_POLICY_PAGE %}">{% trans "please read access rules." %}</a></p>
        </div>
      {% endif %}

      <div id="detailmap" data-poi-url="{% locale_url request.LANGUAGE_CODE "core:fileserve" object.properties.poi_layer %}"
                          data-switch-detail-zoom="{{ SWITCH_DETAIL_ZOOM }}"
                          {% if object.properties.information_desk_layer %}data-information-desk-url="{% locale_url request.LANGUAGE_CODE "core:fileserve" object.properties.information_desk_layer %}"{% endif %}>
        <img id="staticmap" class="hidden" src="{% url "core:fileserve" object.properties.map_image_url %}" alt="{% trans "Detail map static" %}"/>
        <div class="helpclic"><p>{% trans "Clic for map interaction" %}</p></div>
      </div>


      <div class="row-fluid meta">

        <div class="span6">
          <div id="altitudegraph" data-url="{% url "core:fileserve" object.properties.altimetric_profile %}">
            <h4>{% trans "Altitude profile" %}</h4>
            <p class="axislabel">{% trans "Altitude (m)" %}</p>
             <p id="altitude-details">
              <span class="min">{% trans "Min" %} : <span class="value">{{ object.properties.min_elevation }} m</span></span> -
              <span class="max">{% trans "Max" %} : <span class="value">{{ object.properties.max_elevation }} m</span></span>
            </p>
            <span id="profilealtitude"></span> <span class="axislabel">{% trans "Distance (m)" %}</span>
            <p id="mouseoverprofil" class="axislabel" >&nbsp;</p>
          </div>

          {% if object.properties.advice %}
            <div id="trek-advice" class="alert alert-error">
              <h3 class="icon-warning">{% trans "Advice" %}</h3>
              <p>{{ object.properties.advice|safe }}</p>
            </div>
          {% endif %}
        </div>

        <div class="span6">
          <div class="row-fluid">

            {% if object.properties.web_links|length > 0 or object.properties.networks|length > 0 %}
            <div class="flex">
              <h4>{% trans "See also" %}</h4>

              <div id="trek-links">
                {% regroup object.properties.web_links by category as weblinks %}

                <ul>
                {% for weblink in weblinks %}
                    <h5><img src="{{ weblink.grouper.pictogram }}"> {{ weblink.grouper.label }}</h5>
                    <li>
                    {% for item in weblink.list %}
                      {% if forloop.first and weblink.list.count > 1 %}<ul>{% endif %}
                      {% if weblink.list.count > 1 %}<li>{% endif %}
                      <a target="_blank" href="{{ item.url }}">{{ item.name }}</a>
                      {% if weblink.list.count > 1 %}</li>{% endif %}
                      {% if forloop.last and weblink.list.count > 1 %}</ul>{% endif %}
                    {% endfor %}
                    </li>
                {% endfor %}
                </ul>
              </div>

              {% if object.properties.networks %}
              <div class="trek-networks">
                  <h5>{% trans "Markings" %}</h5>
                  <ul>
                  {% for network in object.properties.networks %}
                    <li><img src="{{ network.pictogram }}" alt="{% trans "Marks" %} {{ network.name }}"/> {{ network.name }}</li>
                  {% endfor %}
                  </ul>
              </div>
              {% endif %}

            </div>
            {% endif %}

            {% if trek_has_related %}
            <div id="trek-related" class="flex">
              <h4>{% trans "Related treks" %}</h4>
              {% for relationship in object.properties.relationships_departure %}
                {% if forloop.first %}
                  <h5>{% trans "Sharing departure" %}</h5>
                  <ul>
                {% endif %}
                <li><a href="{% locale_url request.LANGUAGE_CODE "trekking:detail" relationship.trek.slug %}">{{ relationship.trek.name }}</a></li>
                {% if forloop.last %}</ul>{% endif %}
              {% endfor %}

              {% for relationship in object.properties.relationships_edge %}
                {% if forloop.first %}
                  <h5>{% trans "Sharing paths" %}</h5>
                  <ul>
                {% endif %}
                <li><a href="{% locale_url request.LANGUAGE_CODE "trekking:detail" relationship.trek.slug %}">{{ relationship.trek.name }}</a></li>
                {% if forloop.last %}</ul>{% endif %}
              {% endfor %}

              {% for relationship in object.properties.relationships_circuit %}
                {% if forloop.first %}
                  <h5>{% trans "Sharing circuit" %}</h5>
                  <ul>
                {% endif %}
                <li><a href="{% locale_url request.LANGUAGE_CODE "trekking:detail" relationship.trek.slug %}">{{ relationship.trek.name }}</a></li>
                {% if forloop.last %}</ul>{% endif %}
              {% endfor %}
            </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div><!-- container-content -->
</div><!-- detail-content -->

{% leaflet_map 'detailmap' fitextent=False creatediv=False callback="detailmapInit" loadevent="rando:foo" %}{# Such loadevent will prevent automatic map initialization #}

{% if pois %}
<div style="display: none">
  <div id="pois-sidebar">

    <h5>{% trans "On the way..." %}</h5>

    <div class="pois-list">
      {% for poi in pois %}
        <div class="poi" data-pk="{{ poi.properties.pk }}">
          <div class="title">
            {{ poi.properties.type|pictogram }}
            <span class="name">{{ poi.properties.name }}</span>
            <a class="jump up" href="#">&#x21e1;</a>
            <a class="jump down" href="#">&#x21e3;</a>
          </div>
          <div class="content">
            <p>{{ poi.properties.description|safe }}</p>
            {% if poi.properties.pictures|length > 0 %}
            <div class="picture">
              <img src="{{ poi.properties.pictures.0.url }}" alt="{{ poi.properties.pictures.0.title }}" />

              <div class="carousel-caption">
                {% if poi.properties.pictures|length > 1 %}
                  <span class="pictures-info pull-right icon-camera">&times;{{ poi.properties.pictures|length }}</span>
                {% endif %}
                <p>{{ poi.properties.pictures.0.legend }} {% if poi.properties.pictures.0.author %}({{ poi.properties.pictures.0.author }}){% endif %}</p>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</div>

<div id="pois-carousels-{{ trek.properties.pk }}" class="reattach" data-destination="body">
{% for poi in pois %}
  <div id="popup-poi-carousel-{{ poi.properties.pk }}" class="popup poi modal hide fade" role="dialog" aria-labelledby="poi-carousel" aria-hidden="true">
      <div class="modal-body">
      {% include "trekking/_carousel.html" with prefix=poi.properties.pk pictures=poi.properties.pictures default="False" %}
    </div>
  </div>
{% endfor %}
</div>

{% endif %}