{% load l10n i18n %}
<div class="information-desk">
    <p class="title">{{ desk.name }}</p>
    {% if desk.photo_url %}
      <img src="{{ desk.photo_url }}"/>
    {% endif %}
    <p class="description">{{ desk.description|safe }}</p>

    {% if desk.street or desk.postal_code or desk.municipality %}<p class="address">{% endif %}
    {% if desk.street %}{{ desk.street }}{% endif %}
    {% if desk.postal_code %}<br/>{{ desk.postal_code }}{% endif %}
    {% if desk.municipality %} {{ desk.municipality }}{% endif %}
    {% if desk.street or desk.postal_code or desk.municipality %}</p>{% endif %}

    {% if desk.website or desk.phone or desk.email %}<p class="contactweb">{% endif %}
    {% if desk.website %}<a target="_blank" href="{{ desk.website }}">{% trans "Website" %}</a>{% endif %}
    {% if desk.email %}- <a target="_blank" href="mailto:{{ desk.email }}">{% trans "Email" %}</a>{% endif %}
    {% if desk.phone %}- {{ desk.phone }}{% endif %}
    {% if desk.website or desk.phone or desk.email %}</p>{% endif %}

    {% if desk.latitude and desk.longitude %}
    <p class="latlng">
      {% trans "Lat" %}: {{ desk.latitude|unlocalize }}, {% trans "Lng" %}: {{ desk.longitude|unlocalize }}
    </p>
    {% endif %}
</div>