{% load i18n flatpages localeurl_tags %}

{% get_flatpages as flatpages %}
<div id="flatpages" class="reattach" data-destination="header">
    <ul>
        <li class="home"><a class="btn pjax icon-home" href="{% locale_url request.LANGUAGE_CODE "trekking:home" %}" title="{% trans "Home" %}"></a></li>
    {% for page in flatpages %}
        <li><a class="btn pjax {% if title == page.title %}active{% endif %}" href="{% locale_url request.LANGUAGE_CODE "flatpages:page" page.slug %}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
</div>
<!-- static pages -->
{% include "trekking/_lang_switch.html" %}
