{% load static leaflet_tags %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{{ settings.title }}{% endblock title %}</title>
    {% leaflet_js %}
    {% leaflet_css %}
    {% endblock head %}
    {% block extrahead %}
    {% endblock extrahead %}
</head>
<body>
    {% block content %}
    {% endblock content %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.0.0/jquery.sparkline.min.js"></script>
    <script src="{% static "js/jquery.pjax.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('#panel').pjax('a.pjax');
        });
        if (typeof(loadmapmap) != 'undefined') $(document).on('pjax:end', loadmapmap);
    </script>
</body>
</html>
