{% load static leaflet_tags %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{{ settings.title }}{% endblock title %}</title>
    {% leaflet_css %}

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="{% static "ico/favicon.ico" %}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="{% static "js/html5.js" %}"pt>
    <![endif]-->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "js/jscrollpane/jquery.jscrollpane.css" %}" rel="stylesheet" media="all" />
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />

    {% endblock head %}
    {% block extrahead %}
    {% endblock extrahead %}
</head>
<body>
    <div id="mainmap"></div>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>

    <script src="{% static "js/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery-ui.js" %}"></script>
    <script src="{% static "js/jquery.sparkline.min.js" %}"></script>
    <script src="{% static "js/jscrollpane/jquery.jscrollpane.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jscrollpane/jquery.mousewheel.js" %}"></script>
    <script src="{% static "js/jquery.pjax.js" %}"></script>
    {% leaflet_js %}
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <script src="{% static "js/application/ui.js" %}"></script>
    <script src="{% static "js/application/filter.js" %}"></script>
    <script src="{% static "js/application/map.js" %}"></script> 


    <script type="text/javascript">
        $(document).ready(function (e) {
            $('#content').pjax('a.pjax');
        });
        $(document).on('pjax:end', function (e) {
            // Try a custom lazy load
            var mainmapContainer = L.DomUtil.get('mainmap');
            if (loadmapmainmap) {
                if (!mainmapContainer._leaflet) loadmapmainmap();
            }
            var detailmapContainer = L.DomUtil.get('detailmap');
            if (detailmapContainer && loadmapdetailmap) {
                if (!detailmapContainer._leaflet) loadmapdetailmap();
            }
            
            if ($("#mainmap-tag").length > 0)
                $("#mainmap").show();
            else
                $("#mainmap").hide();
        });
    </script>
</body>
</html>
