{% extends "base.html" %}

{% block title %}{{ object.title }}{% endblock title %}

{% block description %}{{ trek.description_teaser|safe|striptags }}{% endblock description %}


{% block extrahead %}
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{ URL }}">
    <meta name="twitter:title" content="{{ object.title }}">
    <meta name="twitter:description" content="{{ trek.description_teaser|striptags }}">
    <meta name="twitter:image" content="{{ thumbnail }}">
{% endblock extrahead %}


{% block content %}
    {% include "trekking/_detail_panel.html" %}
{% endblock content %}
