{% load static i18n leaflet_tags trekking %}

{% include "trekking/navigation_fragment.html" %}
{% include "trekking/share_fragment.html" with title=object.title %}

{% if pjax %}
  <title>{{ object.title }}</title>
{% endif %}

<div class="detail-content">
  <div class="row-fluid" id="detail-content-top">
    {% include "trekking/fake_searchtabs_fragment.html" %}

    <div class="span5">
      <h2>{{ object.properties.name }}</h2>
    </div>
    <div class="span3">
      <div id="toolbox" class="btn-toolbar pull-right">
        <a class="btn backpack" href="#" data-pk="{{ trek.properties.pk }}" data-name="{{ trek.properties.name }}"><i class="backpack"></i> {% trans "Favorite" %}</a>

        {% if PRINT_ENABLED %}
        <a class="btn download print" title="{% trans "Print" %}" href="{% url trekking:fileserve object.properties.printable %}">
          <i class="print"></i> {% trans "Print" %}
        </a>
        {% endif %}
        <a class="btn download gpx" title="{% trans "Download GPX" %}" href="{% url trekking:fileserve object.properties.gpx %}">
          <i class="gpx"></i> {% trans "GPX" %}
        </a>
        <a class="btn download kml" title="{% trans "Download for Google Earth" %}" href="{% url trekking:fileserve object.properties.kml %}">
          <i class="kml"></i> {% trans "KML" %}
        </a>

      </div>
    </div>
  </div>

  <div id="detail-container-content" class="row-fluid">
    <div class="span3">
      <p class="teaser">{{ object.properties.description_teaser|default:"No teaser"|safe|striptags }}</p>
      <p>{{ object.properties.ambiance|default:"No ambiance"|safe }}</p>

      <div id="trek-carousel">
        {% include "trekking/carousel_fragment.html" with prefix="trek" pictures=all_pictures default="True" %}
      </div>

      <p>{{ object.properties.description|default:"No description"|safe }}</p>

      {% if object.properties.disabled_infrastructure %}
      <div id="trek-disabled">
        <h3> {% trans "Disabled-friendly infrastructures" %}</h3>
        <p>{{ object.properties.disabled_infrastructure|safe }}</p>
      </div>
      {% endif %}

      {% if object.properties.access %}
      <div id="trek-access" class="alert alert-info">
        <h3>{% trans "Access" %}</h3>
        <p>{{ object.properties.access|safe }}</p>
      </div>
      {% endif %}

    </div>

    <div class="span2">
      <div id="trek-identity" class="well">
        <h4 id="departure-arrival">{{ object.properties.departure }}{% if object.properties.arrival %} &rarr; {{ object.properties.arrival }}{% endif %}</h4>

        {% if object.properties.route %}
        <p>{% trans "Route" %} : <span class="value">{{ object.properties.route.label }}</span></p>
        {% endif %}
        <p>{% trans "Length" %} : <span class="value">{{ object.properties.length|kilo|floatformat }}km</span></p>
        <p>{% trans "Valleys" %} : <span class="value">{% for district in object.properties.districts %}{{ district.name }}, {% endfor %}</span></p>
        <p>{% trans "Difficulty" %} : <span class="value">{{ object.properties.difficulty.label }}</span></p>
        <p>{% trans "Ascent" %} : <span class="value">{{ object.properties.ascent }}m</span></p>
        <p>{% trans "Duration" %} : <span class="value">{{ object.properties.duration|default:0 }}H</span></p>
      </div>

      {% for usage in object.properties.usages %}
        {% if forloop.first %}<div id="usages"><h3>{% trans "Usages" %}</h3><ul>{% endif %}
        <li>{{ usage|pictogram:"big" }} {{ usage.label }}</li>
        {% if forloop.last %}</ul></div>{% endif %}
      {% endfor %}

      {% for theme in object.properties.themes %}
        {% if forloop.first %}<div id="themes"><h3>{% trans "Themes" %}</h3><ul>{% endif %}
        <li>{{ theme|pictogram:"big" }} {{ theme.label }}</li>
        {% if forloop.last %}</ul></div>{% endif %}
      {% endfor %}

      {% for network in object.properties.networks %}
        {% if forloop.first %}<div id="networks"><h3>{% trans "Networks" %}</h3><ul>{% endif %}
        <li>{{ network.name }}</li>
        {% if forloop.last %}</ul></div>{% endif %}
      {% endfor %}

      {% if object.properties.public_transport %}
        <div id="trek-transport">
          <h3>{% trans "Transport" %}</h3>
          <p>{{ object.properties.public_transport|safe }}</p>
        </div>
      {% endif %}

      {% if object.properties.advice %}
        <div id="trek-advice" class="alert alert-error">
          <h3>{% trans "Advice" %}</h3>
          <p>{{ object.properties.advice|safe }}</p>
      </div>
      {% endif %}

    </div>

    <div class="span{% if object.pois.all %}4{% else %}7{% endif %}">
      {% if object.properties.is_park_centered %}
        <div id="park-center-warning" class="alert alert-info">
            <p><strong>{% trans "This trek is within park center" %}</strong>, <a class="pjax" href="{% url flatpages:redirect "1" %}">{% trans "please read access rules." %}</a></p>
        </div>
      {% endif %}

      <div id="detailmap">
        <div class="helpclic"><p>{% trans "Clic for map interaction" %}</p></div>
      </div>

      <div id="altitudegraph">
        <h4>{% trans "Altitude profile" %}</h4>
        <p class="axislabel">{% trans "Altitude (m)" %}</p>
         <p id="altitude-details">
          <span class="min">{% trans "Min" %} : <span class="value">{{ object.properties.min_elevation }}m</span></span> - 
          <span class="max">{% trans "Max" %} : <span class="value">{{ object.properties.max_elevation }}m</span></span>
        </p>
        <span id="profilealtitude"></span> <span class="axislabel">{% trans "Distance (m)" %}</span>
        <p id="mouseoverprofil" class="axislabel" >&nbsp;</p>
      </div>

      <div class="row-fluid meta">
        {% if object.properties.web_links|length > 0 %}
        <div class="flex">
          <div id="trek-links">
            <h4>{% trans "See also" %}</h4>

            {% regroup object.properties.web_links by category as weblinks %}

            <ul>
            {% for weblink in weblinks %}
                <li>{{ weblink.grouper|pictogram:"small" }} {{ weblink.grouper.label }}
                {% for item in weblink.list %}
                  {% if forloop.first and weblink.list.count > 1 %}<ul>{% endif %}
                  {% if weblink.list.count > 1 %}<li>{% endif %}
                  <a target="_blank" href="{{ item.url }}">{{ item.name }}</a>
                  {% if weblink.list.count > 1 %}</li>{% endif %}
                  {% if forloop.last and weblink.list.count > 1 %}</ul>{% endif %}
                {% endfor %}
                </li>
            {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}

        {% if object.properties.relationships_departure|length > 0 or object.properties.relationships_edge|length > 0 or object.properties.relationships_circuit|length > 0 %}
        <div id="trek-related" class="flex">
          <h4>{% trans "Related treks" %}</h4>
          {% for relationship in object.properties.relationships_departure %}
            {% if forloop.first %}
              <h5>{% trans "Sharing departure" %}</h5>
              <ul>
            {% endif %}
            <li><a href="{% url trekking:detail relationship.trek.slug %}">{{ relationship.trek.name }}</a></li>
            {% if forloop.last %}</ul>{% endif %}
          {% endfor %}

          {% for relationship in object.properties.relationships_edge %}
            {% if forloop.first %}
              <h5>{% trans "Sharing paths" %}</h5>
              <ul>
            {% endif %}
            <li><a href="{% url trekking:detail relationship.trek.slug %}">{{ relationship.trek.name }}</a></li>
            {% if forloop.last %}</ul>{% endif %}
          {% endfor %}

          {% for relationship in object.properties.relationships_circuit %}
            {% if forloop.first %}
              <h5>{% trans "Sharing circuit" %}</h5>
              <ul>
            {% endif %}
            <li><a href="{% url trekking:detail relationship.trek.slug %}">{{ relationship.trek.name }}</a></li>
            {% if forloop.last %}</ul>{% endif %}
          {% endfor %}
        </div>
        {% endif %}

      </div>
    </div>

    <div class="{% if object.pois.all %}span3{% endif %}">
      <div class="accordion" id="pois-accordion">
        {% for poi in object.pois.all %}
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle acc-open" id="poi-item-{{ poi.properties.pk}}" data-toggle="collapse" data-parent="#pois-accordion" data-id="{{ poi.properties.pk }}" href="#collapse-poi-{{  poi.properties.pk }}">
              {{ poi.properties.type|pictogram }}
              {{ poi.properties.name }}
              {% if poi.properties.pictures|length > 0 %}
                <span class="pictures-info pull-right"><i class="icon-camera icon-gray"></i>&times;{{ poi.properties.pictures|length }}</span>
              {% endif %}
            </a>
          </div>
          <div id="collapse-poi-{{  poi.properties.pk }}" class="accordion-body collapse" style="height: 0px; " data-id="{{ poi.properties.pk }}">
            <div class="accordion-inner">
              <p>{{ poi.properties.description|safe }}</p>
              {% include "trekking/carousel_fragment.html" with prefix=poi.properties.pk pictures=poi.properties.pictures default="False" %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    window.trek = {{ trek.geojson|safe }};
    window.pois = {{ poisjson|safe }};
    window.altimetric_url = "{% url trekking:fileserve object.properties.altimetric_profile %}";
</script>

{% leaflet_map 'detailmap' fitextent=False creatediv=False %}
