{% load static i18n leaflet_tags trekking %}

<script type="text/javascript">
    var poisMarkers = {};

    function detailmapInit(map, bounds) {

        var poisMarkers = function(featureData, latlng) {
            var img = '<img src="<src>" title="<title>">';
            if (!featureData.properties.type) {
              console.log("POI has no type.");
              img = img.replace('<src>', '{% static "img/picto.png" %}');
              img = img.replace('<title>', "{% trans "POI" %}");
            }
            else {
              img = img.replace('<src>', 'data:'+featureData.properties.type.pictogram);
              img = img.replace('<title>', featureData.properties.type.label);
            }
            
            var poicon = new L.DivIcon({className: 'poi-marker-icon',
                                        iconAnchor: [12, 12],
                                        html: img}),
                marker = L.marker(latlng, {icon: poicon});
            marker.on('mouseover', function (e) {
                $('#poi-item-' + featureData.properties.pk).click();
            });
            window.poisMarkers[featureData.properties.pk] = marker;
            return marker;
        };

        $('#pois-accordion').on('open', function (e, accordion) {
            var id = $(accordion).data('id'),
                marker = window.poisMarkers[id];
            $(marker._icon).animate({"margin-top": "-=20px"}, "fast",
                                    function(){
                                        $(this).animate({"margin-top": "+=20px"}, "fast");
                                    });
        });



        // Trek
        var trekGeoJSON = {
          "type": "GeometryCollection",
          "geometries": [
            { "type": "LineString",
              "coordinates": {{ object.geometry.coordinates|safe }}
            }
          ]
        };
        var trekLayer = new L.GeoJSON(trekGeoJSON, {
            style: {color: 'orange', opacity: 1.0, clickable: false},
        });
        trekLayer.addTo(map);
        // Show start and end
        var originlonlat = [{{ object.geometry.coordinates|first|join:"," }}],
            destinationlonlat = [{{ object.geometry.coordinates|last|join:"," }}];
        L.marker(L.latLng(originlonlat[1], originlonlat[0]),
                 {clickable: false,
                  icon: new L.Icon.Default({iconUrl: '{% static "img/marker-source.png" %}'})}).addTo(map);
        L.marker(L.latLng(destinationlonlat[1], destinationlonlat[0]),
                 {clickable: false,
                  icon: new L.Icon.Default({iconUrl: '{% static "img/marker-target.png" %}'})}).addTo(map);


        map.fitBounds(trekLayer.getBounds()).zoomOut();

        var poisLayer = new L.GeoJSON({{ poisjson|safe }}, {
            pointToLayer: poisMarkers
        });
        poisLayer.addTo(map);

        var parkingIcon = L.icon({
            iconUrl: '{% static "img/parking.png" %}',
            iconSize: [24, 24],
            iconAnchor: [0, 0],
        });
        var parkingLocation = {{ object.properties.parking_location }};
        L.marker([parkingLocation[1], parkingLocation[0]], {clickable: false, icon: parkingIcon}).addTo(map);

        //Load altimetric graph
        altimetricInit();
    }

    function altimetricInit() {
        /* 
         * Load altimetric profile from JSON
         */
        $.getJSON("{% url trekking:fileserve object.altimetric_url %}", function(data) {
            $('#profilealtitude').sparkline(data.profile, {tooltipSuffix: ' m', width: 300, height: 100});
            $('#profilealtitude').bind('sparklineRegionChange', function(ev) {
                var sparkline = ev.sparklines[0],
                    region = sparkline.getCurrentRegionFields();
                    value = region.y;
                $('#mouseoverprofil').text(Math.round(region.x) +" m");
            }).bind('mouseleave', function() {
                $('#mouseoverprofil').text('');
            });
        });
    }
</script>

{% include "trekking/navigation_fragment.html" %}

<div class="detail-content">
  <div class="row" id="detail-content-top">
    {% include "trekking/fake_searchtabs_fragment.html" %}

    <div class="offset4 span4">
      <h2>{{ object.properties.name }}</h2>
    </div>
    <div class="span4">
      <div id="toolbox">
        <a class="btn" id="share" href=""><img src="{% static "img/partager.png" %}">{% trans "Share" %}</a>
        <a class="btn" id="print" href="">{% trans "Print" %}<img src="{% static "img/imprimante.png" %}"></a>
        <a class="btn add-sac" href="#" data-pk="{{ trek.properties.pk }}">{% trans "Add to backpack" %}<img src="{% static "img/sacplus.png" %}"></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <p class="teaser">{{ object.properties.description_teaser|default:"No teaser"|safe }}</p>
      <p>{{ object.properties.description|default:"No description"|safe }}</p>

      <div id="trek-pictures" class="carousel slide">
        <div class="carousel-inner">
          {% for picture in object.properties.pictures %}
          <div class="item {% if forloop.first %} active{% endif %}">
            <img src="{% url trekking:fileserve picture.url %}" alt="{{ picture.title }}" />
            <div class="carousel-caption">
              <p>{{ picture.legend }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control left" href="#trek-pictures" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#trek-pictures" data-slide="next">&rsaquo;</a>
      </div><!-- /.carousel -->

      <p>{{ object.properties.ambiance|default:"No ambiance"|safe }}</p>
    </div>

    <div class="span2">
      <div id="trek-identity">
        {% if object.properties.is_park_centered %}
          <div class="alert alert-info">
            <p>{% trans "This trek is within park center" %}, <a class="pjax" href="{% url flatpages:redirect "1" %}">{% trans "please read access rules." %}</a></p>
          </div>
        {% endif %}
        <h4 id="departure-arrival">{{ object.properties.departure }} &rarr; {{ object.properties.arrival }}</h4>
        
        <p>{% trans "Valleys" %} : <span class="value">{% for district in object.properties.districts %}{{ district.name }}, {% endfor %}</span></p>
        <p>{% trans "Difficulty" %} : <span class="value">{{ object.properties.difficulty.label }}</span></p>
        <p>{% trans "Ascent" %} : <span class="value">{{ object.properties.ascent }}m</span></p>
        <p>{% trans "Descent" %} : <span class="value">{{ object.properties.descent }}m</span></p>
        <p>{% trans "Duration" %} : <span class="value">{{ object.properties.duration }}H</span></p>
        <p>{% trans "Min elevation" %} : <span class="value">{{ object.properties.min_elevation }}m</span></p>
        <p>{% trans "Max elevation" %} : <span class="value">{{ object.properties.max_elevation }}m</span></p>

        <h3>{% trans "Usages" %}</h3>
        {% for usage in object.properties.usages %}
        <li>{{ usage|pictogram:"True" }} {{ usage.label }}</li>
        {% endfor %}
        <h3>{% trans "Themes" %}</h3>
        {% for theme in object.properties.themes %}
        <li>{{ theme|pictogram:"True" }} {{ theme.label }}</li>
        {% endfor %}
      </div>
      <div id="trek-advice">
        <h3>{% trans "Advice" %}</h3>
        {% if object.properties.advice %}<p>{{ object.properties.advice|safe }}</p>{% endif %}
        {% if object.properties.public_transport %}<p>{{ object.properties.public_transport|safe }}</p>{% endif %}
        {% if object.properties.disabled_infrastructure %}<p>{{ object.properties.disabled_infrastructure|safe }}</p>{% endif %}
        {% if object.properties.advised_parking %}<p>{{ object.properties.advised_parking|safe }}</p>{% endif %}
      </div>
      <div id="trek-links">
        <h3>{% trans "See also" %}</h3>
        {% for weblink in object.properties.weblinks %}
        <li><img src="{% get_static_prefix %}img/refuge.png"><a target="_blank" href="{{ weblink.url }}">{{ weblink.name }}</a></li>
        {% endfor %}
      </div>
    </div>

    <div class="span3">
      {% leaflet_map 'detailmap' fitextent=False %}

      <div id="altitudegraph">
          <h4>{% trans "Altitude profile" %}</h4>
          <p class="axislabel">{% trans "Altitude (m)" %}</p>
          <span id="profilealtitude"></span> <span class="axislabel">{% trans "Distance (m)" %}</span>
          <p id="mouseoverprofil" class="axislabel" >&nbsp;</p>
      </div>
    </div>

    <div class="span3">
      <div class="accordion" id="pois-accordion">
        {% for poi in object.pois.all %}
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle acc-open" id="poi-item-{{ poi.properties.pk}}" data-toggle="collapse" data-parent="#pois-accordion" data-id="{{ poi.properties.pk }}" href="#collapseOne">
              <img src="{% if poi.properties.type %}data:{{ poi.properties.type.pictogram }}{% else %}{% static "img/picto.png" %}{% endif %}" title="{{ poi.properties.type.label }}">{{ poi.properties.name }}</a>
          </div>
          <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
            <div class="accordion-inner"><p>{{ poi.properties.description|safe }}</p></div>
          </div>
        </div>
        {% endfor %}
      </div>
      

      <p class="download"><a href="{% url trekking:fileserve object.gpx_url %}">{% trans "Download GPX" %}</a></p>
      <p class="download"><a href="{% url trekking:fileserve object.kml_url %}">{% trans "Download for Google Earth" %}</a></p>
    </div>

</div>