{% extends 'trekking/base.html' %}


{% load leaflet_tags %}

{% block content %}

<script type="text/javascript">
    function mapInit(map, bounds) {
        var trekGeoJSON = {
          "type": "GeometryCollection",
          "geometries": [
            { "type": "LineString",
              "coordinates": {{ object.geometry.coordinates|safe }}
            }
          ]
        };
        var trekLayer = new L.GeoJSON(trekGeoJSON);
        trekLayer.addTo(map);
        map.fitBounds(trekLayer.getBounds());

        var poisLayer = new L.GeoJSON({{ poisjson|safe }});
        poisLayer.addTo(map);
    }
</script>

<h1>{{ object.properties.name }}</h1>
{% leaflet_map 'map'  fitextent=False %}

<h2>POIs</h2>
{% for poi in object.pois.all %}
<li>{{ poi.properties.name }} ({{ poi.properties.serializable_type.label }}) <img src="data:{{ poi.properties.serializable_type.pictogram }}"><p>{{ poi.properties.description|safe }}</p>
</li>
{% endfor %}

{% endblock content %}

