{% load i18n %}
<div id="fake-search-tabs" class="search-tabs span4" > 
  <ul class="nav nav-tabs">
    <li id="tab-results">
      <div class="nb_res"></div>
      <a class="pjax" href="{% url trekking:home %}#results">
      <span class="badge"></span> {% trans "Back to list" %}</a>
    </li>
    <li id="tab-backpack">
      <div class="nb_sac"></div>
      <a class="pjax" href="{% url trekking:home %}#backpack">
        <span class="badge"></span> {% trans "Favorites" %}</a>
    </li>
  </ul>
</div>
<div id="mobile-header-detail" class="span4" > 
  <a href="{% url trekking:home %}#results"><i class="icon-chevron-left icon-white"></i><h1>{{ object.properties.name }}</h1></a>
</div>