<div id="fake-result-backpack-tabs" class="side-bar" > 
  <ul class="nav nav-tabs">
    <li id="tab-results">
      <div class="nb_res"> 7 </div>
      <a class="pjax" href="{% url trekking:home %}#results-pane">Résultats</a>
    </li>
    <li id="tab-backpack">
      <div class="nb_sac"> 7 </div>
      <a class="pjax" href="{% url trekking:home %}#backpack-pane">Sac a dos</a>
    </li>
    <li id="tab-showhidepanel">
        <a id="hide-side-bar" href="#" data-toggle="tab">.</a>
    </li>
  </ul>
</div>