{% extends 'trekking/base.html' %}

{% load leaflet_tags %}

{% block content %}

<script type="text/javascript">
    function mapInit(map, bounds) {
        var center = new L.LatLng(44.6, 6.4);
        map.setView(center, 10);
{% if treksjson %}
        var treksLayer = new L.GeoJSON({{ treksjson|safe }});
        treksLayer.addTo(map);
{% endif %}
    }
</script>

{% leaflet_map 'map' %}

<ul>
{% for trek in treks %}
	<li><a data-id="{{ trek.properties.pk }}" href="{{ trek.properties.slug }}">{{ trek.properties.name }}</a></li>
{% endfor %}
</ul>


{% endblock content %}
