{% load i18n static leaflet_tags trekking %}

{% include "trekking/navigation_fragment.html" with title="HOME" %}
{% include "trekking/share_fragment.html" with title=TITLE %}

{% if pjax %}
  <title>{{ TITLE }}</title>
{% endif %}

<div id="search-bar">

  <div id="basic-filters">
    <div class="stage">
      <label>{% trans "Difficulty" %}</label>
      <div class="slider-wrap">
        <div id="stage" data-filter="stage"></div>
      </div>
      <div class="slider-value first">{% trans "Easy" %}</div>
      <div class="slider-value">{% trans "Medium" %}</div>
      <div class="slider-value last">{% trans "Hard" %}</div>
    </div>
    <div class="time">
      <label>{% trans "Duration" %}</label>
      <div class="slider-wrap">
        <div id="time" data-filter="time"></div>
      </div>
      <div class="slider-value first">{% trans "Short" %}</div>
      <div class="slider-value">1/2</div>
      <div class="slider-value">{% trans "day" %}</div>
      <div class="slider-value">{% trans "2 days" %}</div>
      <div class="slider-value last">&gt;{% trans "2 days" %}</div>
    </div>
    <div class="den">
      <label>{% trans "Climb" %}</label>
      <div class="slider-wrap">
        <div id="den" data-filter="den"></div>
      </div>
      <div class="slider-value first">&lt; 200m</div>
      <div class="slider-value">200-700m</div>
      <div class="slider-value">700-1000m</div>
      <div class="slider-value last">&gt;1000m</div>
    </div>

    <div class="theme">
      <label>{% trans "Thematic" %}</label>
      {% for theme in themes %}
        <div class="filter" data-filter="theme" data-id="{{ theme.id }}" id="theme-{{ theme.id }}">
          {{ theme|pictogram }}
          <p>{{ theme.label }}</p>
      </div>
      {% endfor %}
    </div>

    <div id="filters-actions">
      <a class="btn utils" id="clear-filters" href="#" data-toggle="tooltip" title="{% trans "Reset filters" %}"></a> 
      <a class="btn utils closed show-hide-filters" id="toggle-filters" href="#" data-toggle="tooltip"  title="{% trans "Advanced filters" %}"></a> 
    </div>

  </div>

  <div id="advanced-filters" style="display: none">

    <div class="filter-bloc usage">
      <select id="usage" class="chosen-select" tabindex="2" multiple="" data-filter="usage" data-placeholder="{% trans "Usages" %}">
      {% for usage in usages %}
        <option data-filter="usage" data-id="{{ usage.id }}" value="{{ usage.id }}">{{ usage.label }}</option>
      {% endfor %}
      </select>
    </div>

    <div class="filter-bloc vallee">
      <select id="district" class="chosen-select" tabindex="2" multiple="" data-filter="district" data-placeholder="{% trans "Valleys" %}">
      {% for district in districts %}
        <option data-filter="district" data-id="{{ district.id }}" value="{{ district.id }}">{{ district.name }}</option>
      {% endfor %}
      </select>
    </div>

    <div class="filter-bloc cities">
      <select id="city" class="chosen-select" tabindex="2" multiple="" data-filter="city" data-placeholder="{% trans "Cities" %}">
      {% for city in cities %}
        <option data-filter="city" data-id="{{ city.code }}" value="{{ city.code|safe }}">{{ city.name }}</option>
      {% endfor %}
      </select>
    </div>

    <div class="filter-bloc route">
      <select id="route" class="chosen-select" tabindex="2" multiple="" data-filter="route"  data-placeholder="{% trans "Route" %}">
      {% for route in routes %}
        <option data-filter="route" data-id="{{ route.id }}" value="{{ route.id|safe }}">{{ route.label }}</option>
      {% endfor %}
      </select>
    </div>

  </div>
  <!--  advanced-filters-->

</div>
<!--  search-bar-->

<div class="search-tabs side-bar" id="side-bar">

  <div id="toggle-side-bar"></div>

  <div id="text-search" class="search1">
    <div class="span4">
      <form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="{% trans "Name, Valley, ..."%}" data-filter="search" id="search"/><i class="icon-search icon-gray"></i>
      </form>
    </div>
  </div>

  <div id="result-backpack-tabs" class="tabbable"> 
    <ul class="nav nav-tabs">
      <li id="tab-results" class="active">
        <a href="#results">
            <span class="badge badge-warning">{{ treks|length }}</span> {% trans "Results" %}</a>
      </li>
      <li id="tab-backpack">
        <a href="#backpack">
            <span class="badge">0</span> {% trans "Backpack" %}</a>
      </li>
    </ul>

    <div id="result-backpack-content" class="tab-content">
      <div class="tab-pane active" id="results">
        <p id="noresult" style="display:none" class="tab-content-empty">{% trans "No result" %}</p>
        {% for trek in treks %}
            {% include "trekking/trek_result_fragment.html" with show="True" backpack="False" %}
        {% endfor %}
      </div>

      <div class="tab-pane" id="backpack">
        <p id="backpackempty" style="display:none" class="tab-content-empty">{% trans "Empty" %}</p>
        {% for trek in treks %}
            {% include "trekking/trek_result_fragment.html" with show="False" backpack="True" %}
        {% endfor %}
      </div>
    </div>
  </div>

</div>
<!-- sidebar -->

{% leaflet_map 'mainmap' fitextent=False creatediv=False %}

<div id="mainmap-tag" style="display: none"><!-- custom tag to detect loaded page--></div>
