{% load leaflet_tags %}

<script type="text/javascript">
    function mainmapInit(map, bounds) {
        map.fitBounds([
            [{{ settings.map.extent.1 }}, {{ settings.map.extent.0 }}],
            [{{ settings.map.extent.3 }}, {{ settings.map.extent.2 }}]
        ]);
        var treksLayer = new L.GeoJSON({{ treksjson|safe }});
        treksLayer.addTo(map);
    }
</script>

{% include "trekking/navigation_fragment.html" %}

<ul>
{% for trek in treks %}
    <li><a class="pjax" data-id="{{ trek.properties.pk }}" href="{% url trekking:detail trek.properties.slug %}">{{ trek.properties.name }}</a></li>
{% endfor %}
</ul>

{% leaflet_map 'mainmap' fitextent=False creatediv=False %}

<div id="mainmap-tag" style="display: none"></div>