{% load static localeurl_tags %}
<div id="lang-switch" class="hidden-tablet hidden-phone">
  <a href="#" class="utils">Langue</a>
    <ul>
    {% for lang, name in settings.languages.available.items %}
        {% if lang == request.LANGUAGE_CODE %}
            <li class="active"><img src="{% get_static_prefix %}ico/flags/{{ lang }}.png" alt="{{ lang }}"></li>
        {% else %}
            <li>
              {% if trek %}
                <a href="{% locale_url lang trekking:redirect pk=object.properties.pk %}">
              {% else %}
                <a href="/{{ lang }}">
              {% endif %}
              <img src="{% get_static_prefix %}ico/flags/{{ lang }}.png" alt="{{ lang }}"></a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>