{% load i18n %}
<div id="social-panel" style="display: none;">
    <ul class="social-buttons cf">
    {% if donottrack %}
        <li><a href="http://wikipedia.org/wiki/Do_Not_Track">{% trans "Do-Not-Track is set." %}</a></li>
    {% else %}
        <li><a href="//twitter.com/share" class="socialite twitter-share" data-text="{{ title }} {{ URL }}" data-url="{{ URL }}" data-count="vertical" rel="nofollow" target="_blank"><span class="vhidden">{% trans "Twitter" %}</span></a></li>
        <li><a href="//plus.google.com/share?url={{ URL|iriencode }}" class="socialite googleplus-one" data-size="tall" data-href="{{ URL }}" rel="nofollow" target="_blank"><span class="vhidden">{% trans "Google+" %}</span></a></li>
        <li><a href="//www.facebook.com/sharer.php?u={{ URL|iriencode }}&t={{ title }}" class="socialite facebook-like" data-href="{{ URL }}" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span class="vhidden">{% trans "Facebook" %}</span></a></li>
    {% endif %}
    </ul>
</div>
