<div class="detail-content-pictures pictures" ng-if="result.properties.pictures[0]">
    <div class="main-visual" ng-click="showLightbox(result.properties.pictures, 0)">
        <img ng-src="{{::result.properties.pictures[0].url}}" ng-alt="{{::result.properties.pictures[0].legend}}">
        <div class="picture-credit">
            {{::result.properties.pictures[0].author}}
        </div>
    </div>
    <div class="picture-legend">
        {{::result.properties.pictures[0].legend}}
    </div>
    <ul ng-if="result.properties.pictures.length > 1">
        <li ng-repeat="picture in result.properties.pictures" ng-if="!$first" ng-click="showLightbox(result.properties.pictures, $index)">
            <img ng-src="{{::picture.url}}" ng-alt="{{::picture.title}}">
        </li>
    </ul>
</div>
