<div class="detailsview-pane detail-content-pane informations">

    <div class="detail-content-title element-title category-{{::result.properties.category.id}}-bg">
        <div class="cat-icon" tooltip-placement="bottom" tooltip="{{::result.properties.category.label}}">
            <img ng-if="result.properties.category.pictogram" ng-src="{{::result.properties.category.pictogram}}" ng-alt="{{::result.properties.category.label}}">
        </div>
        <h1 class="detail-content-title-text"><span ng-if="result.properties.stepNumber">{{result.properties.stepNumber}} - </span>{{result.properties.name}}</h1>

        <a ng-if="elementChildren.length" class="see-steps-link"
            ui-sref="layout.detail({catSlug: result.properties.category.slug, slug: elementChildren[0].properties.slug})">
            {{ 'SEE_TREK_STEPS' | translate }}
        </a>
    </div>

    <div class="detail-content-steps" ng-if="result.properties.stepNumber">
        <a class="detail-content-steps-previous" ng-if="previousStep" href="#" ui-sref="layout.detail({catSlug: result.properties.category.slug, slug: previousStep.slug})">
            <i class="fa fa-angle-left"></i>
        </a>

        <ol class="detail-content-steps-list">
            <li ng-repeat="step in trekSteps" class="detail-content-step-{{step.properties.stepNumber}}"
                ng-class="{'active': step.properties.stepNumber === result.properties.stepNumber}">
                <a href="#"
                    ui-sref="layout.detail({catSlug: step.properties.category.slug, slug: step.properties.slug})"
                    tooltip-placement="bottom"
                    tooltip="{{step.properties.name}}">
                    <span class="sr-hidden step-number">{{step.properties.stepNumber}}</span>
                    <span class="sr-only">{{step.properties.name}}</span>
                </a>
            </li>
        </ol>

        <a class="detail-content-steps-next" ng-if="nextStep" href="#" ui-sref="layout.detail({catSlug: result.properties.category.slug, slug: nextStep.slug})">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>

    <detail-content-meta></detail-content-meta>

    <detail-content-pictures></detail-content-pictures>

    <div class="detail-content-approved" ng-if="result.properties.approved">
        <img ng-src="{{::approved}}" ng-alt="{{::approvedLabel}}">
    </div>

    <div class="detail-content-teaser category-{{::result.properties.category.id}}-c primary-c"  ng-if="result.properties.description_teaser" ng-bind-html="result.properties.description_teaser | sanitizeData: true"></div>

    <div class="detail-content-ambiance" ng-if="result.properties.ambiance"           ng-bind-html="result.properties.ambiance | sanitizeData: true"></div>

    <detail-content-from-to></detail-content-from-to>

    <div class="detail-content-description" ng-if="result.properties.description" ng-bind-html="result.properties.description | sanitizeData: true"></div>

    <detail-content-events-info></detail-content-events-info>

    <div class="detail-content-notice is-park-centered" ng-if="result.properties.is_park_centered">
        <i class="notice-symbol fa fa-info-circle"></i>
        <p ng-if="!rulesId">{{ 'PARK_CENTERED' | translate}}</p>
        <a ng-if="rulesId" ui-sref="layout.flat({flatID: rulesId})">{{ 'PARK_CENTERED' | translate}}</a>
    </div>

    <div class="detail-content-notice event-notice-custom" ng-if="result.properties.category.id === 'E'">
        <i class="notice-symbol fa fa-info-circle"></i>
        <p>{{ 'EVENT_CUSTOM_1' | translate }}</p>
    </div>

    <div class="detail-content-notice advice" ng-if="result.properties.advice">
        <i class="notice-symbol fa fa-exclamation-triangle"></i>
        <div ng-bind-html="result.properties.advice | sanitizeData: true"></div>
    </div>

    <div class="detail-content-notice disabled-infrastructure" ng-if="result.properties.disabled_infrastructure">
        <i class="notice-symbol fa fa-wheelchair"></i>
        <div ng-bind-html="result.properties.disabled_infrastructure | sanitizeData: true"></div>
    </div>

    <detail-sensitives></detail-sensitives>

    <detail-content-elevation></detail-content-elevation>

    <div class="detail-content-transport-access">
        <div class="detail-content-transport transport" ng-if="result.properties.public_transport">
            <h3>{{ 'TRANSPORTS' | translate}}</h3>
            <div class="text" ng-bind-html="result.properties.public_transport | sanitizeData: true"></div>
        </div>

        <div class="detail-content-access access" ng-if="result.properties.access">
            <h3>{{ 'ACCESS' | translate}}</h3>
            <div class="text" ng-bind-html="result.properties.access | sanitizeData: true"></div>

            <div class="" ng-if="result.properties.advised_parking">
                <strong>{{ 'PARKING' | translate}}</strong>
                <span class="text" ng-bind-html="result.properties.advised_parking | sanitizeData: true"></span>
            </div>
        </div>
    </div>

    <detail-content-desks></detail-content-desks>

    <div class="detail-content-contact contact-card primary-border-l" ng-if="result.properties.contact || result.properties.email">
        <h3>{{ 'CONTACT' | translate}}</h3>
        <ul>
            <li class="card">
                <div class="contact" ng-if="result.properties.contact" ng-bind-html="result.properties.contact | sanitizeData: false"></div>
                <div class="mail" ng-if="result.properties.email">
                    <a href="mailto:{{::result.properties.email}}" target="_blank" title="{{::result.properties.email}}">{{::result.properties.email}}</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="detail-content-source">
        <div class="detail-content-transport transport" ng-if="result.properties.source[0]">
            <h3>{{ 'SOURCE' | translate}}</h3>
            <ul>
                <li ng-repeat="source in result.properties.source" ng-class="{'noimg': !source.pictogram}">
                    <img ng-if="source.pictogram" ng-src="{{getUrlImg(source.pictogram)}}" alt="{{::source.name}}" />
                    <strong>{{::source.name}}</strong>
                    <br>
                    <a href="{{::source.website}}" target="_blank" ng-if="source.website != ''">
                        {{::source.website}}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="detail-content-further going-further" ng-if="result.properties.web_links[0]">
        <h3>{{ 'KNOW_MORE' | translate}}</h3>
        <ul ng-if="result.properties.web_links[0]" class="websites">
            <li ng-repeat="link in result.properties.web_links">
                <a href="{{::link.url}}" title="{{::link.name}}" target="_blank">
                    <ng-include ng-if="link.category.pictogram && (link.category.pictogram | isSVG)" src="link.category.pictogram"></ng-include>
                    <img ng-if="link.category.pictogram && !(link.category.pictogram | isSVG)" ng-src="{{::link.category.pictogram}}" ng-alt="{{::link.category.label}}">
                    <span>{{::link.name}}</span>
                </a>
            </li>
        </ul>
    </div>

    <detail-content-related></detail-content-related>

    <detail-page-footer></detail-page-footer>
</div>
