<section class="detail-page category-{{::result.properties.category.id}}" ng-class="{'showMap': $root.mapIsShown}">
    <div class="informations">

        <div class="header">
            <div class="element-title">
                <div class="cat-icon">
                    <ng-include ng-if="isSVG(result.properties.category.pictogram)" src="result.properties.category.pictogram"></ng-include>
                    <img ng-if="!isSVG(result.properties.category.pictogram)" ng-src="{{::result.properties.category.pictogram}}" ng-alt="{{::result.properties.category.label}}">
                </div>
                <h1>{{result.properties.name}}</h1>
            </div>
        </div>

        <div class="main-infos">
            <div class="intro">
                <div class="pictos">
                    <ul>
                        <li ng-if="result.properties.type1[0]" ng-repeat="currentType in result.properties.type1 track by currentType.id" class="type1">
                            <div>
                                <ng-include ng-if="currentType.pictogram && isSVG(currentType.pictogram)" src="currentType.pictogram"></ng-include>
                                <img ng-if="currentType.pictogram && !isSVG(currentType.pictogram)" ng-src="{{::currentType.pictogram}}" ng-alt="{{::currentType.name}}">
                                <span>{{::currentType.name}}</span>
                            </div>
                        </li>
                        <li ng-if="result.properties.type2[0]" ng-repeat="currentType2 in result.properties.type2 track by currentType2.id" class="type2">
                            <div>
                                <ng-include ng-if="currentType2.pictogram && isSVG(currentType2.pictogram)" src="currentType2.pictogram"></ng-include>
                                <img ng-if="currentType2.pictogram && !isSVG(currentType2.pictogram)" ng-src="{{::currentType2.pictogram}}" ng-alt="{{::currentType2.name}}">
                                <span>{{::currentType2.name}}</span>
                            </div>
                        </li>
                        <li ng-if="result.properties.duration_pretty" class="duration">
                            <div>
                                <ng-include src="'./images/icons/duration.svg'"></ng-include>
                                <span>{{::result.properties.duration_pretty}}</span>
                            </div>
                        </li>
                        <li ng-if="!result.properties.duration_pretty && result.properties.duration" class="duration">
                            <div>
                                <ng-include src="'./images/icons/duration.svg'"></ng-include>
                                <span>{{::result.properties.duration}}</span>
                            </div>
                        </li>
                        <li ng-if="result.properties.difficulty.label" class="difficulty">
                            <div>
                                <ng-include ng-if="result.properties.difficulty.pictogram && isSVG(result.properties.difficulty.pictogram)" src="result.properties.difficulty.pictogram"></ng-include>
                                <img ng-if="result.properties.difficulty.pictogram && !isSVG(result.properties.difficulty.pictogram)" ng-src="{{::result.properties.difficulty.pictogram}}" ng-alt="{{::result.properties.difficulty.label}}">
                                <span>{{::result.properties.difficulty.label}}</span>
                            </div>
                        </li>
                        <li ng-if="result.properties.route" class="route">
                            <div>
                                <ng-include ng-if="result.properties.route.pictogram && isSVG(result.properties.route.pictogram)" src="result.properties.route.pictogram"></ng-include>
                                <img ng-if="result.properties.route.pictogram && !isSVG(result.properties.route.pictogram)" ng-src="{{::result.properties.route.pictogram}}" ng-alt="{{::result.properties.route.label}}">
                                <span>{{::result.properties.route.label}}</span>
                            </div>
                        </li>
                        <li ng-if="result.properties.length" class="length">
                            <div>
                                <ng-include src="'./images/icons/length.svg'"></ng-include>
                                <span>{{::parseLength(result.properties.length)}}</span>
                            </div>
                        </li>
                        <li ng-if="result.properties.ascent" class="ascent">
                            <div>
                                <ng-include src="'./images/icons/ascent.svg'"></ng-include>
                                <span>{{::parseLength(result.properties.ascent)}}</span>
                            </div>
                        </li>
                        <li ng-if="result.properties.networks" ng-repeat="network in result.properties.networks" class="network {{removeDiacritics(network.name)}}">
                            <div>
                                <ng-include ng-if="network.pictogram && isSVG(network.pictogram)" src="network.pictogram"></ng-include>
                                <img ng-if="network.pictogram && !isSVG(network.pictogram)" ng-src="{{::network.pictogram}}" alt="network.name">
                                <span>{{::network.name}}</span>
                            </div>
                        </li>
                        <li ng-if="result.properties.target_audience" class="target_audience">
                             <div>
                                 <span>{{::result.properties.target_audience}}</span>
                             </div>
                        </li>
                        <li ng-if="result.properties.themes" ng-repeat="theme in result.properties.themes" class="theme {{::removeDiacritics(theme.label)}}">
                            <div>
                                <ng-include ng-if="theme.pictogram &&isSVG(theme.pictogram)" src="theme.pictogram"></ng-include>
                                <img ng-if="theme.pictogram && !isSVG(theme.pictogram)" ng-src="{{::theme.pictogram}}" ng-alt="{{::theme.label}}">
                                <span>{{theme.label}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="pictures" ng-if="result.properties.pictures[0]">
                    <div class="main-visual" ng-click="showLightbox(result.properties.pictures, 0)">
                        <img ng-src="{{::result.properties.pictures[0].url}}" ng-alt="{{::result.properties.pictures[0].legend}}">
                        <div class="picture-credit">
                            {{::result.properties.pictures[0].author}}
                        </div>
                    </div>
                    <ul ng-if="result.properties.pictures.length > 1">
                        <li ng-repeat="picture in result.properties.pictures" ng-if="!$first" ng-click="showLightbox(result.properties.pictures, $index)">
                            <img ng-src="{{::picture.url}}" ng-alt="{{::picture.title}}">
                        </li>
                    </ul>
                </div>
                <div class="text">
                    <div class="ambiance-and-teaser">
                        <div ng-if="result.properties.description_teaser" class="description_teaser">
                            <i class="fa fa-quote-left"></i>
                            <div ng-bind-html="sanitizeData(result.properties.description_teaser, true)"></div>
                        </div>
                        <div ng-if="result.properties.ambiance" ng-bind-html="sanitizeData(result.properties.ambiance, true)" class="ambiance"></div>
                    </div>
                    <div class="from-to">
                        <span ng-if="result.properties.departure && result.properties.departure !== result.properties.arrival">{{ 'START' | translate}} {{::result.properties.departure}}</span>
                        <span ng-if="result.properties.arrival">
                            <span ng-if="result.properties.departure !== result.properties.arrival" class="arrival">
                                {{ 'ARRIVAL' | translate}}
                            </span>
                            <span ng-if="result.properties.departure === result.properties.arrival" class="loop">
                                {{ 'LOOP' | translate}}
                            </span>
                            {{::result.properties.arrival}}
                        </span>
                        <span ng-if="!result.properties.departure && !result.properties.arrival && result.properties.cities[0]">
                            {{ 'TOWN_START' | translate}} {{::result.properties.cities[0].name}}
                        </span>
                        <div ng-if="result.properties.cities.length > 1">
                            <span>{{ 'TOWN_CROSSED' | translate}}</span>
                            <span ng-if="!$first" ng-repeat="city in result.properties.cities track by city.code">{{::city.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="element-description">
                <div ng-if="result.properties.description" ng-bind-html="sanitizeData(result.properties.description, true)" class="description"></div>
                <div class="events-info">
                    <div ng-if="result.properties.begin_date" class="date">
                        <h5>{{'DATES' | translate}}</h5>
                        <span ng-if="result.properties.begin_date" class="begin-date">{{::result.properties.begin_date | date:'dd/MM/yyyy'}}</span>
                        <span ng-if="result.properties.ending-date && result.properties.ending-date !== result.properties.begin_date" class="ending-date"> -> {{::result.properties.begin_date | date:'dd/MM/yyyy'}}</span>
                    </div>
                    <div ng-if="result.properties.website" class="website">
                        <h5>{{'WEBSITE' | translate}}</h5>
                        <span><a href="{{result.properties.website}}" target="_blank" title="{{::result.properties.website}}">{{::result.properties.website}}</a></span>
                    </div>
                    <div ng-if="result.properties.booking" class="booking">
                        <h5>{{'BOOKING' | translate}}</h5>
                        <span>{{::result.properties.booking}}</span>
                    </div>
                    <div ng-if="result.properties.meeting_point" class="meeting-point">
                        <h5>{{'MEETING_POINT' | translate}}</h5>
                        <span>{{::result.properties.meeting_point}}</span>
                    </div>
                    <div ng-if="result.properties.meeting_time" class="meeting-time">
                        <h5>{{'MEETING_TIME' | translate}}</h5>
                        <span>{{::result.properties.meeting_time | date:'h:mm'}}</span>
                    </div>
                    <div ng-if="result.properties.organizer" class="organizer">
                        <h5>{{'ORGANIZERS' | translate}}</h5>
                        <span>{{::result.properties.organizer}}</span>
                    </div>
                    <div ng-if="result.properties.participant_number" class="participant-number">
                        <h5>{{'PARTICIPANTS_NUMBER' | translate}}</h5>
                        <span>{{::result.properties.participant_number}}</span>
                    </div>
                    <div ng-if="result.properties.practical_info" class="practical-info">
                        <h5>{{'PRATICAL_INFOS' | translate}}</h5>
                        <div ng-bind-html="sanitizeData(result.properties.practical_info, true)"></div>
                    </div>
                    <div ng-if="result.properties.speaker" class="speaker">
                        <h5>{{'SPEAKERS' | translate}}</h5>
                        <span>{{::result.properties.speaker}}</span>
                    </div>
                </div>
                <div ng-if="result.properties.is_park_centered" class="is-park-centered">
                    <i class="fa fa-info-circle"></i>
                    <p ng-if="!rulesId">{{ 'PARK_CENTERED' | translate}}</p>
                    <a ng-if="rulesId" ui-sref="layout.flat({flatID: rulesId})">{{ 'PARK_CENTERED' | translate}}</a>
                </div>
                <div ng-if="result.properties.advice" class="advice">
                    <i class="fa fa-exclamation-triangle"></i>
                    <div ng-bind-html="sanitizeData(result.properties.advice, true)"></div>
                </div>
                <div ng-if="result.properties.altimetric_profile" class="profile">
                            
                </div>
                <div ng-if="result.properties.disabled_infrastructure" class="disabled-infrastructure">
                    <i class="fa fa-wheelchair"></i>
                    <div ng-bind-html="sanitizeData(result.properties.disabled_infrastructure, true)"></div>
                </div>
            </div>
            <div class="more-infos">
                <div ng-if="result.properties.contentType === 'trek'" id="elevation">
                    <h3><i class="fa fa-area-chart"></i>{{'PROFILE_ALTI' | translate}}</h3>
                    <div class="chart-container">
                        <p class="axislabel">{{'ELEVATIION_IN_M' | translate}}</p>
                        <p id="elevation-details" class="axislabel">
                            <span class="min">{{'MIN' | translate}} <span class="value">{{:: result.properties.min_elevation }} m</span></span> -
                            <span class="max">{{'MAX' | translate}} <span class="value">{{:: result.properties.max_elevation }} m</span></span>
                        </p>
                        <div class="canvas-container"></div>
                        <span id="elevation-altitude"></span> <span class="axislabel">{{'LENGTH_IN_M' | translate}}</span>
                        <p id="mouseoverprofil" class="axislabel" >&nbsp;</p>
                    </div>
                </div>
                <div ng-if="result.properties.public_transport" class="transport">
                    <h3><i class="fa fa-bus"></i>{{ 'TRANSPORTS' | translate}}</h3>
                    <div class="card" ng-bind-html="sanitizeData(result.properties.public_transport, true)"></div>
                </div>
                <div ng-if="result.properties.access" class="access">
                    <h3><i class="fa fa-road"></i>{{ 'ACCESS' | translate}}</h3>
                    <div class="card" ng-bind-html="sanitizeData(result.properties.access, true)"></div>
                </div>
                <div ng-if="result.properties.information_desks[0]" class="info-desks">
                    <h3><i class="fa fa-info"></i>{{ 'INFORMATION_DESKS' | translate}}</h3>
                    <ul>
                        <li ng-repeat="desk in result.properties.information_desks" class="desk card">
                            <div class="infos">
                                <div class="image">
                                    <img ng-if="desk.photo_url" ng-src="{{::desk.photo_url}}" alt="{{::desk.name}}"/>
                                    <img ng-if="!desk.photo_url" ng-src="/images/desk-placeholder.jpg" alt="{{::desk.name}}"/>
                                </div>
                                <div class="contact">
                                    <div class="name">{{::desk.name}}</div>
                                    <div class="address">
                                        <div class="street">
                                            {{::desk.street}}
                                        </div>
                                        <span>{{::desk.postal_code}}</span>
                                        <span>{{::desk.municipality}}</span>
                                    </div>
                                    <a ng-if="desk.website" class="website" href="{{::desk.website}}" target="_blank">Site web</a>
                                    <a ng-if="desk.email" class="mail" href="mailto:{{::desk.email}}" target="_blank">{{::desk.email}}</a>
                                    <a ng-if="desk.phone" class="phone" href="tel:{{::desk.phone}}" target="_blank">{{::desk.phone}}</a>
                                </div>
                            </div>
                            <div class="description">
                                <div class="text" ng-bind-html="sanitizeData(desk.description, true)"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div ng-if="result.properties.contact || result.properties.email" class="contact-card">
                    <h3><i class="fa fa-tty"></i>{{ 'CONTACT' | translate}}</h3>
                    <ul>
                        <li class="card">
                            <div class="contact" ng-if="result.properties.contact" ng-bind-html="sanitizeData(result.properties.contact, true)"></div>
                            <a ng-if="result.properties.email" href="mailto:{{::result.properties.email}}" target="_blank">{{::result.properties.email}}</a>
                        </li>
                    </ul>
                </div>

                <div ng-if="pois.length > 0 || nearElements.length > 0 || elementChildren.length > 0 || parentElement" class="interests">
                    <div class="children" ng-if="elementChildren.length > 0" ng-class="{collapsed: interestShown !== 'children'}">
                        <h3 ng-click="toggleInterest('children')">{{'CHILDREN' | translate}} <i class="fa fa-angle-down"></i></h3>
                        <div class="collapsor">
                            <children-liste></children-liste>
                        </div>
                    </div>
                    <div class="parent" ng-if="parentElement" ng-class="{collapsed: interestShown !== 'parent'}">
                        <h3 ng-click="toggleInterest('parent')">{{'PARENT' | translate}} <i class="fa fa-angle-down"></i></h3>
                        <div class="collapsor">
                            <parent-liste></parent-liste>
                        </div>
                    </div>
                    <div class="near-elements" ng-if="nearElements.length > 0 " ng-class="{collapsed: interestShown !== 'near'}">
                        <h3 ng-click="toggleInterest('near')">{{'NEAR' | translate}} <i class="fa fa-angle-down"></i></h3>
                        <div class="collapsor">
                            <near-liste></near-liste>
                        </div>
                    </div>
                    <div class="pois" ng-if="pois.length > 0 && result.properties.contentType === 'trek'" ng-class="{collapsed: interestShown !== 'pois'}">
                        <h3 ng-click="toggleInterest('pois')">{{'POI' | translate}} <i class="fa fa-angle-down"></i></h3>
                        <div class="collapsor">
                            <pois-liste></pois-liste>
                        </div>
                    </div>
                </div>

                <div ng-if="result.properties.web_links[0]" class="going-further">
                    <h3><i class="fa fa-plus"></i>{{ 'KNOW_MORE' | translate}}</h3>
                    <ul ng-if="result.properties.web_links[0]" class="websites">
                        <li ng-repeat="link in result.properties.web_links">
                            <a href="{{::link.url}}" title="{{::link.name}}" target="_blank">
                                <img ng-if="link.category.pictogram && !isSVG(link.category.pictogram)" ng-src="{{::link.category.pictogram}}" ng-alt="{{::link.category.label}}">
                                <ng-include ng-if="link.category.pictogram && isSVG(link.category.pictogram)" src="link.category.pictogram"></ng-include>
                                <span>{{::link.name}}</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div ng-if="false && result.properties.relationships[0]" class="related-treks">
                    <h3><i class="fa fa-plus"></i>{{ 'RELATED_TREKS' | translate}}</h3>
                </div>

            </div>
        </div>

    </div>

    <warning-panel></warning-panel>

    <div class="detail-map" ng-class="{'no-interests': interestShown === null, 'hide-near-elements': interestShown !== 'near', 'hide-pois': interestShown !== 'pois', 'hide-children': interestShown !== 'children'}">
        <geotrek-map></geotrek-map>
    </div>
</section>