<div class="detail-content-related related-treks" ng-if="result.properties.relationships.has_common_departure.length > 0 || result.properties.relationships.has_common_edge.length > 0 || result.properties.relationships.is_circuit_step.length > 0">
    <h3><i class="fa fa-plus"></i>{{ 'RELATED_TREKS' | translate}}</h3>

    <div ng-if="result.properties.relationships.has_common_departure.length > 0">
        <h4>{{'HAS_COMMON_DEPARTURE' | translate}}</h4>
        <ul>
            <li ng-repeat="relatedTrek in result.properties.relationships.has_common_departure track by relatedTrek.id">
                <a ui-sref="layout.detail({catSlug: result.properties.category.slug, slug: relatedTrek.slug})">{{relatedTrek.name}}</a>
            </li>
        </ul>
    </div>

    <div ng-if="result.properties.relationships.has_common_edge.length > 0">
        <h4>{{'HAS_COMMON_EDGE' | translate}}</h4>
        <ul>
            <li ng-repeat="relatedTrek in result.properties.relationships.has_common_edge track by relatedTrek.id">
                <a ui-sref="layout.detail({catSlug: result.properties.category.slug, slug: relatedTrek.slug})">{{relatedTrek.name}}</a>
            </li>
        </ul>
    </div>

    <div ng-if="result.properties.relationships.is_circuit_step.length > 0">
        <h4>{{'IS_CIRCUIT_STEP' | translate}}</h4>
        <ul>
            <li ng-repeat="relatedTrek in result.properties.relationships.is_circuit_step track by relatedTrek.id">
                <a ui-sref="layout.detail({catSlug: result.properties.category.slug, slug: relatedTrek.slug})">{{relatedTrek.name}}</a>
            </li>
        </ul>
    </div>
</div>
