<div class="detail-content-picture-wrapper" ng-if="result.properties.pictures[0]">

    <div class="detail-content-picture" ng-click="showLightbox(result.properties.pictures, 0)">
        <img ng-src="{{::result.properties.pictures[0].url}}" ng-alt="{{::result.properties.pictures[0].legend}}">
        <div class="detail-content-picture-credit">
            {{::result.properties.pictures[0].author}}
        </div>
        <div class="detail-content-picture-how-many" ng-if="result.properties.pictures.length > 1">
            {{ result.properties.pictures.length }}
            <ng-include class="camera" src="'/images/icons/camera.svg'"></ng-include>
        </div>
    </div>

</div>
