<div class="detail-sensitives">
    <div ng-if="sensitives.length > 0" class="detail-content-sensitive" class="sensitive">
      <h3>{{'SENSITIVITY_ZONE' | translate}}</h3>
      <p>{{'SENSITIVITY_ZONE_TEXT' | translate}}</p>
      
      <div ng-repeat="sensitive in sensitives" class="sensitive">
        <div class="sensitive-content picto">
          <span ng-if="sensitive.species_picto" class="sensitive-picto">
            <img src="{{sensitive.species_picto}}" alt="">
          </span>
          <p class="title">{{sensitive.species_name}}</p>
          <div class="months">
            {{'SENSITIVITY_PERIOD' | translate}}
            <span class="month" ng-repeat="(month, value) in sensitive.period" ng-class="{'active': value}">
              {{month}}
            </span>
          </div>
          <p ng-if="sensitive.contact" class="contact">
            {{'CONTACT' | translate}} : {{sensitive.contact}}
          </p>
          <p ng-if="sensitive.description">
            {{sensitive.description}}
          </p>
          <p ng-if="sensitive.species_url">
            <a href="{{sensitive.species_url}}" target="_blank">{{'SHOW_MORE' | translate}}</a>
          </p>
        </div>

      </div>
  </div>
</div>

