<div class="detailsview-pane detail-aside-pane interests" ng-if="pois.length || nearElements.length || elementChildren.length || parentElement">
    <div class="aside-pane-controls toggle-pane-controls" ng-class="{ 'fold-aside': foldAside }">
        <button class="aside-pane-toggle toggle-pane-toggle" ng-click="asidePaneToggle()">
            <ng-include class="stripe" src="'/images/icons/stripe.svg'"></ng-include>
        </button>
    </div>

    <custom-detail-aside></custom-detail-aside>

    <div class="detail-aside-group children" ng-if="elementChildren.length" ng-class="{active: currentInterest === 'children'}">
        <div class="detail-aside-group-title" ng-click="toggleInterest('children')">
            <span>{{ 'CHILDREN' | translate }}</span>
            <span class="detail-aside-group-counter" ng-if="displayAsidesCounter" ng-bind="elementChildren.length"></span>
            <ng-include class="stripe-icon svg-icon" src="'/images/icons/stripe.svg'"></ng-include>
        </div>
        <div class="detail-aside-group-content" lazy-check>
            <items-list elements="elementChildren" type="aside"></items-list>
        </div>
    </div>
    <div class="detail-aside-group parent" ng-if="parentsElement.length" ng-class="{active: currentInterest === 'parent'}">
        <div class="detail-aside-group-title" ng-click="toggleInterest('parent')">
            <span>{{ 'PARENT' | translate }}</span>
            <span class="detail-aside-group-counter" ng-if="displayAsidesCounter" ng-bind="parentsElement.length"></span>
            <ng-include class="stripe-icon svg-icon" src="'/images/icons/stripe.svg'"></ng-include>
        </div>
        <div class="detail-aside-group-content" lazy-check>
            <items-list elements="parentsElement" type="aside"></items-list>
        </div>
    </div>
    <div class="detail-aside-group near-elements" ng-if="nearElements.length " ng-class="{active: currentInterest === 'near'}">
        <div class="detail-aside-group-title" ng-click="toggleInterest('near')">
            <span>{{ 'NEAR' | translate }}</span>
            <span class="detail-aside-group-counter" ng-if="displayAsidesCounter" ng-bind="nearElements.length"></span>
            <ng-include class="stripe-icon svg-icon" src="'/images/icons/stripe.svg'"></ng-include>
        </div>
        <div class="detail-aside-group-content" ng-if="!nearElementsByCategories" lazy-check>
            <items-list elements="nearElements" type="aside"></items-list>
        </div>

        <div class="detail-aside-categories-container" ng-if="nearElementsByCategories">
            <div class="detail-aside-categories" ng-repeat="category in nearElementsCategories" ng-if="nearElementsCategories.length" ng-class="{active: categoryIsCollapsed}">
                <div class="detail-aside-category-title" ng-click="categoryIsCollapsed = !categoryIsCollapsed">
                    <span>{{ category.label }}</span>
                    <ng-include class="stripe-icon svg-icon" src="'/images/icons/stripe.svg'"></ng-include>
                </div>
                <div class="detail-aside-group-content" collapse="!categoryIsCollapsed" lazy-check>
                    <items-list elements="nearElements" filter="{ properties: { category: { id: category.id } } }" type="aside"></items-list>
                </div>
            </div>
        </div>

    </div>
    <div class="detail-aside-group pois" ng-if="pois.length && (result.properties.contentType === 'trek' || result.properties.contentType === 'dive')" ng-class="{active: currentInterest === 'pois'}">
        <div class="detail-aside-group-title" ng-click="toggleInterest('pois')">
            <span>{{ 'POI' | translate }}</span>
            <span class="detail-aside-group-counter" ng-if="displayAsidesCounter" ng-bind="pois.length"></span>
            <ng-include class="stripe-icon svg-icon" src="'/images/icons/stripe.svg'"></ng-include>
        </div>
        <div class="detail-aside-group-content" type="aside" lazy-check>
            <pois-liste></pois-liste>
        </div>
    </div>
</div>
