 <section class="detail-page details-pane category-{{::result.properties.category.id}}">
    <detail-content></detail-content>
    <warning-panel></warning-panel>

    <geotrek-map
        class="detail-map map-pane"
        ng-class="{
            'no-interests':       interestShown === null,
            'hide-near-elements': interestShown !== 'near',
            'hide-pois':          interestShown !== 'pois',
            'hide-children':      interestShown !== 'children'
        }"></geotrek-map>

    <detail-aside></detail-aside>
</section>
