// GEOTREK RANDO STYLE

$root-images-path: "./images/";

@import 'commons/styles/_mixins';
@import 'config/styles/_configuration';

* {
    box-sizing: border-box;
}

html {
	font-family: $font-family;
	font-size: 16px;
	color: #333;
}

html, body, .main-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

a {
    color: $primary-color;
    transition: all 0.2s ease-out;
    &:hover, &:focus, &:active {
        color: darken($primary-color, 5%);
    }
}

.card {
    //border: 1px solid $neutral-grey;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px $dark-grey;
}

.tooltip {
    @media (max-width: 768px) {
        display: none !important;
    }
}

@keyframes triangle-loader {
  25% {
    transform: perspective(100px) rotateX(180deg) rotateY(0);
  }
  50% {
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    transform: perspective(100px) rotateX(0) rotateY(180deg);
  }
  100% {
    transform: perspective(100px) rotateX(0) rotateY(0);
  }
}

.isLoading {
    position: relative;
    &:before, &:after {
        content: '';
        position: absolute;
        z-index: 99999999999999;
    }
    &:before {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $dark-grey;
        opacity: 0.6;
    }
    &:after {
        top: 50%;
        left: 50%;
        margin-top: -0.6rem;
        margin-left: -1.2rem;
        width: 0;
        height: 0;
        border-left: 1.2rem solid transparent;
        border-right: 1.2rem solid transparent;
        border-bottom: 1.2rem solid white;
        animation: triangle-loader 2.4s 0s cubic-bezier(.09,.57,.49,.9) infinite;
        animation-fill-mode: both;
    }
}

.checkbox {
    height: 20px;
    line-height: 20px;
    width: 20px;
    display: inline-block;
    border: 1px solid white;
    background: rgba(white, 0.2);
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    margin-right: 0.25rem;
    border-radius: 8%;
    i {
        vertical-align: top;
        font-size: 0.8rem;
    }
}

@import "header/styles/_header";
@import "layout/styles/_layout";
@import "footer/styles/_footer";
@import "categories/styles/_liste";
@import "results/styles/_liste";
@import "filters/styles/_filters";
@import "filters/styles/_filters-tags";
@import "favorites/styles/_favorites";
@import "map/styles/_map";
@import "detail/styles/_detail";
@import "warning/styles/_warning";
@import "social/styles/_social";
@import "pois/styles/_poi-liste";
@import "pois/styles/_media-player";
@import "near-elements/styles/_near-elements";
@import "filiation/styles/_filiation";
@import "gallery/styles/_lightbox-gallery";
@import "home/styles/_home";
@import "home/styles/_random-widget";
@import "flat-pages/styles/_flat-pages";
@import "3d/styles/_rando3d";

@import "custom/styles/_customisation";