// GEOTREK RANDO STYLE

$icon-font-path: "./app/vendors/fonts/bootstrap/";
$root-images-path: "./images/";
$vendors-images-path: "./app/vendors/images/";

@import 'vendors/styles/_vendors';
@import 'commons/styles/_mixins';
@import 'config/styles/_config';

* {
    box-sizing: border-box;
}

html {
	font-family: $font-family;
	font-size: 14px;
	color: #333;
}

html, body, .main-container {
    height: 100%;
    width: 100%;
}

@import 'layout/styles/_layout';
@import 'categories/styles/_liste';
@import 'results/styles/_liste';
@import 'map/styles/_map';
@import 'detail/styles/_detail';