// GEOTREK RANDO STYLE

$root-images-path: "./images/";

@import 'commons/styles/_mixins';

@import 'config/styles/_configuration';
@import 'config/styles/_configuration.default';

* {
    box-sizing: border-box;
}

html, body {
	font-family: $font-family;
	font-size: 14px;
	color: #333;
}

html, body, .main-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

a {
    transition: color 0.2s ease-out;
    @if $json-custom-style {
        color: $primary-color;
        &:hover, &:focus, &:active {
            color: darken($primary-color, 5%);
        }
    }
}

.card {
    //border: 1px solid $neutral-grey;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px $dark-grey;
}

.tooltip {
    @media (max-width: 768px) {
        display: none !important;
    }
}

@keyframes triangle-loader {
  25% {
    transform: perspective(100px) rotateX(180deg) rotateY(0);
  }
  50% {
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    transform: perspective(100px) rotateX(0) rotateY(180deg);
  }
  100% {
    transform: perspective(100px) rotateX(0) rotateY(0);
  }
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.checkbox {
    height: 20px;
    line-height: 20px;
    width: 20px;
    display: inline-block;
    border: 1px solid white;
    background: rgba(white, 0.2);
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    margin-right: 0.25rem;
    border-radius: 8%;
    i {
        vertical-align: top;
        font-size: 0.8rem;
    }
}

@import "header/styles/_header";
@import "layout/styles/_layout";
@import "footer/styles/_footer";
@import "loader/styles/_loader";
@import "categories/styles/_liste";
@import "results/styles/_liste";
@import "filters/styles/_filters";
@import "filters/styles/_filters-tags";
@import "favorites/styles/_favorites";
@import "map/styles/_map";
@import "detail/styles/_detail";
@import "warning/styles/_warning";
@import "social/styles/_social";
@import "pois/styles/_poi-liste";
@import "pois/styles/_media-player";
@import "items-list/styles/_items-list";
@import "gallery/styles/_lightbox-gallery";
@import "home/styles/_home";
@import "home/styles/_random-widget";
@import "flat-pages/styles/_flat-pages";
@import "3d/styles/_rando3d";

@import "custom/styles/_customisation";
