@mixin categories-list-coloring() {
    @each $category in $categories {
        &.category-#{nth($category, 1)} {
            button {
                svg {
                    fill: nth($category, 2);
                }
            }
            &.active {
                button {
                    background: nth($category, 2);
                    svg {
                        fill: white;
                    }
                }
            }
            .filters {
                .category-name {
                    background: nth($category, 2);
                }
                form {
                    border-color: nth($category, 2);
                }
                .choices {
                    border-color: nth($category, 2);
                    input {
                        &:checked + label {
                            background-color: nth($category, 2);
                        }
                        &:focus {
                            border-color: nth($category, 2);
                        }
                    }
                }
            } 
        }
    }
}

@mixin results-list-coloring() {
    @each $category in $categories {
        &.category-#{nth($category, 1)} {
            border-color: nth($category, 2);
            .know-more {
                border-bottom: 40px solid nth($category, 2);
            }
            .fav-or-not.isFav i {
                color: nth($category, 2);
            }
        }
    }
}

@mixin favorites-list-coloring() {
    @each $category in $categories {
        &.category-#{nth($category, 1)} {
            border-color: nth($category, 2);
            #header .navbar &:hover {
                a {
                    color: nth($category, 2);
                }
            }
        }
    }
}

@mixin marker-coloring() {
    @each $category in $categories {
        &.category-#{nth($category, 1)} {
            .marker-icon svg .base {
                fill: nth($category, 2);
            }
        }
    }
}

@mixin geojson-coloring() {
    @each $category in $categories {
        &.category-#{nth($category, 1)} {
            stroke: nth($category, 2);
            &.fill {
                fill: nth($category, 2);
            }
        }
    }
}

@mixin detail-page-coloring() {
    @each $category in $categories {
        &.category-#{nth($category, 1)} {
            .top-part {
                .cat-icon {
                    background: nth($category, 2);
                }
                .pictures {
                    border-color: nth($category, 2);
                }
            }
        }
    }
}

@mixin detail-sidebar-coloring() {
    @each $category in $categories {
        &.category-#{nth($category, 1)} {
            .isFav i {
                color: nth($category, 2);
            }
        }
    }
}