@mixin categories-list-coloring() {
    @each $category in $categories {
        &.category-#{nth($category, 1)} {
            button {
                color: nth($category, 2);
                svg {
                    fill: nth($category, 2);
                }
            }
            &.active {
                background: darken(nth($category, 2), 5%);
                button {
                    background: nth($category, 2);
                    color: white;
                    svg {
                        fill: white;
                    }
                }
                .filters .choices {
                    input {
                        &:focus + label, &:hover + label {
                            background-color: darken(nth($category, 2), 10%);
                        }
                    }
                }
            }
            .filters {
                .category-name {
                    background: nth($category, 2);
                }
                form {
                    border-color: nth($category, 2);
                }
                .choices {
                    input {
                        &:focus + label, &:hover + label {
                            background-color: $neutral-grey;
                        }
                    }
                }

            } 
        }
    }
}

@mixin results-list-coloring() {
    @each $category in $categories {
        &.category-#{nth($category, 1)} {
            border-color: nth($category, 2);
            .know-more {
                border-bottom: 40px solid nth($category, 2);
            }
            .fav-or-not.isFav i {
                color: nth($category, 2);
            }
        }
    }
}

@mixin favorites-list-coloring() {
    @each $category in $categories {
        &.category-#{nth($category, 1)} {
            border-color: nth($category, 2);
            #header .navbar &:hover {
                a {
                    color: nth($category, 2);
                }
            }
        }
    }
}

@mixin marker-coloring() {
    @each $category in $categories {
        &.category-#{nth($category, 1)} {
            .marker-icon svg .base {
                fill: nth($category, 2);
            }
        }
    }
}

@mixin geojson-coloring() {
    @each $category in $categories {
        &.category-#{nth($category, 1)} {
            stroke: nth($category, 2);
            &.fill {
                fill: nth($category, 2);
            }
        }
    }
}

@mixin detail-page-coloring() {
    @each $category in $categories {
        &.category-#{nth($category, 1)} {
            .informations {
                .header {
                    background: nth($category, 2);
                }
                .pictures {
                    border-color: nth($category, 2);
                }
                .main-infos .description_teaser {
                    color: nth($category, 2);
                }
                .info-desks .infos {
                    background: nth($category, 2);
                }
                .contact-card .card {
                    border-left-color: nth($category, 2);
                }
            }
        }
    }
}

@mixin detail-sidebar-coloring() {
    @each $category in $categories {
        &.category-#{nth($category, 1)} {
            .isFav i {
                color: nth($category, 2);
            }
        }
    }
}