#!/usr/bin/env python
# -*- coding: utf8 -*-

from .base import *


#--------------------------------------
# Edit configuration
#

GEOTREK_SERVER = 'geotrekserver.com'
GEOTREK_USER = 'apiuser'
GEOTREK_PASSWORD = 'secret_password'

TITLE = {
    'en': "Trekking",
    'fr': "Portail rando",
}

DESCRIPTION = {
    'en': "Catalog of treks",
    'fr': "Offre rando",
}

GANALYTICS_TRACKING_CODE = 'UA-XXXXXXXX-XX'

POPUP_HOME_ENABLED = False
PRINT_ENABLED = True
VIEW3D_ENABLED = True

# Feedback app config
FEEDBACK_FORM_ENABLED = True

RECAPTCHA_PUBLIC_KEY = '6Ldrbu4SAAAAALJ0NMX0LBK-UAE8u5wJT5zrb5Uo'
RECAPTCHA_PRIVATE_KEY = '6Ldrbu4SAAAAAPbt5g3Vw2BA_LGL1-BZwaBSsnfz'

#
# Comments on detail pages
#
# DISQUS_ENABLED = False
# DISQUS_SHORTNAME = 'register on disqus.com'


#
# Filters customization
#
# FILTER_ASCENT_VALUES = (300, 600, 1000)
#
# FILTER_DURATION_VALUES = [('< 2H', 2), ('2-4H', 4), ('> 4H', 4.01)]
#
# SEARCH_PLACEHOLDER = {
#     'en': 'Name, Valley, ...',
#     'fr': 'Nom, vallée, ...',
#     'it': 'Nome, Valle,...',
#     'es': 'Lugar, valle, ...',
# }


#
# Flat pages customizations
#
# FLATPAGES_POLICY_PAGE = 3
#

#
# Layers customizations
#......................
#
# LEAFLET_CONFIG = {
#     "TILES": [
#         ('main', 'http://{s}.tiles.mapbox.com/v3/examples.map-4l7djmvo/{z}/{x}/{y}.png', '&copy; MapBox'),
#         ('detail', 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', '&copy; OSM')
#         ('satellite', 'http://{s}.tiles.mapbox.com/v3/examples.map-4l7dfffjmvo/{z}/{x}/{y}.jpg', '&copy; Satellite')
#     ],
#     "SCALE": False,
#     "MINIMAP": True,
#     "NO_GLOBALS": False
# }
#
# Zoom level where map background switches from 'main' to 'detail' on home
# SWITCH_DETAIL_ZOOM = 12

# Tourism Layers
#...............
#
# TOURISM_ENABLED = True


# Static pages
#..............

# Customize titles from filenames
# FLATPAGES_TITLES = {
#     'a-savoir': u"À Savoir",
# }

# Hide pages from menu
#FLATPAGES_TARGETS = {
#    u"À Savoir": 'hidden',
#}


#
# Types of attachments to be published in detail pages
# FILELIST_MIMETYPES = ['audio', 'video', 'application/pdf']

#
# Rename the district notion
#
# DISTRICT_LABEL = {
#     'en': 'Territory',
#     'fr': 'Territoire',
#     'it': 'Territorio',
#     'es': 'Territorio',
# }

#
# Rename the notion of "park center"
#
# Id of policy page
# FLATPAGES_POLICY_PAGE = 003
#
# PARK_CENTER_WARNING = {
#     'en': 'This trek is within park center',
#     'fr': 'Cet itinéraire est dans le coeur du parc national',
#     'it': 'Questo itinerario si snoda nella parte centrale del Parco Nazionale',
#     'es': 'Este itinerario atraviesa la zona central del Parque Nacional',
# }
# PARK_CENTER_LINK = {
#     'en': 'please read access rules.',
#     'fr': 'veuillez consulter la réglementation.',
#     'it': 'siete inviatati a leggere le regole di accesso.',
#     'es': 'consulte la reglamentación, por favor.',
# }

#
# Redirect visitors to the language of their browser
# LOCALEURL_USE_ACCEPT_LANGUAGE = True

#
# In preprod
#..................
#
# PREPROD = True
#
