{% load i18n static leaflet_tags rando_tags localeurl_tags trekking_tags %}

{% include "_share.html" with title=TITLE %}

{% if pjax %}
  <title>{{ TITLE }}</title>
{% endif %}

{% trekking_filters %}

<!--  search-bar-->

<div class="search-tabs side-bar" id="side-bar">

  <button id="toggle-header-mobile" class="icon-elusive-icons-1">
    <img class="logo" src="{% overridable "img/icon-64.png" %}" />
  </button>

  <div id="toggle-side-bar" class="icon-left-open-mini"></div>

  <div id="text-search">
    <form class="navbar-search">
      <label for="search" class="hidden">{% trans "Search" %}</label>
      <input type="text" class="search-query" placeholder="{{ SEARCH_PLACEHOLDER }}" data-filter="search" id="search"/>
      <div class="icon-search"></div>
    </form>
  </div>

  <div id="results">

    <div class="number">
      <span class="badge badge-warning">{{ treks|length }}</span> {% trans "Results" %}
    </div>

    <h2 class="hidden">{% trans "Results" %}</h2>
    <p id="noresult" style="display:none" class="tab-content-empty">
      {% trans "No result" %}
      {% if request.LANGUAGE_CODE != settings.languages.default %}
      <a href="{% locale_url settings.languages.default "trekking:home" %}" class="change-lang">{% trans "Change language" %}</a>
      {% endif %}
    </p>
    {% for trek in treks %}
        {% include "trekking/_trek_result.html" %}
    {% endfor %}
  </div>

</div>
<!-- sidebar -->

{% include "_navigation.html" with title="HOME" %}

{% leaflet_map 'mainmap' fitextent=False creatediv=False %}
