{% load i18n static localeurl_tags %}
<div id="lang-switch" class="hidden-tablet hidden-phone reattach" data-destination="header">
  <ul>
    {% if trek %}
      {% for lang in trek.published_status %}
          {% if lang.status %}
            {% if lang.lang == request.LANGUAGE_CODE %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="{% locale_url lang.lang "trekking:trek_redirect" pk=trek.pk %}">
              <span class="hidden">{{ lang.language }}</span>
              <img src="{% get_static_prefix %}img/flags/{{ lang.lang }}.png" alt="{{ lang.language }}">
            </a>
            </li>
          {% endif %}
      {% endfor %}
    {% else %}
      {% for lang, name in settings.languages.available.items %}
          {% if lang == request.LANGUAGE_CODE %}
          <li class="active">
          {% else %}
          <li>
          {% endif %}
          <a href="{% locale_url lang "trekking:trek_home" %}">
            <span class="hidden">{{ lang }}</span>
            <img src="{% get_static_prefix %}img/flags/{{ lang }}.png" alt="{{ lang }}">
          </a>
          </li>
      {% endfor %}
    {% endif %}
    </ul>
</div>