{% load i18n flatpages_tags localeurl_tags %}

<div id="navigationbar" class="reattach" data-destination=".navigation">
    <ul>
        <li class="home"><a class="btn pjax icon-home" href="{% locale_url request.LANGUAGE_CODE "trekking:home" %}" title="{% trans "Home" %}"></a></li>
    {% get_flatpages as flatpages %}
    {% for page in flatpages %}
        <li><a class="btn pjax {% if title == page.title %}active{% endif %}" href="{% locale_url request.LANGUAGE_CODE "flatpages:page" page.slug %}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
</div>
<!-- static pages -->
{% include "_lang_switch.html" %}
