{% load static rando_tags localeurl_tags %}
<div id="popup-home" class="popup-home modal hide fade {% if POPUP_HOME_FORCED %}forced{% endif%}" tabindex="-1" role="dialog" aria-labelledby="popup-view3d" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <div class="modal-body">
      <div id="lang-switch">
        <ul>
          {% for lang, name in settings.languages.available.items %}
            <li class="{% if lang == request.LANGUAGE_CODE %}active{% endif %}"><a href="{% locale_url lang "trekking:trek_home" %}"><span class="hidden">{{ lang }}</span>
                <img src="{% get_static_prefix %}img/flags/{{ lang }}.png" alt="{{ lang }}"></a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <section id="popup-body">
        {% fileinclude POPUP_FILENAME request.LANGUAGE_CODE %}
      </section>
    </div>
</div>