{% extends "base.html" %}

{% block title %}{{ object.title }}{% endblock title %}

{% block description %}{{ object.short_description|safe|striptags }}{% endblock description %}


{% block extrahead %}
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{ URL }}">
    <meta name="twitter:title" content="{{ object.title }}">
    <meta name="twitter:description" content="{{ object.short_description|striptags }}">
    <meta name="twitter:image" content="{{ thumbnail }}">
{% endblock extrahead %}


{% block content %}
    {% include view.pjax_template_name %}
{% endblock content %}
