<ul class="children-liste">
    <li ng-repeat="child in elementChildren track by child.properties.category.id + '-' + child.id" id="children-category-{{::child.properties.category.id}}-{{::child.id}}" class="child category-{{::child.properties.category.id}} card">
        <div class="fav-or-not" ng-click="toggleFavorites(child)" ng-class="{isFav: isInFavorites(child)}">
            <i class="glyphicon glyphicon-heart"></i>
        </div>
        <a ui-sref="layout.detail({catSlug: child.properties.category.slug, slug: child.properties.slug})" class="card-part" ng-mouseover="hoverMarkerFiliation(child,'enter')" ng-mouseleave="hoverMarkerFiliation(child,'leave')">
            <div class="picture">
                <img ng-if="child.properties.pictures[0]" ng-src="{{::child.properties.pictures[0].url}}" ng-alt="{{::child.properties.type.label}}">
                <img ng-if="!child.properties.pictures[0]" ng-src="{{::$root.placeHolderImage}}" alt="placeholder image">
            </div>
            <div class="cat-icon">
                <ng-include ng-if="isSVG(child.properties.category.pictogram)" src="child.properties.category.pictogram"></ng-include>
                <img ng-if="!isSVG(child.properties.category.pictogram)" ng-src="{{::child.properties.category.pictogram}}" ng-alt="{{::child.properties.category.label}}">
            </div>
            <span class="title">{{::child.properties.name}}</span>
            <div class="know-more">
                <span>+</span>
            </div>
        </a>
    </li>
</ul>
