<ul class="parent-liste">
    <li id="parent-category-{{::parentElement.properties.category.id}}-{{::parentElement.id}}" class="parent category-{{::parentElement.properties.category.id}} card">
        <div class="fav-or-not" ng-click="toggleFavorites(parentElement)" ng-class="{isFav: isInFavorites(parentElement)}">
            <i class="glyphicon glyphicon-heart"></i>
        </div>
        <a ui-sref="layout.detail({catSlug: parentElement.properties.category.slug, slug: parentElement.properties.slug})" class="card-part" ng-mouseover="hoverMarkerFiliation(parentElement,'enter')" ng-mouseleave="hoverMarkerFiliation(parentElement,'leave')">
            <div class="picture">
                <img ng-if="parentElement.properties.pictures[0]" ng-src="{{::parentElement.properties.pictures[0].url}}" ng-alt="{{::parentElement.properties.type.label}}">
                <img ng-if="!parentElement.properties.pictures[0]" ng-src="{{::$root.placeHolderImage}}" alt="placeholder image">
            </div>
            <div class="cat-icon">
                <ng-include ng-if="isSVG(parentElement.properties.category.pictogram)" src="parentElement.properties.category.pictogram"></ng-include>
                <img ng-if="!isSVG(parentElement.properties.category.pictogram)" ng-src="{{::parentElement.properties.category.pictogram}}" ng-alt="{{::parentElement.properties.category.label}}">
            </div>
            <span class="title">{{::parentElement.properties.name}}</span>
            <div class="know-more">
                <span>+</span>
            </div>
        </a>
    </li>
</ul>
