{% load i18n l10n static compress %}
<!doctype html>
<html lang="en">
<head>
    <title>{{ trek.name }} - {% trans "3D View" %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "view3d/main.css" %}" />

    <script src="{% static "js/vendor/jquery-1.9.0.min.js" %}"></script>
    <script src="{% static "view3d/vendor/underscore.js" %}"></script>

    <!-- Babylon.js -->
    <script src="{% static "view3d/vendor/babylon.1.12.js" %}"></script>
    <script src="{% static "view3d/vendor/babylon.arcRotateCamera.js" %}"></script>

    <!-- TweenLite -->
    <script src="{% static "view3d/vendor/EasePack.min.js" %}"></script>
    <script src="{% static "view3d/vendor/TweenLite.min.js" %}"></script>
    <script src="{% static "view3d/vendor/TimelineLite.min.js" %}"></script>
    <script src="{% static "view3d/vendor/BezierPlugin.min.js" %}"></script>
    <script src="{% static "view3d/vendor/DirectionalRotationPlugin.min.js" %}"></script>

    <!-- Rando -->
    <script src="{% static "view3d/Rando.Utils.js" %}"></script>
    <script src="{% static "view3d/Rando.Settings.js" %}"></script>
    <script src="{% static "view3d/Rando.Scene.js" %}"></script>
    <script src="{% static "view3d/Rando.Events.js" %}"></script>
    <script src="{% static "view3d/Rando.Dem.js" %}"></script>
    <script src="{% static "view3d/Rando.Poi.js" %}"></script>
    <script src="{% static "view3d/Rando.Trek.js" %}"></script>
    <script src="{% static "view3d/Rando.TileContainer.js" %}"></script>
    <script src="{% static "view3d/Rando.CameraContainer.js" %}"></script>
    <script src="{% static "view3d/Rando.CameraComputer.js" %}"></script>
    <script src="{% static "view3d/Rando.BirdCamera.js" %}"></script>
    <script src="{% static "view3d/Rando.ExamineCamera.js" %}"></script>
    <script src="{% static "view3d/Rando.HikerCamera.js" %}"></script>
</head>
<body data-dem-url="{% url "core:fileserve" trek.elevation_area_url %}"
      data-profile-url="{% url "core:fileserve" trek.altimetric_profile %}"
      data-poi-url="{% url "core:fileserve" trek.poi_layer %}"
      data-static-url="{% static "view3d/" %}"
      data-tiles-number-limit="{{ view.TILES_NUMBER_LIMIT }}"
      data-tiles-url="{{ view.tiles.url }}">
    <div class="trek-info">
        {{ trek.name }}
    </div>
    <div id="rootDiv">
        <div class="not-supported">
            {% trans "Browser not supported (WebGL)" %}
        </div>
        <div class="branding"></div>
        <div class="attributions">
            {{ view.tiles.attributions|safe }}
        </div>


        <div class="controls controls--examine" >
            <h3>{% trans "Mode sky" %}</h3>
            <span class="controls-description">{% trans "Move the terrain using the mouse." %}</span>
            <span> {% trans "Zoom" %} : <b>{% trans "Mouse wheel" %}</b></span>
            <span> {% trans "Rotation" %} : <b>{% trans "Left click" %}</b></span>
            <span> {% trans "Move" %} : <img src="{% static "view3d/img/arrows.png" %}"/></span>
        </div>

        <div class="controls controls--bird" >
            <h3>{% trans "Mode bird" %}</h3>
            <span class="controls-description">{% trans "Fly like a bird, moving his head." %}</span>
            <span> {% trans "Zoom" %} : <b>{% trans "Mouse wheel" %}</b></span>
            <span> {% trans "Rotation" %} : <b>{% trans "Left click" %}</b></span>
            <span> {% trans "Move" %} : <img src="{% static "view3d/img/arrows.png" %}"/></span>
        </div>

        <div class="controls controls--hiker" >
            <h3>{% trans "Mode bird" %}</h3>
            <span class="controls-description">{% trans "Hike on a trek, in a submersive view." %}.</span>
            <span> {% trans "Move head" %} : <b>{% trans "Left click" %}</b></span>
            <span> {% trans "Play/Pause" %} : <b>{% trans "Space" %}</b></span>
            <span> {% trans "Restart" %} : <b>{% trans "Enter" %}</b></span>
            <span> {% trans "Forward/Backward" %} : <img src="{% static "view3d/img/up-down.png" %}"/></span>
        </div>

        <ul class="camera_switcher">
            <li class="camera camera--examine camera--disabled" data-camera-id="examine">
                <span class="camera-title">{% trans "Sky" %}</span>
                <span class="camera-icon">
                    <img src="{% static "view3d/img/camera-examine.svg" %}"/>
                </span>
            </li>
            <li class="camera camera--bird camera--disabled" data-camera-id="bird">
                <span class="camera-title">{% trans "Bird" %}</span>
                <span class="camera-icon">
                    <img src="{% static "view3d/img/camera-bird.svg" %}"/>
                </span>
            </li>
            <li class="camera camera--hiker camera--disabled" data-camera-id="hiker">
                <span class="camera-title">{% trans "Hiker" %}</span>
                <span class="camera-icon">
                    <img src="{% static "view3d/img/camera-hiker.svg" %}"/>
                </span>
            </li>
        </ul>

        <div class="poi poi--clicked"></div>
        <div class="poi poi--hover"></div>

        <div class="poi_side">
            <a class="close_btn" href="#"><img src="{% static "view3d/img/collapse.png" %}"/></a>
            <h2></h2>
            <span class="description"></span>
        </div>

        <canvas id="canvas_renderer"></canvas>
    </div>

    <script src="{% static "view3d/index.js" %}"></script>
 </body>
</body>
</html>
