{% load i18n l10n static compress %}
<!doctype html>
<html lang="en">
<head>
    <title>{{ object.properties.name }} - {% trans "3D View" %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <style>
        html, body, canvas {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }
        canvas {
            position: absolute;
            top: 0;
            bottom: 0;
        }
        .not-supported {
            width: 100%;
            text-align: center;
            color: gray;
            font-size: 3em;
        }
    </style>

    <script src="{% static "js/vendor/jquery-1.9.0.min.js" %}"></script>

    <!-- Babylon.js -->
    <script src="{% static "view3d/vendor/babylon.1.10.0.js" %}"></script>
    <script src="{% static "view3d/vendor/babylon.arcRotateCamera.js" %}"></script>

    <!-- TweenLite -->
    <script src="{% static "view3d/vendor/EasePack.min.js" %}"></script>
    <script src="{% static "view3d/vendor/TweenLite.min.js" %}"></script>
    <script src="{% static "view3d/vendor/TimelineLite.min.js" %}"></script>

    <!-- Rando -->
    <script src="{% static "view3d/Rando.Utils.js" %}"></script>
    <script src="{% static "view3d/Rando.Builds.js" %}"></script>
    <script src="{% static "view3d/Rando.Settings.js" %}"></script>
    <script src="{% static "view3d/index.js" %}"></script>
</head>
<body data-dem-url="{% url "core:fileserve" object.properties.elevation_area_url %}"
      data-profile-url="{% url "core:fileserve" object.properties.altimetric_profile %}">
    <div id="rootDiv">
        <div class="not-supported">
            {% trans "Browser not supported (WebGL)" %}
        </div>
        <canvas id="canvas_renderer"></canvas>
    </div>
 </body>
</body>
</html>
