/**
 * CSS Module : poi_side 
 * 
 * @author: Célian GARCIA
 */

.poi_side {
    display: none;
    border-radius: 0.35em;
    background-color: rgba(20, 20, 20, 0.5);
    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
    width: 20%;
    height: 100%;

    p {
        text-align: justify;
        margin : 20px;
    }

    .description {
        width : 100%;
    }

    h2 {
        text-align: center;
        margin : 20px;
    }

    .close_btn {
        position:absolute;
        margin: 10px;
        width : 20px;
        height: 20px;
    }

    .close_btn:hover {
        pointer-events: pointer;
    }
}
