#rando-3d {
    background-color: #00161F;
    background-image: url('./images/3d/background.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: verdana;
    overflow: hidden;
    color: white;
    border:0;
    h1 {
        position: absolute;
        top: 1rem;
        left: 50%;
        font-size: 1.4rem;
        text-decoration: uppercase;
        margin: 0;
        text-align: center;
        margin-left: -13rem;
        width: 26rem;
    }
    canvas, div {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        font-family: verdana;
        overflow: hidden;
        color: white;
        border:0;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    a:hover{
        color: #c4ca26; 
    }
    a:hover span{
        color: #c4ca26; 
    }

    p {
        text-align: center;
        font: inherit
    }

    $bg-color: rgba(255,255,255, 0.2);

    @import "_poi-side";
    @import "_switcher";
    @import "_interface";
}