/*	VAR YOU CAN CHANGE TO CONFIG YOUR GEOTREK VERSION	*/
/*														*/

$font-family: 'Open Sans', Helvetica, Arial, sans-serif !default;

$header-height-desktop: 90px !default;
$header-height-mobile: 50px !default;

//  BRAND AND CATEGORIES COLORS
//
$primary-color: #97BB35 !default;
$secondary-color: #444 !default;

$categories: T #00B5D1, /* Randonnées ID */
            T4 #7ab51d, /* Pédestre ID */
            C8 #F9A41A, /* Musee ID */
			C5 #ED5435, /* Restaurants ID */
			E #B4CC1B, /* Evenements ID */
			C3 #A05481, /* Activités pleine-nature ID */
			C1 #105BBC, /* Hébergements ID */
			C7 #3d842e, /* Séjours 100% eco ID */
			C6 #7ab51d !default; /* Produits du terroir ID */


// COMMONS COLORS
$dark-grey: #4d4d4d !default;
$neutral-grey: #e6e6e6 !default;
$light-grey: #f2f2f2 !default;

$alert-color: #EF9A9A !default;
$valid-color: #C5E1A5 !default;
$info-color: #81D4FA !default;
$warning-color: #FFCC80 !default;
$linear-highlight-color: yellow !default;


// MAP AND MARKERS COLORS
$departure-color: #429f46 !default;
$arrival-color: #c52727 !default;
$stick-color: #8c6d62 !default;
$parking-color: #3964ED !default;
$ref-point-color: #E83737 !default;
$services-color: #3964ED !default;
