/*	VAR YOU CAN CHANGE TO CONFIG YOUR GEOTREK VERSION	*/
/*														*/

$font-family: 'Roboto', Helvetica, Arial, sans-serif;


//  BRAND AND CATEGORIES COLORS
//
$primary-color: #f39400;
$secondary-color: #444;

$alert-color: #EF9A9A;
$valid-color: #C5E1A5;
$info-color: #81D4FA;
$warning-color: #FFCC80;

$categories: /* Randonnées ID -> */-2 #2b81d2, /* Musee ID -> */8 #524e67, /* Restaurants ID -> */5 #678d20, /* Sorties ID -> */2 #7fa538, /* Evenements ID -> */-1 #2bd4d2, /* Activités pleine-nature ID -> */3 #9b2c6a, /* Hébergements ID -> */1 #44500b, /* Séjours 100% eco ID -> */7 #7fa538, /* Produits du terroir ID -> */6 #ee5038;

// COMMONS COLORS
$dark-grey: #4d4d4d;
$neutral-grey: #e6e6e6;
$light-grey: #f2f2f2;