/*	VAR YOU CAN CHANGE TO CONFIG YOUR GEOTREK VERSION	*/
/*														*/

$font-family: 'Open Sans', Helvetica, Arial, sans-serif !default;

$header-height-desktop: 90px !default;
$header-height-tablet: 90px !default;
$header-height-mobile: 50px !default;

//  BRAND AND CATEGORIES COLORS
//
$primary-color: #B4CC1B !default;
$secondary-color: #444 !default;
$default-category-color: $secondary-color;

$categories: T  #61B22F, /* Itinéraire */
             T1 #E25092, /* VTT */
             T2 #5CC1D0, /* Vélo */
             T3 #E7811D, /* Equestre */
             T4 #61B22F, /* Pédestre */
             I  #E25092, /* Itinérance */
             C1 #4973B8, /* Hébergements */
             C2 #5B5A5A, /* Activités de pleine nature */
             C3 #8B6494, /* Sorties */
             C4 #87AB27, /* Site recommandés */
             C5 #ED5435, /* Restauration */
             C6 #DBB310, /* Produits */
             C7 #3d842e, /* Séjours */
             C8 #00985F, /* Musées */
             D  #134088,  /* Plongées */
             D1 #098d8d,  /* Plongée sans bouteille */
             E  #A05481 !default; /* Evenements */

// COMMONS COLORS
$dark-grey: #4d4d4d !default;
$neutral-grey: #e6e6e6 !default;
$light-grey: #f2f2f2 !default;

$alert-color: #EF9A9A !default;
$valid-color: #C5E1A5 !default;
$info-color: #81D4FA !default;
$warning-color: #FFCC80 !default;
$linear-highlight-color: yellow !default;


// MAP AND MARKERS COLORS
$departure-color: #429f46 !default;
$arrival-color: #c52727 !default;
$stick-color: #8c6d62 !default;
$parking-color: #3964ED !default;
$ref-point-color: #E83737 !default;
$services-color: #3964ED !default;

$json-custom-style: true;
