/*	VAR YOU CAN CHANGE TO CONFIG YOUR GEOTREK VERSION	*/
/*														*/

$font-family: Helvetica, Arial, sans-serif;


//  BRAND AND CATEGORIES COLORS
//
$primary-color: #f39400;
$secondary-color: #444;

$alert-color: #a94442;

$categories: treks #2b81d2, musee #524e67, restaurants #ee5038, sorties #7fa538, events #2bd4d2, pleine-nature #524e67;

// COMMONS COLORS
$dark-grey: #4d4d4d;
$neutral-grey: #e6e6e6;
$light-grey: #f2f2f2;