/*	VAR YOU CAN CHANGE TO CONFIG YOUR GEOTREK VERSION	*/
/*														*/

$font-family: Helvetica, Arial, sans-serif;


//  BRAND AND CATEGORIES COLORS
//
$primary-color: #f39400;
$secondary-color: #444;

$alert-color: #a94442;

$treks-color: #2b81d2;
$museums-color: #524e67;
$restaurants-color: #ee5038;
$outing-color: #7fa538;
$events-color: #2bd4d2;

// COMMONS COLORS
$dark-grey: #4d4d4d;
$light-grey: #f2f2f2;