@import '_daterangepicker';

.categories-head {
    text-transform: uppercase;
    white-space: nowrap;
    padding: 10px 0 5px 0;
    .categories-title,
    .categories-all-check,
    .categories-filters-close,
    .categories-close {
        display: inline-block;
    }
    .categories-title {
        width: 90px;
        text-align: center;
        @media (max-width: 540px) {
            width: 55px;
        }
    }

    .categories-all-check {
        position: relative;
        left: 4px;

        .fa-check {
            display: none;
        }
        &.checked .fa-check {
            display: block;
            opacity: .4;
        }
        &.full .fa-check {
            opacity: 1;
        }
    }

    .categories-filters-close,
    .categories-close {
        width: 120px;
        position: relative;
        z-index: 13;
        @media (max-width: 540px) {
            width: 125px;
        }
    }

    .categories-filters-close {
        visibility: hidden;
        padding-left: .7em;
        .stripe {
            display: inline-block;
            vertical-align: top;
            svg {
                display: inline-block;
                vertical-align: top;
                fill: #fff;
                width: 7px;
                transform: rotate(180deg);
            }
        }
    }

    .categories-close {
        text-align: right;
        .cross {
            display: inline-block;
            vertical-align: top;
            svg {
                display: inline-block;
                vertical-align: top;
                fill: #fff;
                width: 11px;
                transform: rotate(180deg);
            }
        }
    }
    button {
        border: none;
        background-color: transparent;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }
}

.categories-wrapper {
    transition: width 150ms ease;
    transition-delay: 150ms;
    @include transitionfuse;

    &.extend {
        width: 365px;
        @media (max-width: 540px) {
            width: 320px;
        }
    }

    @if $json-custom-style {
        &.extend:not(.filtering) {
            @each $category in $categories {
                .category-#{nth($category, 1)} {
                    background-color: rgba(nth($category, 2), .5);
                }
            }
        }
    }

    @if $json-custom-style {
        &.extend.filtering {
            @each $category in $categories {
                .open.category-#{nth($category, 1)} {
                    background-color: rgba(nth($category, 2), .5);
                    button.filter-button {
                        color: nth($category, 2);
                    }
                }
            }
        }
    }

    &.extend.filtering {
        .open button.filter-button {
            display: inline-block;
            padding: .35em .1em .10em 1.75em;
            font-weight: bold;
            border: none;
            border-radius: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, .8);
            text-transform: uppercase;
            margin: .35em 0;
        }
        .categories-filters-close {
            visibility: visible;
        }
        .open .category-filters {
            right: 0;
        }
    }
}

.categories {
    list-style: none;
    padding: 0;

    & > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        height: calc(100% - 36px);
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0 -15px 0 0;
        .ie & {
            margin-right: -18px;
        }
    }


    height: 100%;
    // width: 100%;
    // position: relative;

    white-space: nowrap;
    margin-bottom: 0;

    background-color: #EFEFEF;

    .category-icon,
    .category-title,
    .category-filters-link {
        display: inline-block;
        vertical-align: top;
        height: 50px;
    }

    .category-title::after {
        content: " ";
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 2px solid #333;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        margin-left: .7em;
    }

    .active {
        .category-icon,
        .category-title {
            opacity: 1;
            color: #fff;
        }

        .category-title::after {
            transform: rotate(-135deg);
            border-color: #fff;
            vertical-align: -4.2px;
        }

        @if $json-custom-style {
            @each $category in $categories {
                &.category-#{nth($category, 1)} {
                    .category-title {
                        background-color: nth($category, 2);
                    }
                }
            }
        }
    }

    .category-icon {
        opacity: .3;
        width: 90px;
        padding: 3px 0;
        @media (max-width: 540px) {
            width: 55px;
            padding: 6px 3px 6px 0;
        }
        text-align: center;

        .circle {
            display: inline-block;
            width: 44px;
            height: 44px;
            line-height: 44px;
            overflow: hidden;
            @media (max-width: 540px) {
                width: 38px;
                height: 38px;
                line-height: 38px;
            }
            border-radius: 50%;
            // background-color: currentColor;
            position: relative;

            img, svg {
                width: 100%;
                height: 100%;
            }

        }
    }

    @if $json-custom-style {
        @each $category in $categories {
            .category-#{nth($category, 1)} {
                .category-icon .circle {
                    background-color: nth($category, 2);
                }
            }
        }
    }

    .category-title {
        cursor: pointer;
        opacity: .5;
        overflow: hidden;
        line-height: 50px;
        padding: 0 20px;
        white-space: nowrap;
    }

    .category-title-checkbox {
        vertical-align: middle;
    }

    .category-title-text {
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        line-height: 1.2;
        white-space: normal;
        max-width: 200px;
    }

    .category-filters-link {
        border: none;
        margin: 0;
        padding: 0;
        width: 40px;
        @media (max-width: 540px) {
            width: 30px;
        }
        transition: all 100ms ease;
        @include transitionfuse;
        &:hover {
            margin-left: -5px;
            width: 45px;
        }
        .stripe {
            display: inline-block;
            svg {
                display: inline-block;
                vertical-align: middle;
                fill: #fff;
            }
        }
    }

    @if $json-custom-style {
        @each $category in $categories {
            .category-#{nth($category, 1)} {
                .category-filters-link {
                    background-color: nth($category, 2);
                }
            }
        }
    }

    .category {
        width: 100%;
        min-height: 0;
        flex-direction: column;

        transition: background-color 150ms ease;

        &.active {
            a {
                color: white;
                svg {
                    fill: white !important;
                }
            }
        }

        .menu-header {
            width: 100%;
            height: 51px;
        }

        .category-name {
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            padding: 1em .5em;
            height: 50px;
            i {
                font-size: 1.2em;
            }
            span {
                vertical-align: middle;
            }
        }

        .more-or-less {
            height: 20px;
            width: 20px;
            position: absolute;
            display: block;
            margin-right: 0.5rem;
            right: 0px;
            top: 50%;
            margin-top: -10px;


            .bar {
                width: 10px;
                height: 2px;
                background: white;
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -1px;
                transition: all 0.2s ease-out;
                @include transitionfuse;

                &:first-child {
                    transform: rotate(90deg);
                }
            }
        }

        .category-filters {
            color: #FFF;
        }

        .filter-title {
            padding: 0 1.25em;
            margin-right: 15px;
            margin-left: 15px;
            text-align: center;
            position: relative;
            > span:first-child {
                font-weight: bolder;
            }
        }

        .slider {
            .slider-container {
                padding: 0 1em 1.75em;
                margin: 0 15px;
            }
            label {
                margin-top: 0.4em;
                font-size: 0.85em;
                font-weight: 300;
            }
            .min-label {
                float: left;
            }
            .max-label {
                float: right;
            }
        }

        rzslider {
            margin: 15px 0 15px 0;
            .rz-bar {
                background: transparentize(white, 0.7);
                height: 5px;
                &.rz-selection {
                    background: white;
                }
            }

            span.rz-pointer {
                background-color: rgba(255, 255, 255, .5);
                &:focus {
                    outline: none;
                }
                &:after {
                    background-color: #666;
                }
                &.rz-active {
                    background-color: rgba(255, 255, 255, 1);
                    &:after {
                        background-color: black;
                    }
                }
            }

            span.rz-bubble {
                display: none;
            }

            .rz-ticks {
                top: -1px;
            }

            .rz-ticks .tick {
                background-color: rgba(255,255,255,.3);
                width: 7px;
                height: 7px;
            }

            .rz-ticks .tick.selected {
                background-color: white;
            }
        }

        .choices {
            width: 100%;
            overflow: hidden;
            padding: .35em 0;
            margin: 0 15px;
            z-index: 11;
            display: flex;
            .form-group {
                margin-bottom: 0;
                margin-right: 30px;
                position: relative;
                input[type="checkbox"], input[type="radio"] {
                    display: block;
                    position: absolute;
                    cursor: pointer;
                    color: white;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    margin: 0;
                    z-index: 11;
                    &:focus {
                        outline: none;
                        outline-color: transparent;
                        outline-style: none;
                        box-shadow: 0px 1px 2px 0px $dark-grey;
                    }
                }
                label {
                    margin: 0;
                    padding: 0;
                    font-size: 0.85rem;
                    line-height: 0.85rem;
                    font-weight: normal;
                    span {
                        vertical-align: middle;
                    }
                }
                .category-filters-practice-icon,
                .category-filters-theme-icon {
                    display: inline-block;
                    vertical-align: middle;
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, 0.4);
                    width: 36px;
                    height: 36px;
                    padding: 5px;
                    img {
                        max-width: 100%;
                    }
                    svg {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                input:checked + label .category-filters-theme-icon {
                    background-color: rgba(255, 255, 255, 1);
                }
                &.date-picker {
                    box-shadow: none;
                    margin-right: 10px;
                    margin-left: 10px;
                    position: relative;
                    input {
                        width: 100%;
                        border: 1px solid rgba(255, 255, 255, 0.3);
                        border-radius: 0;
                        background: transparent;
                        -webkit-appearance: none;
                        color: white;
                        background-color: rgba(0, 0, 0, 0.1);
                        vertical-align: middle;
                        padding-right: 15%;
                        &:focus, &:active {
                            background-color: rgba(0, 0, 0, 0.2);
                            box-shadow: none;
                        }
                    }
                    button.filter-button {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 15%;
                        height: 34px;
                        padding: 12px;
                        margin: 0;
                        background: none;
                    }
                    .cross {
                        height: 100%;
                        width: 100%;
                        display: block;
                        opacity: 0.7;
                        transition: opacity 0.2s ease-out;
                        svg {
                            height: 100%;
                            width: 100%;
                            fill: white;
                            display: block;
                        }
                    }
                    .filter-button:hover .cross {
                        opacity: 1;
                    }
                }
            }
        }
    }

    @if $json-custom-style {
        @each $category in $categories {
            .category-#{nth($category, 1)} {
                .category-filters {
                    background-color: nth($category, 2);
                }
            }
        }
    }
}

.categories.tabs {
    margin-bottom: 0;

    li.category-tab {
        display: inline-block;
    }
}

.category-filters {
    z-index: 12;
    transition: opacity 0.3s ease-out,
                right 250ms ease-out;
    @include transitionfuse;

    form {
        width: 100%;
        height: 100%;
        padding: 0;
        position: relative;
        overflow-y: auto;
        &:before {
            content: "";
            display: block;
            background-color: rgba(0, 0, 0, .6);
            position: absolute;
            top: 0;
            right: 10px;
            left: 10px;
        }
    }
    .filters-group {
        padding: 8px 0;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        @media (min-width: 564px) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        .slider {
            flex: 1 1 auto;
        }
    }
    .checkbox {
        color: #FFF;
    }
    .selector {
        margin: 0;
        position: relative;
        transition: all 0.1s ease-out;
        @include transitionfuse;

        position: relative;
        &.empty {
            display: none;
        }
        & > span {
            display: block;
            padding: 1em;
        }

    }
}
