<div class="resultsview-pane map-pane general-map">
    <geotrek-map></geotrek-map>
    <filters-tags ng-if="showFiltersOnMap"></filters-tags>
</div>
<div class="resultsview-pane results-pane results-drawer" ng-class="{ 'fold-results': foldResults }">
    <div class="results-pane-controls toggle-pane-controls" ng-class="{ 'fold-results': foldResults }">
      <button class="results-pane-toggle toggle-pane-toggle" ng-click="resultsPaneToggle()">
        <ng-include class="stripe" src="'/images/icons/stripe.svg'"></ng-include>
      </button>
    </div>
    <viewport-filter></viewport-filter>
    <results-liste></results-liste>
</div>
