<div class="resultsview-pane map-pane general-map">
    <global-filters></global-filters>
    <geotrek-map></geotrek-map>
    <filters-tags ng-if="showFiltersOnMap"></filters-tags>
</div>
<div class="results-pane-controls" ng-class="{ 'fold-results': foldResults }">
    <button class="results-pane-toggle" ng-click="resultsPaneToggle()">
        <ng-include class="stripe" src="'/images/icons/stripe.svg'"></ng-include>
    </button>
</div>
<div class="resultsview-pane results-pane results-drawer" ng-class="{ 'fold-results': foldResults }">
    <results-liste></results-liste>
</div>
