<div class="category-{{result.properties.category.id}}">
    <ul class="detail-actions">
        <li class="back-to-home">
            <a href title="{{'BACK' | translate}}"  ng-click="back()" tooltip-placement="right" tooltip="{{'BACK' | translate}}">
                <i class="fa fa-reply"></i>
                <span class="sr-only">{{'BACK' | translate}}</span>
            </a>
        </li>
        <li ng-if="result.properties.printable" class="print">
            <a href="{{result.properties.printable}}" title="{{'PRINT' | translate}}"  tooltip-placement="right" tooltip="{{'PRINT' | translate}}">
                <i class="fa fa-print"></i>
                <span class="sr-only">{{'PRINT' | translate}}</span>
            </a>
        </li>
        <li class="favorites">
            <a href title="{{'REMOVE_FAVS' | translate}}" class="isFav" ng-if="isInFavorites(result)" ng-click="toggleFavorites(result)" tooltip-placement="right" tooltip="{{'REMOVE_FAVS' | translate}}">
                <i class="fa fa-{{favIcon}}"></i>
                <span class="sr-only">{{'REMOVE_FAVS' | translate}}</span>
            </a>

            <a href title="{{'ADD_FAVS' | translate}}" ng-if="!isInFavorites(result)" ng-click="toggleFavorites(result)" tooltip-placement="right" tooltip="{{'ADD_FAVS' | translate}}">
                <i class="fa fa-{{favIcon}}"></i>
                <span class="sr-only">{{'ADD_FAVS' | translate}}</span>
            </a>
        </li>
        <li class="signal">
            <a href title="{{'WARNING' | translate}}" tooltip-placement="right" tooltip="{{'WARNING' | translate}}">
                <i class="fa fa-pencil"></i>
                <span class="sr-only">{{'WARNING' | translate}}</span>
            </a>
        </li>
        <li ng-if="result.properties.kml" class="kml">
            <a href="{{result.properties.kml}}" title="{{'KML' | translate}}" tooltip-placement="right" tooltip="{{'KML' | translate}}">
                <span class="txt-icon">KML</span>
                <span class="sr-only">{{'KML' | translate}}</span>
            </a>
        </li>
        <li ng-if="result.properties.gpx" class="gpx">
            <a href="{{result.properties.gpx}}" title="{{'GPX' | translate}}" tooltip-placement="right" tooltip="{{'GPX' | translate}}">
                <span class="txt-icon">GPX</span>
                <span class="sr-only">{{'GPX' | translate}}</span>
            </a>
        </li>
        <li ng-if="result.properties.contentType === 'trek'" class="rep-3d">
            <a href title="{{'3D' | translate}}" tooltip-placement="right" tooltip="{{'3D' | translate}}" ng-click="show3d()">
                <span class="txt-icon">3D</span>
                <span class="sr-only">{{'3D' | translate}}</span>
            </a>
        </li>
    </ul>
</div>