<ul class="toolbar-display-modes">
    <li>
        <a href class="map-list"
            ng-click="switchDisplayModeTo('map-list')"
            tooltip-placement="right"
            tooltip="{{'DISPLAY_MODE_MAP_LIST' | translate}}"
        >
            <i class="fa fa-list-ul"></i>
            <span class="toolbar-action-label">{{'DISPLAY_MODE_MAP_LIST' | translate}}</span>
        </a>
    </li>
    <li>
        <a href class="map"
            ng-click="switchDisplayModeTo('map')"
            tooltip-placement="right"
            tooltip="{{'DISPLAY_MODE_MAP' | translate}}"
        >
            <i class="fa fa-list-ul"></i>
            <span class="toolbar-action-label">{{'DISPLAY_MODE_MAP' | translate}}</span>
        </a>
    </li>
    <li>
        <a href class="list"
            ng-click="switchDisplayModeTo('list')"
            tooltip-placement="right"
            tooltip="{{'DISPLAY_MODE_LIST' | translate}}"
        >
            <i class="fa fa-list-ul"></i>
            <span class="toolbar-action-label">{{'DISPLAY_MODE_LIST' | translate}}</span>
        </a>
    </li>
    <li>
        <a href class="thumbnails"
            ng-click="switchDisplayModeTo('thumbnails')"
            tooltip-placement="right"
            tooltip="{{'DISPLAY_MODE_THUMBNAILS' | translate}}"
        >
            <i class="fa fa-th-large"></i>
            <span class="toolbar-action-label">{{'DISPLAY_MODE_THUMBNAILS' | translate}}</span>
        </a>
    </li>
</ul>
