.results-list-wrapper {
    overflow: auto;
    height: 100%;
    width: 100%;
}

.results-count {
    padding: 1em 0;
    text-align: center;
    position: relative;
    background-color: #fff;

    font-family: serif;
    font-style: italic;
    font-size: 1.4em;

    &:before {
        content: " ";
        border-bottom: 1px solid black;
        position: absolute;
        top: 50%;
        left: 40px;
        right: 40px;
    }
}

.results-count-inner {
    position: relative;
    background-color: inherit;
    padding: 0 1em;
}

.no-results {
    display: block;
    width: 100%;
    padding: 5% 16%;
    text-align: center;
    font-size: 2rem;
    color: lighten($dark-grey, 50%);
}

.results-list { // ul
    background-color: inherit;
    list-style: none;
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.results-item { // li.result
    overflow: hidden;
    flex: 0 1 47%;
    max-height: 20rem;
    padding: 0 1em 2.4em;
    display: block;
    position: relative;
    opacity: 1;
    order: -1;
    border-left: 10px solid $primary-color;
    background: rgba(245, 245, 245, 1);
    margin: 0.5rem 1.5%;
    border: 2px solid rgba(230, 230, 230, 1);
    transition: all 0.1s ease-out;

    &:hover, &.hovered {
        transform: translateY(-5px);
        border-color: rgba(200, 200, 200, 1);
        background-color: rgba(250, 250, 250, 1);
    }


    @media (min-width: 768px) and (max-width: 1200px) {
        flex: 1 1 100%;
        max-width: 100%;
    }
    @media (max-width: 550px) {
        flex: 1 1 100%;
        max-width: 100%;
    }
    &.not-in-viewport {
        opacity: 0.5;
        order: 1;
    }
}

.result-visual {
    max-height: 150px;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
        transition: transform 0.2s ease;
    }
}

.result-actions {
    position: relative;
    height: 40px;
    margin-top: -20px;
}

.result-action {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;

    border-radius: 20px;
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid rgba(245, 245, 245, 1);
    color: #fff;
    background-color: rgba(120, 120, 120, 1);
    text-align: center;
    overflow: hidden;
    text-shadow: .5px .5px 1px rgba(0, 0, 0, .6);

    transition: all 250ms ease;

    @each $category in $categories {
        .category-#{nth($category, 1)} & {
            background-color: lighten(desaturate(nth($category, 2), 20), 20);
            &:hover {
                background-color: nth($category, 2);
            }
        }
    }

    &:hover {
        text-decoration: none;
        color: #fff;
    }

    svg {
        fill: #fff;
        position: absolute;
        max-width: 70%;
        max-height: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .results-item:hover &,
    .results-item.hovered & {
        @for $i from 0 through 5 {
            &:nth-child(#{$i}) {
                left: (45px * ($i - 1));
            }
        }
    }
}

.result-view-details {
    width: auto;
    max-width: 40px;
    .results-item:hover &,
    .results-item.hovered & {
        max-width: 300px;
        padding: 0 10px;
    }
}

.result-category-icon {
    z-index: 1;
    @each $category in $categories {
        .category-#{nth($category, 1)} & {
            background-color: nth($category, 2);
        }
    }
}

.result-fav-control {
    position: absolute;
    z-index: 2;
    top: .7em;
    right: .7em;
    cursor: pointer;
}

.result-fav-icon {
    color: rgba(0, 0, 0, .7);
    font-size: 1.3em;
    transition: color 0.2s ease;
    @include textoutline(#fff);

    .isFav & { color: rgba(200, 0, 0, 1); }
    &:hover  { color: rgba(120, 0, 0, .8); }
}

.result-title {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.2em;

    display: block;

    margin: .3em 0 0 0;
    a {
        text-decoration: none;

        color: inherit;
    }
}

.result-infos {
    display: block;

    span {
        font-size: .9em;
        &:not(:last-child):after {
            margin: 0 3px 0 6px;

            content: '-';
        }
    }
}


.result-themes {
    position: absolute;
    right: 15px;
    bottom: 0;
    left: 15px;

    border-top: 1px solid #aaa;
    padding-top: .2em;
}

.result-themes-label {
    font-size: .85em;
    display: inline-block;

    vertical-align: middle;
}

.result-themes-list {
    margin: 0;
    padding: 0;

    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

.result-theme {
    display: inline-block;
    overflow: hidden;

    width: 1.6em;
    height: 1.6em;
    margin-left: .2em;
    img,
    svg {
        max-width: 100%;
        max-height: 100%;
    }

    svg .base {
        fill: $dark-grey;
    }
}


.result-know-more {
    position: absolute;
    right: 0;
    bottom: 0;

    display: block;

    width: 0;
    height: 0;

    border-bottom: 40px solid $primary-color;
    border-left: 40px solid transparent;

    span {
        font-size: 1.5em;
        font-weight: 300;

        position: absolute;
        top: 11px;
        right: 6px;

        cursor: pointer;
        text-decoration: none;

        color: white;
    }
}

