<div class="favorites-liste">
    <div class="header">
        <span>Favoris</span>
        <div class="remove" ng-click="removeAllFavorites()" ng-if="favorites && favorites.length > 0"><i class="fa fa-trash"></i></div>
    </div>
    <ul ng-if="favorites && favorites.length > 0">
        <li ng-repeat="favorite in favorites" class="favorite category-{{favorite.properties.category.id}}" id="fav-category-{{favorite.properties.category.id}}-{{favorite.id}}">
            <a ui-sref="layout.detail({slug: favorite.properties.slug})">
                <div class="picture">
                    <img ng-src="{{favorite.properties.pictures[0].url}}" alt="{{favorite.properties.name}}-thumbnail"/>
                </div>
                <span class="name">{{favorite.properties.name}}</span>
            </a>
            <div class="remove" ng-click="removeAFavorite(favorite)">
                <i class="fa fa-trash"></i>
            </div>
        </li>
    </ul>
    <div ng-if="!favorites || favorites.length === 0" class="no-favorites">Vous n'avez pas encore de favoris !</div>
</div>