html,
body,
canvas {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-color: #00161F;
  background-image: url('img/background.jpg');
  background-size: 100% 100%;
  background-repeat: repeat-x;
}
canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.not-supported {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 3em;
}
.branding {
  background: url('../img/makina.png') no-repeat;
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 40px;
  min-width: 120px;
}
.attributions {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: auto;
  width: auto;
  padding: 3px;
  border-radius: 0.35em;
  color: white;
  font-size: 0.8em;
  font-family: ​​Helvetica, Arial;
}
.poi {
  z-index: 1;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  width: auto;
  height: auto;
  padding: 2px;
  border-radius: 0.35em;
  text-align: center;
  display: none;
}
.poi_side {
  z-index: 1;
  display: none;
  border-radius: 0.35em;
  color: white;
  background-color: rgba(20, 20, 20, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  float: left;
  width: 20%;
  height: 100%;
}
.poi_side p {
  text-align: justify;
  margin: 20px;
}
.poi_side .description {
  width: 100%;
}
.poi_side h2 {
  text-align: center;
  margin: 20px;
}
.poi_side .close_btn {
  position: absolute;
  right: 0px;
  margin: 10px;
}
.poi_side .close_btn img {
  width: 20px;
  height: 20px;
}
.poi_side .close_btn:hover {
  pointer-events: pointer;
}
.camera_switcher {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.35em 0 0 0.35em;
  position: absolute;
  top: 100px;
  bottom: auto;
  left: auto;
  right: 0px;
  padding: 2px;
  margin: 0px;
}
.camera_switcher .camera {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  text-align: center;
}
.camera_switcher .camera .camera-title {
  font-size: 12px;
  color: white;
}
.camera_switcher .camera .camera-icon {
  display: block;
}
.camera_switcher .camera .camera-icon img {
  height: 50px;
}
.camera_switcher .camera:last-child {
  border-bottom: none;
}
.camera_switcher .camera--enabled:hover .camera-icon {
  opacity: 1;
}
.camera_switcher .camera--selected {
  cursor: auto;
  border-left: 2px solid white;
}
.camera_switcher .camera--selected .camera-icon {
  opacity: 1;
}
.camera_switcher .camera--selected .camera-title {
  font-weight: bold;
}
.camera_switcher .camera--disabled {
  cursor: default;
}
.camera_switcher .camera--disabled .camera-icon {
  opacity: 0.5;
}
.controls {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 0 0 0.35em 0.35em;
  position: absolute;
  top: 0px;
  right: 0px;
  height: auto;
  width: 300px;
  padding: 5px;
  display: none;
  float: right;
}
.controls span {
  float: left;
  width: 100%;
  margin: 5px;
}
.controls img {
  vertical-align: sub;
}
.controls h2,
.controls h3,
.controls h4 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  text-align: center;
}
