.pois-liste {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    li {
        width: 96%;
        margin: 2%;
        display: flex;
        background: white;
        color: $dark-grey;
        transition: all 0.2s ease;
        .card-part {
            flex: 1;
            min-width: 50%;
        }
        .header {
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
        .infos {
            flex: 1;
            padding: 1em;
            a {
                font-size: 1.2em;
                padding: 0.6em 0;
                display: inline-block;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
        .title {
            font-size: 1.5em;
            font-weight: 300;
            margin-top: 0.1em;
        }
        .type {
            img {
                height: 1.3em;
                margin-right: 0.6em;
                width: auto;
            }
            span {
                color: lighten($dark-grey, 20%);
                vertical-align: middle;
            }
        }
        .hidden-part {
            flex-shrink: 1;
            flex-grow: 1;
            flex-basis: auto;
            max-height: 900em;
            overflow: hidden;
            transition: all 0.2s ease;
            .description {
                padding: 1em;        
            }
        }
        &.closed {
            width: 46%;
            .hidden-part {
                max-height: 0;
                width: 0;
                flex-grow: 0.0000001;
            }
        }
    }
}