.poi-list {
    margin: 0;
    padding: 0 0 2em 0;

    list-style: none;
}

.poi-item {
    font-size: 1.2em;

    position: relative;

    overflow: hidden;

    margin: 0;

    list-style-type: none;

    color: $dark-grey;
    border: 2px solid rgba(230, 230, 230, 1);
    background: white;

    + .poi-item {
        margin-top: 1em;
    }
}

.leaflet-popup {
    .poi-item {
        margin: -16px -21px;
    }
    .poi-picture,
    .poi-fold,
    .poi-overlay,
    .poi-drawer {
        display: none;
    }
}

.poi-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: opacity 300ms ease;

    opacity: 0;
    background-color: rgba(#000, .4);

    .plus {
        position: absolute;
        top: 6.5em;
        left: 50%;

        width: 38px;
        height: 38px;

        border-radius: 50%;
        background-color: #333;
        border: 1px solid #fff;
        transform: translate(-50%, -50%);
        &:before, &:after {
            content: " ";
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: #fff;
            transform: translate(-50%, -50%);
            width: 3px;
            height: 16px;
        }
        &:after {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    &.visible {
        opacity: 1;
    }
    .expanded & {
        bottom: 100%;
        opacity: 0;
    }
}

.poi-fold {
    position: absolute;
    right: 0;
    bottom: -1.75em;
    left: 0;

    height: 1.5em;

    cursor: pointer;
    transition: bottom 300ms ease;
    text-align: center;

    opacity: .7;
    background-color: rgba(#000, .05);

    .stripe-icon {
        display: inline-block;

        transform: rotate(-90deg);
        svg {
            display: inline-block;
        }
    }

    .expanded & {
        bottom: 0;
    }

    &:hover {
        opacity: 1;
    }
}

.poi-picture {
    position: relative;

    width: 100%;
    height: 0;
    padding-bottom: 50%;

    cursor: pointer;

    background-position: center center;
    background-size: cover;
}

.poi-picture-how-many {
    font-size: .8em;
    font-weight: bold;

    position: absolute;
    right: 1.2em;
    bottom: .5em;

    opacity: .5;
    color: #fff;
    text-shadow: .5px .5px 1px rgba(0, 0, 0, .6);
    .camera {
        display: inline-block;

        margin-left: 5px;

        vertical-align: middle;
    }
    .expanded & {
        opacity: 1;
    }
}

.poi-picture-empty {
    cursor: default;
}

.poi-picture-credits {
    font-size: .8em;

    position: absolute;
    bottom: .25em;
    left: 1em;
    right: 1em;

    width: 100%;

    text-align: left;

    color: white;
    text-shadow: .5px .5px 1px rgba(0, 0, 0, .6);
}

.poi-content {
    padding: 1em;

    .expanded & {
        padding-bottom: 2em;
    }
}

.poi-title {
    font-size: 1em;
    font-weight: bold;

}

.poi-type {
    font-size: .8em;
    font-weight: lighter;

    display: block;
    img {
        width: auto;
        height: 1.3em;
        margin-right: .25em;
    }
}

.poi-drawer {
    overflow: hidden;

    max-height: 0;

    transition: max-height 300ms ease;
    .expanded & {
        max-height: 100vh;
    }
}

.poi-description {
    margin-top: 1em;
}

.poi-media-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.poi-media {
    display: inline-block;

    margin: 0 1em 0 0;
}

.poi-media-link {
    font-size: 1.5rem;

    color: inherit;
    &:hover {
        color: $primary-color;
    }
}
