<!DOCTYPE html>
<html lang="fr" ng-app="geotrekRando">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Geotrek rando</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <meta ng-repeat="tag in $root.twitterTags" name="{{tag.name}}" content="{{tag.content}}">
  <meta ng-repeat="tag in $root.facebookTags" property="{{tag.property}}" content="{{tag.content}}">
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <link rel="stylesheet" href="rando.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
  <!--[if IE 9]>
    <script type="text/javascript" src="app/vendors/scripts/xhr-xdr-adapter.js"></script>
    <link rel="stylesheet" type="text/css" href="ie9-compatibility.css">
  <![endif]-->
  <script src="rando-vendors.js"></script>
  <script src="rando.js"></script>
</head>
<body>
  <div ui-view class="main-container"></div>
</body>
<script> 
  var $buoop = {
    c:2,
    vs: {i:9,f:30,o:27,s:7},
    reminder: 0,
    reminderClosed: 1,
    test: false,
    text_fr: "Votre navigateur ne permet pas l'affichage du site dans des conditions optimales. Dans un objectif de <b>performance</b>, de <b>sécurité</b> et de <b>qualité de visite</b>, <a>nous vous recommandons de mettre à jour votre navigateur</a>",
  }; 
  function $buo_f(){
    var e = document.createElement("script");
    e.src = "//browser-update.org/update.min.js";
    document.body.appendChild(e);
  }
  try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
  catch(e){window.attachEvent("onload", $buo_f)}
</script>
</html>