<!DOCTYPE html>
<html lang="fr" ng-app="geotrekRando">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Geotrek rando</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <meta ng-repeat="tag in $root.twitterTags" name="{{tag.name}}" content="{{tag.content}}">
  <meta ng-repeat="tag in $root.facebookTags" property="{{tag.property}}" content="{{tag.content}}">
  <link rel="stylesheet" href="rando.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
  <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="ie9-compatibility.css">
  <![endif]-->
  <script src="rando-vendors.js"></script>
  <script src="rando.js"></script>
</head>
<body>
  <div ui-view class="main-container"></div>
</body>
</html>