{% load i18n localeurl_tags leaflet_tags %}

<form id="feedback-form" method="POST" action='{% locale_url request.LANGUAGE_CODE "feedback:feedback_view" %}'>

    {% csrf_token %}

    {{ form.non_field_errors}}
    <div class="container-fluid">

        <div class="row-fluid">

            <div class="left-side span6">

                <div id="feedbackmap">
                <div class="helpclic"><p>{% trans "You can click to mark a place" %}</p></div>
                </div>
                {% leaflet_map 'feedbackmap' fitextent=False creatediv=False callback="feedbackmapInit" %}

                <div class="map-fields">
                    <div class="row-fluid">
                        <div class="span6">
                            <label for="id_{{ form.latitude.label}}">{{ form.latitude.label }}</label>
                            {{ form.latitude }}
                            {{ form.latitude.errors }}
                        </div>

                        <div class="span6">
                            <label for="id_{{ form.longitude.label}}">{{ form.longitude.label }}</label>
                            {{ form.longitude }}
                            {{ form.longitude.errors }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-side span6">

                <div>
                    <h5>{% trans "You can contact our team to tell us any problem on this trek." %}</h5>
                </div>

                <div class="field-wrapper row-fluid">
                    <div class="span3">
                        <label for="id_{{ form.name.label}}" class="mandatory">{{ form.name.label }}</label>
                    </div>
                    <div class="span9">
                    {{ form.name }}
                    </div>
                    {{ form.name.errors }}
                </div>

                <div class="field-wrapper row-fluid">
                    <div class="span3">
                        <label for="id_{{ form.email.label}}" class="mandatory">{{ form.email.label }}</label>
                    </div>
                    <div class="span9">
                        {{ form.email }}
                    </div>
                    {{ form.email.errors }}
                </div>

                <div class="field-wrapper row-fluid">
                    <div class="span3">
                        <label for="id_{{ form.category.label}}" class="mandatory">{{ form.category.label }}</label>
                    </div>
                    <div class="span9">
                        {{ form.category }}
                    </div>
                    {{ form.category.errors }}
                </div>

                <div class="field-wrapper row-fluid">
                    <div class="span3">
                        <label for="id_{{ form.comment.label}}" class="mandatory">{{ form.comment.label }}</label>
                    </div>
                    <div class="span9">
                        {{ form.comment }}
                    </div>
                    {{ form.comment.errors }}
                </div>

                <div class="field-wrapper row-fluid">
                    <div class="span3">
                        <label for="id_{{ form.captcha.label}}" class="mandatory">{{ form.captcha.label }}</label>
                    </div>
                    <div class="span9">
                        {{ form.captcha }}
                    </div>
                    {{ form.captcha.errors }}
                </div>

            </div>

        </div>
    </div>
</form>
