'use strict'

/* SERVICE DECLARATION TEMPLATE

angular.module('rando.custom').service('nameOfYourService', function (aDependency, anotherDependency) {

    this.myMethod = function () {
        return 'Yeah it works !';
    };


});

/!\ the name of the module must be 'rando.custom', otherwise you'll get an error of a non existing module.

HINT: You can declare as many services as you whish

*/
