.load {
    position: absolute;
    z-index: 300;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255,255,255,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    height: 100%;

    &.load-3d {
        background: transparent;
        width: 60px;
        height: 60px;
        top: 50%;
        left: 50%;
        margin-top: -30px;
        margin-left: -30px;
        .dot1, .dot2 {
            background-color: #fff;
        }
    }
}

.layout-detail {
    .load {
        top: 50px;
        @media (max-width: 767px) {
            top: 30px;
        }
    }
}


.spinner {
    margin: 100px auto;
    width: 60px;
    height: 60px;
    position: relative;;
    text-align: center;

    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    @if $json-custom-style {
        background-color: $primary-color;
    }
    border-radius: 100%;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
