.translation-menu {
    position: absolute;
    right: 55px;
    top: 0;
    background-color: $dark-grey;
    display: none;
    width: 0;
    transition: all .2s ease;
    &.show-translation-menu {
        display: block;
        width: auto;
    }
}
